SynProdGITV1/force-app/main/default/flows/Account_Industry_Segment_After_Insert_Or_Update_Update_Reporting_Sub_Group_on_Ac.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_to_IndustrySegment_Collection</name>
        <label>Add_to_IndustrySegment_Collection</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>colIndustrySegments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_AIS.Industry_Segment__r.Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtIndustrySegmentsTracker</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaTextGroupTracker</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_AIS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_IndustrySegments_String</name>
        <label>Assign Final IndustrySegments String</label>
        <locationX>264</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>txtFinalIndustrySegments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaFinalTextGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_IndustrySegments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_IndustrySegment_Already_Exists</name>
        <label>Check if IndustrySegment Already Exists</label>
        <locationX>352</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Add_to_IndustrySegment_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtIndustrySegmentsTracker</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_AIS.Industry_Segment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_AIS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>SS2-T151 : Update Account’s Sub Reporting Groups when AIS is created or Account changes.</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaFinalTextGroup</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!txtFinalIndustrySegments}),
  {!Loop_Through_IndustrySegments},
  {!txtFinalIndustrySegments} &amp; &quot;,&quot; &amp; {!Loop_Through_IndustrySegments}
)</expression>
    </formulas>
    <formulas>
        <name>formulaTextGroupTracker</name>
        <dataType>String</dataType>
        <expression>{!txtIndustrySegmentsTracker} &amp; &quot;,&quot; &amp; {!Loop_through_AIS.Industry_Segment__c}</expression>
    </formulas>
    <interviewLabel>Account Industry Segment - After Insert Or Update - Update  Reporting Sub Group on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Industry Segment - After Insert Or Update - Update  Reporting Sub Group on Account</label>
    <loops>
        <name>Loop_through_AIS</name>
        <label>Loop through AIS</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_AIS_for_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_IndustrySegment_Already_Exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_IndustrySegments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_IndustrySegments</name>
        <label>Loop Through IndustrySegments</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <collectionReference>colIndustrySegments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Final_IndustrySegments_String</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AIS_for_Account</name>
        <label>Get AIS for Account</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_AIS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Industry_Segment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Account</name>
        <label>Update Related Account</label>
        <locationX>176</locationX>
        <locationY>1223</locationY>
        <faultConnector>
            <targetReference>Log_an_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Industry_Segments__c</field>
            <value>
                <elementReference>txtFinalIndustrySegments</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_AIS_for_Account</targetReference>
        </connector>
        <filterFormula>ISNEW() || (NOT(ISNEW()) &amp;&amp; {!$Record.Account__c} != {!$Record__Prior.Account__c})</filterFormula>
        <object>Account_Industry_Segment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Creates an error log record when this flow element fails.</description>
        <name>Log_an_Error</name>
        <label>Log an Error</label>
        <locationX>440</locationX>
        <locationY>1331</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Account Industry Segment - After Insert Or Update - Reporting Sub Group Update on Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Update_Related_Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while updating Related Account Record</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>colIndustrySegments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtFinalIndustrySegments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtIndustrySegmentsTracker</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
