SynProdGITV1/force-app/main/default/flows/Case_Before_Update_Case_Completion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_ContactIDs</name>
        <label>Add ContactIDs</label>
        <locationX>1287</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>StoreContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_Member_Ids_in_collection.MemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Member_Ids_in_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Users</name>
        <label>Add Users</label>
        <locationX>1551</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>StoreMemberIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_Member_Ids_in_collection.MemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Member_Ids_in_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_template_to_Final_Text</name>
        <label>Assign template to Final Text</label>
        <locationX>1595</locationX>
        <locationY>3359</locationY>
        <assignmentItems>
            <assignToReference>FinalText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Users_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_in_temp_variables</name>
        <label>Assign values in temp variables</label>
        <locationX>1595</locationX>
        <locationY>3251</locationY>
        <assignmentItems>
            <assignToReference>VarName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Users_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Users_Loop.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseTeamMembersLoop.TeamRole.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_template_to_Final_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_field</name>
        <label>Assign values to field</label>
        <locationX>1067</locationX>
        <locationY>3911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Case_Members_And_Roles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalText</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment2</name>
        <label>Assignment2</label>
        <locationX>1595</locationX>
        <locationY>2267</locationY>
        <assignmentItems>
            <assignToReference>FinalText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>1595</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>VarName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Loop.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Case_Team_Members.TeamRole.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_First_Closure_Completed_as_True</name>
        <label>Set Case First Closure Completed as True</label>
        <locationX>473</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Case_First_Closure_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Team_Members</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Case_Team_Members_Error</name>
        <label>Case Team Members Error</label>
        <locationX>1595</locationX>
        <locationY>1019</locationY>
        <customErrorMessages>
            <errorMessage>No Case Team Members Found</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_if_Case_is_Closed_first_Time</name>
        <label>Check if Case is Closed first Time</label>
        <locationX>605</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Team_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_closing_first_time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_First_Closure_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_First_Closure_Completed_as_True</targetReference>
            </connector>
            <label>Case closing first time</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_null</name>
        <label>check if null</label>
        <locationX>1199</locationX>
        <locationY>3803</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinalText</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_field</targetReference>
            </connector>
            <label>NotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Object_type</name>
        <label>Check Object type</label>
        <locationX>1551</locationX>
        <locationY>1235</locationY>
        <defaultConnector>
            <targetReference>Assign_Member_Ids_in_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckIds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_ContactIDs</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckIds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_for_flow_bypass</name>
        <label>Check User for flow bypass</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Check_if_Case_is_Closed_first_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User can&apos;t bypass the Validation</defaultConnectorLabel>
        <rules>
            <name>User_can_bypass_the_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bypass_Flows_User_related_Flow.Is_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User can bypass the Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_Contact_ID_and_Member_ID</name>
        <label>Compare Contact ID and Member ID</label>
        <locationX>1727</locationX>
        <locationY>2051</locationY>
        <defaultConnector>
            <targetReference>Contact_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Case_Team_Members.MemberId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contact_Loop.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_1</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_Member_ID_and_User_ID</name>
        <label>Compare Member ID and User ID</label>
        <locationX>1727</locationX>
        <locationY>3143</locationY>
        <defaultConnector>
            <targetReference>Users_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsSame</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseTeamMembersLoop.MemberId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Users_Loop.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_in_temp_variables</targetReference>
            </connector>
            <label>IsSame</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contacts_Found</name>
        <label>Contacts Found</label>
        <locationX>1199</locationX>
        <locationY>1619</locationY>
        <defaultConnector>
            <targetReference>Users_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreContactIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreContactIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Case_Team_Member</name>
        <label>No Case Team Member</label>
        <locationX>605</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>Assign_Member_Ids_in_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Team_Members</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Users_Found</name>
        <label>Users Found</label>
        <locationX>1199</locationX>
        <locationY>2711</locationY>
        <defaultConnector>
            <targetReference>check_if_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreMemberIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreMemberIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>On case completion collect the list of team members and update it in the long text field so that it cannot be updated after the case is closed.
Note - If you are changing the flow API name please update the Get Bypass flow - user related flow element</description>
    <environments>Default</environments>
    <formulas>
        <name>CheckIds</name>
        <dataType>String</dataType>
        <expression>LEFT({!Assign_Member_Ids_in_collection.MemberId},3)</expression>
    </formulas>
    <interviewLabel>Case - Before Update - Case Completion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Before Update - Case Completion</label>
    <loops>
        <name>Assign_Member_Ids_in_collection</name>
        <label>Assign Member Ids in collection</label>
        <locationX>1199</locationX>
        <locationY>1127</locationY>
        <collectionReference>Get_Case_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Object_type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contacts_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CaseTeamMembersLoop</name>
        <label>CaseTeamMembersLoop</label>
        <locationX>1067</locationX>
        <locationY>2927</locationY>
        <collectionReference>Get_Case_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Users_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_if_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Contact_Loop</name>
        <label>Contact Loop</label>
        <locationX>1507</locationX>
        <locationY>1943</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compare_Contact_ID_and_Member_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Case_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Case_Team_Members</name>
        <label>Loop Case Team Members</label>
        <locationX>1067</locationX>
        <locationY>1835</locationY>
        <collectionReference>Get_Case_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Users_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Users_Loop</name>
        <label>Users Loop</label>
        <locationX>1507</locationX>
        <locationY>3035</locationY>
        <collectionReference>Get_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compare_Member_ID_and_User_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CaseTeamMembersLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the current user details if he can bypass the validation</description>
        <name>Get_Bypass_Flows_User</name>
        <label>Get Bypass Flows - User</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bypass_Flows_User_related_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the bypass user-related flow - child of Bypass Flows - user</description>
        <name>Get_Bypass_Flows_User_related_Flow</name>
        <label>Get Bypass Flows - User related Flow</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_for_flow_bypass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Flow_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_Before_Update_Case_Completion</stringValue>
            </value>
        </filters>
        <filters>
            <field>Data_Load_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bypass_Flows_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User_related_Flow__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Team_Members</name>
        <label>Get Case Team Members</label>
        <locationX>605</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Case_Team_Member</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Case_Team_Members_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>1067</locationX>
        <locationY>1727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Case_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>StoreContactIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>1067</locationX>
        <locationY>2819</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseTeamMembersLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>StoreMemberIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bypass_Flows_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!VarName} ({!varEmail}) : {!varRole}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>FinalText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreMemberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
