SynProdGITV1/force-app/main/default/flows/Case_Schedule_Status_Open_24Hrs_For_HENKEL_or_3_Days_for_Other.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Open_Email</name>
        <label>Send Open Email</label>
        <locationX>578</locationX>
        <locationY>1176</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Log_an_Error_2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderOrgWideEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Dear colleague,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kindly be informed that the Customer&amp;nbsp;Complaint ID: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CaseNumber}&lt;/span&gt; has not been reviewed and changed to a stage/status Initial Review. Please ensure that someone takes care of it immediately.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your CRM Support Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link to Case in mySalesForce: &lt;a href=&quot;{!URLBase}/lightning/r/Case/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(26, 115, 232);&quot;&gt;{!$Record.CaseNumber} : {!$Record.Subject}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The mySalesForce system automatically generated this message.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <description>Here we Check Customer group HENKEL or Other</description>
        <name>Check_Customer_HENKEL</name>
        <label>Check Customer HENKEL</label>
        <locationX>446</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HENKEL_And_Status_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Group_Key__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HENKEL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Group_Key__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Weekday_And_24Hrs_Passed</targetReference>
            </connector>
            <label>HENKEL And Status Open</label>
        </rules>
        <rules>
            <name>Status_Open_And_Customer_Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Group_Key__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNotHENKEL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Weekday_And_72Hrs_Passed</targetReference>
            </connector>
            <label>Status Open And Customer Others</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Weekday_And_24Hrs_Passed</name>
        <label>Check Weekday And 24Hrs Passed</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>has_24h_Passed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Recipients</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Weekday_And_72Hrs_Passed</name>
        <label>Check Weekday And 72Hrs Passed</label>
        <locationX>490</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Not Passed</defaultConnectorLabel>
        <rules>
            <name>yes_72Hrs_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>has72HrsPassed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Recipients</targetReference>
            </connector>
            <label>yes 72Hrs Passed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether Recipient List is empty or not, if yes then logs a record with Logging Level = Information</description>
        <name>Is_Recipient_List_Empty</name>
        <label>Is Recipient List Empty?</label>
        <locationX>446</locationX>
        <locationY>1068</locationY>
        <defaultConnector>
            <targetReference>Send_Open_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailRecipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Log</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_a_Weekend</name>
        <label>Not a Weekend</label>
        <locationX>908</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Weekday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWeekDay</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWeekDay</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OrgWideEmailAddress</targetReference>
            </connector>
            <label>Weekday</label>
        </rules>
    </decisions>
    <description>SS2-T218  Runs on weekdays to check &apos;Complaint&apos; Cases with status &apos;Open&apos;. Triggers if Henkel Cases are open &gt;24 hrs or others &gt;3 days from Created Date.
In version -5, the name-value pair for the Org-Wide Email Address was retrieved and configured in the Send Email element.</description>
    <environments>Default</environments>
    <formulas>
        <name>has72HrsPassed</name>
        <dataType>Boolean</dataType>
        <expression>((NOW() - {!$Record.CreatedDate}) * 24) &gt;72</expression>
    </formulas>
    <formulas>
        <name>has_24h_Passed</name>
        <dataType>Boolean</dataType>
        <expression>((NOW() - {!$Record.CreatedDate}) * 24) &gt;=24.01</expression>
    </formulas>
    <formulas>
        <description>Base Url of the system</description>
        <name>URLBase</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_610}, FIND(&quot;/services&quot;, {!$Api.Enterprise_Server_URL_610}) - 1)</expression>
    </formulas>
    <formulas>
        <name>varNotHENKEL</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS({!$Record.Account.Group_Key__c}, &quot;HENKEL&quot;))</expression>
    </formulas>
    <formulas>
        <name>varSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Notification of No response to Customer Complaint &apos; + {!$Record.CaseNumber} + &apos;: &apos; + {!$Record.Subject}</expression>
    </formulas>
    <formulas>
        <name>varWeekDay</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Schedule Status Open 24Hrs For HENKEL or 3 Days for Other</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Org Wide Email Address store in Name-Value Pair</description>
        <name>Get_OrgWideEmailAddress</name>
        <label>Get OrgWideEmailAddress</label>
        <locationX>446</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Customer_HENKEL</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SenderOrgWideEmailAddress</stringValue>
            </value>
        </filters>
        <object>Name_Value_Pair__mdt</object>
        <outputAssignments>
            <assignToReference>SenderOrgWideEmailAddress</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Not_a_Weekend</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complaint</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-29</startDate>
            <startTime>15:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Checks whether Recipient List is empty or not, if yes then logs a record with Logging Level = Information</description>
        <name>Create_Log</name>
        <label>Create Log</label>
        <locationX>314</locationX>
        <locationY>1176</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case Schedule Status Open 24Hrs For HENKEL or 3 Days for Other  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Is Recipient List Empty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>No recipients found.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Email_Recipients</name>
        <label>Get Email Recipients</label>
        <locationX>446</locationX>
        <locationY>960</locationY>
        <connector>
            <targetReference>Is_Recipient_List_Empty</targetReference>
        </connector>
        <flowName>SubFlow_Get_Recipient_for_Emails</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeTeam</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>EmailRecipients</assignToReference>
            <name>RecipientEmailAddresses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Logs an error record if error occurred while fetching email address</description>
        <name>Log_an_Error_1</name>
        <label>Log an Error</label>
        <locationX>1106</locationX>
        <locationY>468</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case Schedule Status Open 24Hrs For HENKEL or 3 Days for Other  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get OrgWideEmailAddress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while fetching email address</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error_2</name>
        <label>Log an Error</label>
        <locationX>842</locationX>
        <locationY>1284</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case Schedule Status Open 24Hrs For HENKEL or 3 Days for Other  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send Open Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while sending an email. </stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>EmailRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SenderOrgWideEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
