SynProdGITV1/force-app/main/default/flows/Case_Before_Insert_Or_Update_HQ_RHQ_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Empty_String_to_HQ_Account</name>
        <label>Assign Empty String to HQ Account</label>
        <locationX>572</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.HQ_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Empty_String_to_RHQ_Account</name>
        <label>Assign Empty String to RHQ Account</label>
        <locationX>704</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.RHQ_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_HQ_Exist_or_not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HQ_Account</name>
        <label>Assign HQ Account</label>
        <locationX>308</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.HQ_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Parent.Parent.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_RHQ_Account</name>
        <label>Assign RHQ Account</label>
        <locationX>176</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.RHQ_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Parent.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_HQ_Exist_or_not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_HQ_Account</name>
        <label>Assign HQ Account</label>
        <locationX>440</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.HQ_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RHQ_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_HQ_Exist_or_not</name>
        <label>Check HQ Exist or not?</label>
        <locationX>440</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>Assign_Empty_String_to_HQ_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Parent.Parent.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Parent.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_HQ_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RHQ_Exist_or_not</name>
        <label>Check RHQ Exist or not?</label>
        <locationX>440</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Assign_Empty_String_to_RHQ_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Account_Parent_RHQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Parent.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RHQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RHQ_Account</targetReference>
            </connector>
            <label>Account Parent - RHQ</label>
        </rules>
        <rules>
            <name>Account_Parent_HQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_HQ_Account</targetReference>
            </connector>
            <label>Account Parent - HQ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_for_flow_bypass</name>
        <label>Check User for flow bypass</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Check_RHQ_Exist_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User can&apos;t bypass the Validation</defaultConnectorLabel>
        <rules>
            <name>User_can_bypass_the_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bypass_Flows_User_related_Flow.Is_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User can bypass the Validation</label>
        </rules>
    </decisions>
    <description>Update HQ &amp; RHQ Account on Case
Note - If you are changing the flow API name please update the Get Bypass flow - user related flow element</description>
    <environments>Default</environments>
    <interviewLabel>Case - Before Insert Or Update HQ RHQ Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Before Insert Or Update HQ RHQ Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the current user details if he can bypass the validation</description>
        <name>Get_Bypass_Flows_User</name>
        <label>Get Bypass Flows - User</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bypass_Flows_User_related_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the bypass user-related flow - child of Bypass Flows - user</description>
        <name>Get_Bypass_Flows_User_related_Flow</name>
        <label>Get Bypass Flows - User related Flow</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_for_flow_bypass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Flow_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_Before_Insert_Or_Update_HQ_RHQ_Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Data_Load_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bypass_Flows_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User_related_Flow__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bypass_Flows_User</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED({!$Record.AccountId})</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
