SynProdGITV1/force-app/main/default/flows/Case_After_Insert_Update_Send_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Completed_Email</name>
        <label>Send Completed Email</label>
        <locationX>3482</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Log_an_Error_Send_Completed_Email</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OrgWideEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varSubjectCompleted</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Dear colleague,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Kindly be informed that the Customer Complaint ID: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!$Record.CaseNumber}&lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; has been Completed by {!$Record.LastModifiedBy.FirstName} &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!$Record.LastModifiedBy.LastName}&lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Reminders (Case Owner / Customer Caretaker):&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;If complaint costs are still pending, document final costs at a later time.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Now that you’ve completed the case, if any of the 8D complaint fields need to be updated/changed, submit a Synserv ticket to request the case to be moved back to the &quot;Customer Feedback&quot; stage to enable editing.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Next Steps (Case Owner)&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;: Complete and document Effectiveness Check to show that the corrective actions taken to address the complaint have been effective.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Best regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Your CRM Support Team&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Link to Case in mySalesForce: &lt;/span&gt;&lt;a href=&quot;{!URLBase}/lightning/r/Case/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(26, 115, 232); font-size: 12px;&quot;&gt;{!$Record.CaseNumber} : {!$Record.Subject}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The mySalesForce system automatically generated this message.&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Corrective_Action_Impl_Email</name>
        <label>Send Corrective Action Impl Email</label>
        <locationX>1898</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Log_an_Error_4</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OrgWideEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Dear colleague,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kindly be informed that the Customer Complaint ID: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CaseNumber}&lt;/span&gt; has been changed to a status Corrective Action Implementation by {!$Record.LastModifiedBy.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.LastModifiedBy.LastName}&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Next Steps (Case Owner)&lt;/strong&gt;: Confirm implementation of corrective actions and identification of preventive actions. Continue documenting complaint costs.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Next Steps (Customer Caretaker)&lt;/strong&gt;: If for Henkel or if requested by customer, send completed 8D Report per Sales&apos; direction.&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your CRM Support Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link to Case in mySalesForce: &lt;a href=&quot;{!URLBase}/lightning/r/Case/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(26, 115, 232);&quot;&gt;{!$Record.CaseNumber} : {!$Record.Subject}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The mySalesForce system automatically generated this message.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Customer_Feedback_Email</name>
        <label>Send Customer Feedback Email</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Log_an_Error_Send_Customer_Feedback_Email</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OrgWideEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Dear colleague,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kindly be informed that the Customer Complaint ID: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CaseNumber}&lt;/span&gt; has been changed to a status Customer Feedback by {!$Record.LastModifiedBy.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.LastModifiedBy.LastName}&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Next Steps (Customer Caretaker)&lt;/strong&gt;: Send 5D Report to customer per Sales&apos; direction and document customer feedback.&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your CRM Support Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link to Case in mySalesForce: &lt;a href=&quot;{!URLBase}/lightning/r/Case/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(26, 115, 232);&quot;&gt;{!$Record.CaseNumber} : {!$Record.Subject}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The mySalesForce system automatically generated this message.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Increased_Severity_Email</name>
        <label>Send Increased Severity Email</label>
        <locationX>5066</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Log_an_Error_Serverity_High</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <elementReference>AdditionalRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OrgWideEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varSubjectHighSeverity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Dear colleague,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kindly be informed that the Customer&amp;nbsp;Complaint ID: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CaseNumber}&lt;/span&gt; has been assessed as High/Very High severity by   {!$Record.LastModifiedBy.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.LastModifiedBy.LastName}&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your CRM Support Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link to Case in mySalesForce: &lt;a href=&quot;{!URLBase}/lightning/r/Case/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(26, 115, 232);&quot;&gt;{!$Record.CaseNumber} : {!$Record.Subject}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The mySalesForce system automatically generated this message.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Initial_Review_Email</name>
        <label>Send Initial Review Email</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Log_an_Error_Send_Initial_Review_Email</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OrgWideEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Dear colleague,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kindly be informed that the Customer Complaint ID: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CaseNumber}&lt;/span&gt; has been changed to a status Investigation by {!$Record.LastModifiedBy.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.LastModifiedBy.LastName}&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Next Steps (Customer Caretaker):&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; If for Henkel or if requested by customer, send completed 3D Report to customer.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Next Steps (Case Owner &amp;amp; Case Team)&lt;/strong&gt;: During investigation, determine if the complaint is justified or *not justified. If justified, continue with full root cause analysis and identification/documentation of corrective actions.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;*If complaint is not justified, stop further investigation, document reason,&amp;nbsp;and select No in &quot;Complaint Justified&quot; field / reason to notify the Customer Caretaker to communicate this to the customer.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your CRM Support Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link to Case in mySalesForce: &lt;a href=&quot;{!URLBase}/lightning/r/Case/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(26, 115, 232);&quot;&gt;{!$Record.CaseNumber} : {!$Record.Subject}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The mySalesForce system automatically generated this message.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Justification_Email</name>
        <label>Send Justification Email</label>
        <locationX>6650</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Log_an_Error_10</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OrgWideEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varSubjectJustified</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Dear colleague,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kindly be informed that the Customer&amp;nbsp;Complaint ID: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CaseNumber}&lt;/span&gt; has been reclassified from &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Unjustified &lt;/span&gt;to &lt;strong&gt;Justified&lt;/strong&gt; by  &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.LastModifiedBy.FirstName} {!$Record.LastModifiedBy.LastName}&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your CRM Support Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link to Case in mySalesForce: &lt;a href=&quot;{!URLBase}/lightning/r/Case/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(26, 115, 232);&quot;&gt;{!$Record.CaseNumber} : {!$Record.Subject}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The mySalesForce system automatically generated this message.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Lowered_Severity_Email</name>
        <label>Send Lowered Severity Email</label>
        <locationX>4274</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Log_an_Error_7</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <elementReference>AdditionalRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OrgWideEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varSubjectReducedSeverity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Dear colleague,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kindly note that the Very High/High Customer Complaint ID: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CaseNumber}&lt;/span&gt; has been re-assessed to Medium/Low severity by  {!$Record.LastModifiedBy.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.LastModifiedBy.LastName}&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your CRM Support Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link to Case in mySalesForce: &lt;a href=&quot;{!URLBase}/lightning/r/Case/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(26, 115, 232);&quot;&gt;{!$Record.CaseNumber} : {!$Record.Subject}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The mySalesForce system automatically generated this message.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_No_Justification_Email</name>
        <label>Send No Justification Email</label>
        <locationX>5858</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Log_an_Error_Send_No_Justification_Email</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OrgWideEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varSubjectNotJustified</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Dear colleague,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kindly be informed that the Customer&amp;nbsp;Complaint ID: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CaseNumber}&lt;/span&gt; has been identified as an &lt;strong&gt;Unjustified&lt;/strong&gt; Complaint.&amp;nbsp;It is the responsibility of Customer Service to communicate this designation and the reason to the customer. The process will continue to closure without a corrective action being taken.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your CRM Support Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link to Case in mySalesForce: &lt;a href=&quot;{!URLBase}/lightning/r/Case/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(26, 115, 232);&quot;&gt;{!$Record.CaseNumber} : {!$Record.Subject}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The mySalesForce system automatically generated this message.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Owner_Change_Email</name>
        <label>Send Owner Change Email</label>
        <locationX>7970</locationX>
        <locationY>863</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Log_an_Error_Send_Owner_Change_Email</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <elementReference>$Record__Prior.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OrgWideEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varSubjectChangeServiceTeam</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Dear colleague,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kindly note that the Case Owner for Customer Complaint ID: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CaseNumber}&lt;/span&gt; has been changed to {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}.&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your CRM Support Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link to Case in mySalesForce: &lt;a href=&quot;{!URLBase}/lightning/r/Case/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(26, 115, 232);&quot;&gt;{!$Record.CaseNumber} : {!$Record.Subject}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The mySalesForce system automatically generated this message.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Re_Opened_Email</name>
        <label>Send Re-Opened Email</label>
        <locationX>2690</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Log_an_Error_ReOpened</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OrgWideEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Dear colleague,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kindly be informed that the Customer Complaint ID: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CaseNumber}&lt;/span&gt; has been changed from Completed to a status {!$Record.Status} by {!$Record.LastModifiedBy.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.LastModifiedBy.LastName}&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your CRM Support Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link to Case in mySalesForce: &lt;a href=&quot;{!URLBase}/lightning/r/Case/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(26, 115, 232);&quot;&gt;{!$Record.CaseNumber} : {!$Record.Subject}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The mySalesForce system automatically generated this message.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Service_Team_Change_Email</name>
        <label>Send Service Team Change Email</label>
        <locationX>7442</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Log_an_Error_Change_Service_Team</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OrgWideEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varSubjectChangeServiceTeam</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Dear colleague,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kindly note that the Service Team for Customer Complaint ID: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CaseNumber}&lt;/span&gt; has been changed to {!$Record.Service_Team__r.Name}.&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your CRM Support Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link to Case in mySalesForce: &lt;a href=&quot;{!URLBase}/lightning/r/Case/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(26, 115, 232);&quot;&gt;{!$Record.CaseNumber} : {!$Record.Subject}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The mySalesForce system automatically generated this message.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <customErrors>
        <name>Custom_Error</name>
        <label>Custom Error</label>
        <locationX>8762</locationX>
        <locationY>863</locationY>
        <customErrorMessages>
            <errorMessage>An error occurred while retrieving the org-wide email address.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Custom_Error_Change_Service_Team</name>
        <label>Custom Error</label>
        <locationX>7706</locationX>
        <locationY>1295</locationY>
        <customErrorMessages>
            <errorMessage>An error occurred during email sending.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Custom_Error_Completed</name>
        <label>Custom Error</label>
        <locationX>3746</locationX>
        <locationY>1295</locationY>
        <customErrorMessages>
            <errorMessage>An error occurred during email sending.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Custom_Error_Customer_Feedback</name>
        <label>Custom Error</label>
        <locationX>1370</locationX>
        <locationY>1295</locationY>
        <customErrorMessages>
            <errorMessage>An error occurred during email sending.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Custom_Error_Send_Corrective_Action_Impl_Email</name>
        <label>Custom Error</label>
        <locationX>2162</locationX>
        <locationY>1295</locationY>
        <customErrorMessages>
            <errorMessage>An error occurred during email sending.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Custom_Error_Send_Increased_Severity_Email</name>
        <label>Custom Error</label>
        <locationX>5330</locationX>
        <locationY>1295</locationY>
        <customErrorMessages>
            <errorMessage>An error occurred during email sending.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Custom_Error_Send_Justification_Email</name>
        <label>Custom Error</label>
        <locationX>6914</locationX>
        <locationY>1295</locationY>
        <customErrorMessages>
            <errorMessage>An error occurred during email sending.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Custom_Error_Send_Lowered_Severity_email</name>
        <label>Custom Error</label>
        <locationX>4538</locationX>
        <locationY>1295</locationY>
        <customErrorMessages>
            <errorMessage>An error occurred during email sending.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Custom_Error_Send_No_Justification_Email</name>
        <label>Custom Error</label>
        <locationX>6122</locationX>
        <locationY>1295</locationY>
        <customErrorMessages>
            <errorMessage>An error occurred during email sending.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Custom_Error_Send_Owner_Change_Email</name>
        <label>Custom Error</label>
        <locationX>8234</locationX>
        <locationY>1079</locationY>
        <customErrorMessages>
            <errorMessage>An error occurred during email sending.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Custom_Error_Send_Reopened_Email</name>
        <label>Custom Error</label>
        <locationX>2954</locationX>
        <locationY>1295</locationY>
        <customErrorMessages>
            <errorMessage>An error occurred during email sending.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_User_for_flow_bypass</name>
        <label>Check User for flow bypass</label>
        <locationX>2063</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Org_Wide_Email_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User can&apos;t bypass the Validation</defaultConnectorLabel>
        <rules>
            <name>User_can_bypass_the_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bypass_Flows_User_related_Flow.Is_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User can bypass the Validation</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Recipient List empty or not</description>
        <name>Is_Recipient_list_empty_1</name>
        <label>Is Recipient list empty?</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Send_Initial_Review_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientEmailAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Log</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Recipient List empty or not</description>
        <name>Is_Recipient_list_empty_10</name>
        <label>Is Recipient list empty?</label>
        <locationX>6518</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Send_Justification_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientEmailAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Log_10</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Recipient List empty or not</description>
        <name>Is_Recipient_list_empty_11</name>
        <label>Is Recipient list empty?</label>
        <locationX>7310</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Send_Service_Team_Change_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientEmailAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Log_11</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Recipient List empty or not</description>
        <name>Is_Recipient_list_empty_2</name>
        <label>Is Recipient list empty?</label>
        <locationX>974</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Send_Customer_Feedback_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientEmailAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Log_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Recipient List empty or not</description>
        <name>Is_Recipient_list_empty_3</name>
        <label>Is Recipient list empty?</label>
        <locationX>1766</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Send_Corrective_Action_Impl_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientEmailAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Log_3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Recipient List empty or not</description>
        <name>Is_Recipient_list_empty_4</name>
        <label>Is Recipient list empty?</label>
        <locationX>2558</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Send_Re_Opened_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientEmailAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Log_4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Recipient List empty or not</description>
        <name>Is_Recipient_list_empty_5</name>
        <label>Is Recipient list empty?</label>
        <locationX>3350</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Send_Completed_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientEmailAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Log_6</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Recipient List empty or not</description>
        <name>Is_Recipient_list_empty_6</name>
        <label>Is Recipient list empty?</label>
        <locationX>4142</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Send_Lowered_Severity_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientEmailAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Log_7</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Recipient List empty or not</description>
        <name>Is_Recipient_list_empty_8</name>
        <label>Is Recipient list empty?</label>
        <locationX>4934</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Send_Increased_Severity_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientEmailAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Log_8</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Recipient List empty or not</description>
        <name>Is_Recipient_list_empty_9</name>
        <label>Is Recipient list empty?</label>
        <locationX>5726</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Send_No_Justification_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientEmailAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Log_9</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Complaint_Scenarios</name>
        <label>Record Complaint Scenarios</label>
        <locationX>4340</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investigation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Recipients</targetReference>
            </connector>
            <label>Investigation</label>
        </rules>
        <rules>
            <name>Customer_Feedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Feedback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Recipients1</targetReference>
            </connector>
            <label>Customer Feedback</label>
        </rules>
        <rules>
            <name>Corrective_Action_Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corrective Action Implementation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Recipients2</targetReference>
            </connector>
            <label>Corrective Action Implementation</label>
        </rules>
        <rules>
            <name>Re_Opened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Recipients3</targetReference>
            </connector>
            <label>Re-Opened</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Recipients4</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Reduced_Severity</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Severity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Severity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Very High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Severity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Severity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Recipients5</targetReference>
            </connector>
            <label>Reduced Severity</label>
        </rules>
        <rules>
            <name>Severity_high</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>varNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Severity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Severity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Very High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Severity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Recipients7</targetReference>
            </connector>
            <label>Severity high</label>
        </rules>
        <rules>
            <name>Complaint_Justified_is_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Complaint_Justified__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Complaint_Justified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Recipients8</targetReference>
            </connector>
            <label>Complaint Justified is No</label>
        </rules>
        <rules>
            <name>Complaint_Justified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Complaint_Justified__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Complaint_Justified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Complaint_Justified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Recipients10</targetReference>
            </connector>
            <label>Complaint Justified</label>
        </rules>
        <rules>
            <name>Change_Service_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Team__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Service_Team__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Recipients11</targetReference>
            </connector>
            <label>Change Service Team</label>
        </rules>
        <rules>
            <name>Change_In_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Owner_Change_Email</targetReference>
            </connector>
            <label>Change In Owner</label>
        </rules>
    </decisions>
    <description>Sends notifications after a record is inserted or updated based on specific conditions.
Note - If you are changing the flow API name please update the Get Bypass flow - user related flow element</description>
    <environments>Default</environments>
    <formulas>
        <name>URLBase</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_610}, FIND(&quot;/services&quot;, {!$Api.Enterprise_Server_URL_610}) - 1)</expression>
    </formulas>
    <formulas>
        <name>varEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Notification of Customer Complaint &apos; + {!$Record.CaseNumber} + &apos;: &apos; + {!$Record.Subject}</expression>
    </formulas>
    <formulas>
        <name>varHighSeverityType</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Global_Business_Unit__c}, 
&apos;Coatings &amp; Construction&apos;, &apos;CCS_High_Severity_Recipient&apos;, 
&apos;Adhesive Solutions&apos;, &apos;AS_High_Severity_Recipient&apos;,
&apos;Health &amp; Protection and Perf. Materials&apos;, &apos;HPPM_High_Severity_Recipient&apos;,
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>varNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>varSubjectChangeServiceTeam</name>
        <dataType>String</dataType>
        <expression>&apos;Notification of Service Team Change Complaint&apos; + {!$Record.CaseNumber} + &apos;: &apos; + {!$Record.Subject}</expression>
    </formulas>
    <formulas>
        <name>varSubjectCompleted</name>
        <dataType>String</dataType>
        <expression>&apos;Notification of Customer Complaint Closure &apos; + {!$Record.CaseNumber} + &apos;: &apos; + {!$Record.Subject}</expression>
    </formulas>
    <formulas>
        <name>varSubjectHighSeverity</name>
        <dataType>String</dataType>
        <expression>&apos;Notification of Very High/High Severity on Customer Complaint &apos; + {!$Record.CaseNumber} + &apos;: &apos; + {!$Record.Subject}</expression>
    </formulas>
    <formulas>
        <name>varSubjectJustified</name>
        <dataType>String</dataType>
        <expression>&apos;Notification of Justified Customer Complaint &apos; + {!$Record.CaseNumber} + &apos;: &apos; + {!$Record.Subject}</expression>
    </formulas>
    <formulas>
        <name>varSubjectNotJustified</name>
        <dataType>String</dataType>
        <expression>&apos;Notification of Unjustified Customer Complaint &apos; + {!$Record.CaseNumber} + &apos;: &apos; + {!$Record.Subject}</expression>
    </formulas>
    <formulas>
        <name>varSubjectReducedSeverity</name>
        <dataType>String</dataType>
        <expression>&apos;Notification of Reduced Severity on Customer Complaint &apos; + {!$Record.CaseNumber} + &apos;: &apos; + {!$Record.Subject}</expression>
    </formulas>
    <interviewLabel>Case - After Insert/Update - Send Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - After Insert/Update - Send Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the current user details if he can bypass the validation</description>
        <name>Get_Bypass_Flows_User</name>
        <label>Get Bypass Flows - User</label>
        <locationX>2063</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bypass_Flows_User_related_Flow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error_get_ByPass_Flows_User</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the bypass user-related flow - child of Bypass Flows - user</description>
        <name>Get_Bypass_Flows_User_related_Flow</name>
        <label>Get Bypass Flows - User related Flow</label>
        <locationX>2063</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_for_flow_bypass</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error_Get_Bypass_FLows_User_related_Flows</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Flow_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_After_Insert_Update_Send_Notifications</stringValue>
            </value>
        </filters>
        <filters>
            <field>Data_Load_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bypass_Flows_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User_related_Flow__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Org Wide Email Address</description>
        <name>Get_Org_Wide_Email_Address</name>
        <label>Get Org Wide Email Address</label>
        <locationX>4340</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Complaint_Scenarios</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SenderOrgWideEmailAddress</stringValue>
            </value>
        </filters>
        <object>Name_Value_Pair__mdt</object>
        <outputAssignments>
            <assignToReference>OrgWideEmailAddress</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>1937</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bypass_Flows_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complaint</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Create Log</description>
        <name>Create_Log</name>
        <label>Create Log</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Investigation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>No recipients found.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Create Log</description>
        <name>Create_Log_10</name>
        <label>Create Log</label>
        <locationX>6386</locationX>
        <locationY>1079</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Complaint Justified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>No recipients found.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Create Log</description>
        <name>Create_Log_11</name>
        <label>Create Log</label>
        <locationX>7178</locationX>
        <locationY>1079</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Change Service Team</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>No recipients found.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Create Log</description>
        <name>Create_Log_2</name>
        <label>Create Log</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Customer Feedback</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>No recipients found.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Create Log</description>
        <name>Create_Log_3</name>
        <label>Create Log</label>
        <locationX>1634</locationX>
        <locationY>1079</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Correcyive Action Implementation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>No recipients found.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Create Log</description>
        <name>Create_Log_4</name>
        <label>Create Log</label>
        <locationX>2426</locationX>
        <locationY>1079</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Re-Opened</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>No recipients found.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Create Log</description>
        <name>Create_Log_6</name>
        <label>Create Log</label>
        <locationX>3218</locationX>
        <locationY>1079</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>No recipients found.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Create Log</description>
        <name>Create_Log_7</name>
        <label>Create Log</label>
        <locationX>4010</locationX>
        <locationY>1079</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Reduced Severity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>No recipients found.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Create Log</description>
        <name>Create_Log_8</name>
        <label>Create Log</label>
        <locationX>4802</locationX>
        <locationY>1079</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Severity High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>No recipients found.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Create Log</description>
        <name>Create_Log_9</name>
        <label>Create Log</label>
        <locationX>5594</locationX>
        <locationY>1079</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Complaint Justified is No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>No recipients found.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Email_Recipients</name>
        <label>Get Email Recipients</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Is_Recipient_list_empty_1</targetReference>
        </connector>
        <flowName>SubFlow_Get_Recipient_for_Emails</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeOwner</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeTeam</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecipientEmailAddresses</assignToReference>
            <name>RecipientEmailAddresses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Email_Recipients1</name>
        <label>Get Email Recipients</label>
        <locationX>974</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Is_Recipient_list_empty_2</targetReference>
        </connector>
        <flowName>SubFlow_Get_Recipient_for_Emails</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeOwner</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeTeam</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecipientEmailAddresses</assignToReference>
            <name>RecipientEmailAddresses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Email_Recipients10</name>
        <label>Get Email Recipients</label>
        <locationX>6518</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Is_Recipient_list_empty_10</targetReference>
        </connector>
        <flowName>SubFlow_Get_Recipient_for_Emails</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeOwner</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeTeam</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecipientEmailAddresses</assignToReference>
            <name>RecipientEmailAddresses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Email_Recipients11</name>
        <label>Get Email Recipients</label>
        <locationX>7310</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Is_Recipient_list_empty_11</targetReference>
        </connector>
        <flowName>SubFlow_Get_Recipient_for_Emails</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeOwner</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeTeam</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OldServiceTeam</name>
            <value>
                <elementReference>$Record__Prior.Service_Team__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecipientEmailAddresses</assignToReference>
            <name>RecipientEmailAddresses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Email_Recipients2</name>
        <label>Get Email Recipients</label>
        <locationX>1766</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Is_Recipient_list_empty_3</targetReference>
        </connector>
        <flowName>SubFlow_Get_Recipient_for_Emails</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeOwner</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeTeam</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecipientEmailAddresses</assignToReference>
            <name>RecipientEmailAddresses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Email_Recipients3</name>
        <label>Get Email Recipients</label>
        <locationX>2558</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Is_Recipient_list_empty_4</targetReference>
        </connector>
        <flowName>SubFlow_Get_Recipient_for_Emails</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeOwner</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeTeam</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecipientEmailAddresses</assignToReference>
            <name>RecipientEmailAddresses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Email_Recipients4</name>
        <label>Get Email Recipients</label>
        <locationX>3350</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Is_Recipient_list_empty_5</targetReference>
        </connector>
        <flowName>SubFlow_Get_Recipient_for_Emails</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeOwner</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeTeam</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecipientEmailAddresses</assignToReference>
            <name>RecipientEmailAddresses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Email_Recipients5</name>
        <label>Get Email Recipients</label>
        <locationX>4142</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Is_Recipient_list_empty_6</targetReference>
        </connector>
        <flowName>SubFlow_Get_Recipient_for_Emails</flowName>
        <inputAssignments>
            <name>AdditionalRecipient</name>
            <value>
                <stringValue>Low_Severity_Recipient</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeOwner</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeTeam</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AdditionalRecipients</assignToReference>
            <name>AdditionalRecipientEmailAddresses</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecipientEmailAddresses</assignToReference>
            <name>RecipientEmailAddresses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Email_Recipients7</name>
        <label>Get Email Recipients</label>
        <locationX>4934</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Is_Recipient_list_empty_8</targetReference>
        </connector>
        <flowName>SubFlow_Get_Recipient_for_Emails</flowName>
        <inputAssignments>
            <name>AdditionalRecipient</name>
            <value>
                <elementReference>varHighSeverityType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeOwner</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeTeam</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AdditionalRecipients</assignToReference>
            <name>AdditionalRecipientEmailAddresses</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecipientEmailAddresses</assignToReference>
            <name>RecipientEmailAddresses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Email_Recipients8</name>
        <label>Get Email Recipients</label>
        <locationX>5726</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Is_Recipient_list_empty_9</targetReference>
        </connector>
        <flowName>SubFlow_Get_Recipient_for_Emails</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeOwner</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncludeTeam</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecipientEmailAddresses</assignToReference>
            <name>RecipientEmailAddresses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Logs an error if error comes while fetching the email address</description>
        <name>Log_an_Error</name>
        <label>Log an Error</label>
        <locationX>8762</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Custom_Error</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Org Wide Email Address</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while fetching org wide email address</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Logs an error if error comes while fetching the email address</description>
        <name>Log_an_Error_10</name>
        <label>Log an Error</label>
        <locationX>6914</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Custom_Error_Send_Justification_Email</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send Justification Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>An error occurred during email sending.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Logs an error if error comes while fetching the email address</description>
        <name>Log_an_Error_4</name>
        <label>Log an Error</label>
        <locationX>2162</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Custom_Error_Send_Corrective_Action_Impl_Email</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send Corrective Action Impl Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>An error occurred during email sending.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Logs an error if error comes while fetching the email address</description>
        <name>Log_an_Error_7</name>
        <label>Log an Error</label>
        <locationX>4538</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Custom_Error_Send_Lowered_Severity_email</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send Lowered Severity Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>An error occurred during email sending.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Logs an error if error comes while fetching the email address</description>
        <name>Log_an_Error_Change_Service_Team</name>
        <label>Log an Error</label>
        <locationX>7706</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Custom_Error_Change_Service_Team</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send Service Team Change Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>An error occurred during email sending.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Logs an error if error comes while fetching the email address</description>
        <name>Log_an_Error_get_ByPass_Flows_User</name>
        <label>Log an Error</label>
        <locationX>9290</locationX>
        <locationY>431</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Org Wide Email Address</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while fetching ByPass flows Custom metadata record</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Logs an error if error comes while fetching the email address</description>
        <name>Log_an_Error_Get_Bypass_FLows_User_related_Flows</name>
        <label>Log an Error</label>
        <locationX>9026</locationX>
        <locationY>539</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Org Wide Email Address</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while fetching bypass flowsin custom metdata records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Logs an error if error comes while fetching the email address</description>
        <name>Log_an_Error_ReOpened</name>
        <label>Log an Error</label>
        <locationX>2954</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Custom_Error_Send_Reopened_Email</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send Re-Opened Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>An error occurred during email sending.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Logs an error if error comes while fetching the email address</description>
        <name>Log_an_Error_Send_Completed_Email</name>
        <label>Log an Error</label>
        <locationX>3746</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Custom_Error_Completed</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send Completed Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>An error occurred during email sending.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Logs an error if error comes while fetching the email address</description>
        <name>Log_an_Error_Send_Customer_Feedback_Email</name>
        <label>Log an Error</label>
        <locationX>1370</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Custom_Error_Customer_Feedback</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send Customer Feedback Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>An error occurred during email sending.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Logs an error if error comes while fetching the email address</description>
        <name>Log_an_Error_Send_Initial_Review_Email</name>
        <label>Log an Error</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send Initial Review Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>An error occurred during email sending.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Logs an error if error comes while fetching the email address</description>
        <name>Log_an_Error_Send_No_Justification_Email</name>
        <label>Log an Error</label>
        <locationX>6122</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Custom_Error_Send_No_Justification_Email</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send No Justification Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>An error occurred during email sending.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Logs an error if error comes while fetching the email address</description>
        <name>Log_an_Error_Send_Owner_Change_Email</name>
        <label>Log an Error</label>
        <locationX>8234</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Custom_Error_Send_Owner_Change_Email</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send Owner Change Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>An error occurred during email sending.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Logs an error if error comes while fetching the email address</description>
        <name>Log_an_Error_Serverity_High</name>
        <label>Log an Error</label>
        <locationX>5330</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Custom_Error_Send_Increased_Severity_Email</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Case - After Insert/Update - Send Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send Increased Severity Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>An error occurred during email sending.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AdditionalRecipients</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores OrgWideEmailAddress which is fetched from Name-Value Pair</description>
        <name>OrgWideEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
