SynProdGITV1/force-app/main/default/flows/Case_Create_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Single_Contact_Record</name>
        <label>Assign Single Contact Record</label>
        <locationX>294</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>firstContactSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Get_Account_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Get_Account_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Contact_Record1</name>
        <label>Assign Single Contact Record</label>
        <locationX>2934</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>firstContactSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Account_Contacts_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Account_Contacts_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Contact_Record_1</name>
        <label>Assign Single Contact Record</label>
        <locationX>2934</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>firstAccountIndustrySegment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Industry_Segment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>industrySegmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Industry_Segment.Industry_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Industry_Segment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Industry_Segment</name>
        <label>Assign Single Industry Segment</label>
        <locationX>294</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>firstAccountIndustrySegment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Get_Account_Industry_Segment_Data.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>industrySegmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Get_Account_Industry_Segment_Data.Industry_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Get_Account_Industry_Segment_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>402</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>AccountTeamMemberCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccountTeamMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_Account_Team_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Account_Team_Member_Count_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Id_from_Acr</name>
        <label>Contact Id from Acr</label>
        <locationX>138</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>getContactIdsfromAcr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Account_Contact_Relationship.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Account_Contact_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contacts_and_Industry_Segment_Count</name>
        <label>Contacts and Industry Segment Count</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ContactCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Account_Contacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndustrySegmentCountFromAccount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Account_Industry_Segment_Data_From_Account_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contact_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contacts_Count_From_Order</name>
        <label>Contacts Count From Order</label>
        <locationX>2954</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ContactCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Account_Contacts_From_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>industrySegmentCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Industry_Segment_Data</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProductCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Order_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contact_Count_From_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Contact_Id_from_Acr</name>
        <label>Contact Id from Acr</label>
        <locationX>2778</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>getContactIdsfromAcr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Iterate_over_Account_Contact_Relationship.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Iterate_over_Account_Contact_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Yes_2</name>
        <label>Yes</label>
        <locationX>3042</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>AccountTeamMemberCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccountTeamMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Account_Team_Member_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Account_Team_Member_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Contact_Relationship</name>
        <label>Check Account Contact Relationship</label>
        <locationX>314</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Create_Case_From_AccountRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Contact_Relationship_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Contact_Relationships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_Account_Contact_Relationship</targetReference>
            </connector>
            <label>Account Contact Relationship is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Team_Member_Count</name>
        <label>Check Account Team Member Count</label>
        <locationX>2954</locationX>
        <locationY>4460</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Team_Member_Role_For_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Null_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AccountTeamMemberCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountTeamMemberCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Creation_Message_For_Order1</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Team_Member_Count_1</name>
        <label>Check Account Team Member Count</label>
        <locationX>314</locationX>
        <locationY>3812</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Team_Member_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AccountTeamMemberCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountTeamMemberCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Creation_MessageFromAccount</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Count</name>
        <label>Check Contact Count</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Check_Industry_Segment_Count_From_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equals_to_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_Get_Account_Contacts</targetReference>
            </connector>
            <label>Equals to one</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Count_From_Order</name>
        <label>Check Contact Count From Order</label>
        <locationX>2954</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Check_Industry_Segment_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equals_to_one1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_Account_Contacts_Order</targetReference>
            </connector>
            <label>Equals to one</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Industry_Segment_Count</name>
        <label>Check Industry Segment Count</label>
        <locationX>2954</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Check_Order_Product_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Industry_Segment_Data_Count_Equal_to_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>industrySegmentCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Industry_Segment</targetReference>
            </connector>
            <label>If Industry Segment Data Count Equal to 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Industry_Segment_Count_From_Account</name>
        <label>Check Industry Segment Count From Account</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Contact_Relationships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Industry_Segment_Data_Count_Equal_to_1_From_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IndustrySegmentCountFromAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_Get_Account_Industry_Segment_Data</targetReference>
            </connector>
            <label>If Industry Segment Data Count Equal to 1 From Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Object_Type</name>
        <label>Check Object Type</label>
        <locationX>2646</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Details.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Contacts</targetReference>
            </connector>
            <label>If Account</label>
        </rules>
        <rules>
            <name>If_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Details.OriginalOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Details.Salesforce_Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Industry_Segment_Data</targetReference>
            </connector>
            <label>If Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Product_Count</name>
        <label>Check Order Product Count</label>
        <locationX>2954</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Contact_Relationships_from_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Order_Product_Count_equal_to_1_from_order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderProductCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Product_Single_Record</targetReference>
            </connector>
            <label>if Order Product Count equal to 1 from order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Account_Contact_Relationship</name>
        <label>Check Account Contact Relationship</label>
        <locationX>2954</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>Create_Case_From_Order_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Account_Contact_Relationship_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Contact_Relationships_from_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Iterate_over_Account_Contact_Relationship</targetReference>
            </connector>
            <label>Account Contact Relationship is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Active</name>
        <label>Is User Active?</label>
        <locationX>534</locationX>
        <locationY>3362</locationY>
        <defaultConnector>
            <targetReference>loop_on_Account_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_Account_Team_Member.User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Active_1</name>
        <label>Is User Active?</label>
        <locationX>3174</locationX>
        <locationY>4010</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Account_Team_Member_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Account_Team_Member_1.User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Yes_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Screen flow to create case from Order or Account to default data during creation</description>
    <dynamicChoiceSets>
        <name>ComplaintCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Complaint_Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Collection choice set for Contact records</description>
        <name>getContactNames</name>
        <collectionReference>GetContacts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>getContactNames1</name>
        <collectionReference>Copy_2_of_GetContacts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Show only related contacts</description>
        <name>recChoice_Contacts</name>
        <dataType>String</dataType>
        <displayField>ContactId</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Details.Id</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <valueField>ContactId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Choice Record set for only ZOR - Sales Order</description>
        <name>recChoice_Sales_Order</name>
        <dataType>String</dataType>
        <displayField>OrderNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZOR - Sales Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Details.Id</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>PlantId</assignToReference>
            <field>Plant__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoice_Sales_Order2</name>
        <dataType>String</dataType>
        <displayField>OrderNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salesforce_Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZOR</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Details.AccountId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>{!Account_Name.recordName}&amp;&apos;-&apos;&amp;{!Product.recordName}</expression>
    </formulas>
    <formulas>
        <name>SubjectFromOrder</name>
        <dataType>String</dataType>
        <expression>{!Get_Order_Details.Account.Name} &amp;&apos; -&apos; &amp;{!Get_Order_Product_Single_Record.Product2.Name}</expression>
    </formulas>
    <interviewLabel>CaseCreate Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Create Case</label>
    <loops>
        <name>Copy_1_of_Iterate_over_Account_Contact_Relationship</name>
        <label>Iterate over Account Contact Relationship</label>
        <locationX>2690</locationX>
        <locationY>2630</locationY>
        <collectionReference>Get_Account_Contact_Relationships_from_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Contact_Id_from_Acr</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_GetContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_Account_Contact_Relationship</name>
        <label>Iterate over Account Contact Relationship</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <collectionReference>Get_Account_Contact_Relationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_Id_from_Acr</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Account_Contacts_Order</name>
        <label>Iterate Over Account Contacts Order</label>
        <locationX>2846</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Account_Contacts_From_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Contact_Record1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Industry_Segment_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Get_Account_Contacts</name>
        <label>Iterate Over Get Account Contacts</label>
        <locationX>206</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Account_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Contact_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Industry_Segment_Count_From_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Get_Account_Industry_Segment_Data</name>
        <label>Iterate Over Get Account Industry Segment Data</label>
        <locationX>206</locationX>
        <locationY>1382</locationY>
        <collectionReference>Get_Account_Industry_Segment_Data_From_Account_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Industry_Segment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Contact_Relationships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_on_Account_Team_Member</name>
        <label>Loop on Account Team Member</label>
        <locationX>314</locationX>
        <locationY>3254</locationY>
        <collectionReference>Get_Account_Team_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_User_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Account_Team_Member_Count_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Account_Team_Member_1</name>
        <label>Loop on Account Team Member</label>
        <locationX>2954</locationX>
        <locationY>3902</locationY>
        <collectionReference>Get_Account_Team_Member_From_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_User_Active_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Account_Team_Member_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Industry_Segment</name>
        <label>Loop Through Industry Segment</label>
        <locationX>2846</locationX>
        <locationY>1490</locationY>
        <collectionReference>Get_Industry_Segment_Data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Contact_Record_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Order_Product_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_From_Account</name>
        <label>Create Case From Account</label>
        <locationX>314</locationX>
        <locationY>2930</locationY>
        <connector>
            <targetReference>Create_Complaint_Cost_From_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_error11</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_Name.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Category__c</field>
            <value>
                <elementReference>Complaint_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact_Name1.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Service_Team_From_User_Input.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Defective_Quantity_Unit__c</field>
            <value>
                <elementReference>Delivery_Quantity_Unit_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Defective_Quantity__c</field>
            <value>
                <elementReference>Defective_QuantityForAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Order_Number__c</field>
            <value>
                <elementReference>Delivery_Order_Number1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_Segment__c</field>
            <value>
                <elementReference>industry_segement1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Batch_Number__c</field>
            <value>
                <elementReference>Product_Batch_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S4_Order__c</field>
            <value>
                <elementReference>Sales_Order_Filter.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Team__c</field>
            <value>
                <elementReference>ServiceTeam.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Complaint</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_From_Order</name>
        <label>Create Case From Order</label>
        <locationX>2954</locationX>
        <locationY>3578</locationY>
        <connector>
            <targetReference>Create_Complaint_Cost_From_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_error18</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_Name_From_Case.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Category__c</field>
            <value>
                <elementReference>Complaint_Category_From_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact_Name2.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Copy_1_of_Get_Service_Team_From_User_Input.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Defective_Quantity_Unit__c</field>
            <value>
                <elementReference>Defective_Quantity_Unit_Order.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Defective_Quantity__c</field>
            <value>
                <elementReference>Defective_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Order_Number__c</field>
            <value>
                <elementReference>Delivery_Order_Number2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Copy_1_of_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_Segment__c</field>
            <value>
                <elementReference>industry_segement2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plant__c</field>
            <value>
                <elementReference>Get_Order_Details.Plant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Batch_Number__c</field>
            <value>
                <elementReference>Product_Batch_NumberFromOrder1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Order_Product.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S4_Order__c</field>
            <value>
                <elementReference>Sales_Order2.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Team__c</field>
            <value>
                <elementReference>ServiceTeamFromOrder.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectFromOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Complaint</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Team_Member</name>
        <label>Create Case Team Member</label>
        <locationX>446</locationX>
        <locationY>4028</locationY>
        <connector>
            <targetReference>Record_Creation_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>recAccountTeamMember.UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Case_From_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>Get_Case_Team_Member_Role.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Team_Member_From_Order</name>
        <label>Create Case Team Member From Order</label>
        <locationX>3086</locationX>
        <locationY>4676</locationY>
        <connector>
            <targetReference>Record_Creation_Message_For_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>recAccountTeamMember.UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Case_From_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>Get_Case_Team_Member_Role_For_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Complaint_Cost_From_Account</name>
        <label>Create Complaint Cost From Account</label>
        <locationX>314</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>Get_Account_Team_Member</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_error12</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Case_Id__c</field>
            <value>
                <elementReference>Create_Case_From_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Type__c</field>
            <value>
                <stringValue>Investigation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Service_Team_From_User_Input.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>Get_Service_Team_From_User_Input.Investigation_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <object>Complaint_Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Complaint_Cost_From_Order</name>
        <label>Create Complaint Cost From Order</label>
        <locationX>2954</locationX>
        <locationY>3686</locationY>
        <connector>
            <targetReference>Get_Account_Team_Member_From_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_error20</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Case_Id__c</field>
            <value>
                <elementReference>Create_Case_From_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Type__c</field>
            <value>
                <stringValue>Investigation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Copy_1_of_Get_Service_Team_From_User_Input.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Service_Team_From_User_Input.Investigation_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <object>Complaint_Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Service_Team_From_User_Input</name>
        <label>Get Service Team From User Input</label>
        <locationX>2954</locationX>
        <locationY>3470</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_From_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceTeamFromOrder.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get contacts</description>
        <name>Copy_2_of_GetContacts</name>
        <label>GetContacts</label>
        <locationX>2690</locationX>
        <locationY>2930</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_From_Order_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error24</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>getContactIdsfromAcr</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Account Contact Relationships for an Account based on the Account contact relationship</description>
        <name>Get_Account_Contact_Relationships</name>
        <label>Get Account Contact Relationships</label>
        <locationX>314</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Contact_Relationship</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Subflow_Screen_Log_Error_Flow_18</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Account Contact Relationships for an Account based on the Account contact relationship</description>
        <name>Get_Account_Contact_Relationships_from_Order</name>
        <label>Get Account Contact Relationships from Order</label>
        <locationX>2954</locationX>
        <locationY>2414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_Account_Contact_Relationship</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error19</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Details.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Contacts</name>
        <label>Get Account Contacts</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Industry_Segment_Data_From_Account_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_error3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Contacts_From_Order</name>
        <label>Get Account Contacts From Order</label>
        <locationX>2954</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts_Count_From_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_error21</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Details.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>2646</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Industry_Segment_Data_From_Account_1</name>
        <label>Get Account Industry Segment Data From Account</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts_and_Industry_Segment_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_error4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Industry_Segment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Team_Member</name>
        <label>Get Account Team Member</label>
        <locationX>314</locationX>
        <locationY>3146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_on_Account_Team_Member</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_error22</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial Caretaker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Team_Member_From_Order</name>
        <label>Get Account Team Member From Order</label>
        <locationX>2954</locationX>
        <locationY>3794</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Account_Team_Member_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Name_From_Case.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial Caretaker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Team_Member_Role</name>
        <label>Get Case Team Member Role</label>
        <locationX>446</locationX>
        <locationY>3920</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_Team_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial Caretaker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Team_Member_Role_For_Order</name>
        <label>Get Case Team Member Role  For Order</label>
        <locationX>3086</locationX>
        <locationY>4568</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_Team_Member_From_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial Caretaker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Industry_Segment_Data</name>
        <label>Get Industry Segment Data</label>
        <locationX>2954</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Products</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_error6</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Details.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Industry_Segment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Details</name>
        <label>Get Order Details</label>
        <locationX>2646</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Object_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_error2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salesforce_Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZOR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_Single_Record</name>
        <label>Get Order Product Single Record</label>
        <locationX>2690</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Contact_Relationships_from_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_error17</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>2954</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Contacts_From_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_error15</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Team_From_User_Input</name>
        <label>Get Service Team From User Input</label>
        <locationX>314</locationX>
        <locationY>2822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_From_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_error13</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceTeam.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get contacts</description>
        <name>GetContacts</name>
        <label>GetContacts</label>
        <locationX>50</locationX>
        <locationY>2282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_From_AccountRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_log19</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>getContactIdsfromAcr</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Case_From_AccountRecord</name>
        <label>Create Case From Account</label>
        <locationX>314</locationX>
        <locationY>2714</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Service_Team_From_User_Input</targetReference>
        </connector>
        <fields>
            <name>Header_Information</name>
            <fieldText>Header Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Header_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Name</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Contact_Name1</name>
                    <choiceReferences>getContactNames</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Contact Name</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ServiceTeam</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Service_Team__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Service Team</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Header_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Complaint_Category</name>
                    <choiceReferences>ComplaintCategory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Complaint Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>industry_segement1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Industry_Segment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Industry Segment</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>industrySegmentId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Product_Order</name>
            <fieldText>Product &amp; Order</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Order_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sales_Order_Filter</name>
                    <choiceReferences>recChoice_Sales_Order</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Sales Order</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Order_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Order Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Defective_QuantityForAccount</name>
                    <dataType>Number</dataType>
                    <fieldText>Defective Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Delivery_Quantity_Unit_Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Defective_Quantity_Unit__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Defective Quantity Unit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Order_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Product__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Product</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Product_Batch_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Product Batch Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11.36px;&quot;&gt;Product Batch Number is mandatory for Complaint Category Product, please add it.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(AND({!Complaint_Category} = &apos;Product&apos;, ISBLANK({!Product_Batch_Number})))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Delivery_Order_Number1</name>
                    <dataType>String</dataType>
                    <fieldText>Delivery Order Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Description_Label</name>
            <fieldText>Description</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Description_Label_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Case_From_Order_Screen</name>
        <label>Create Case From Order</label>
        <locationX>2954</locationX>
        <locationY>3362</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Get_Service_Team_From_User_Input</targetReference>
        </connector>
        <fields>
            <name>Header_Information_Label</name>
            <fieldText>Header Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Header_Information_Label_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Name_From_Case</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Order_Details.Account.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Contact_Name2</name>
                    <choiceReferences>getContactNames1</choiceReferences>
                    <defaultValue>
                        <elementReference>firstContactSingle.Id</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Contact Name</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Please select a Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ServiceTeamFromOrder</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Service_Team__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Service Team</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Header_Information_Label_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Complaint_Category_From_Order</name>
                    <choiceReferences>ComplaintCategory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Complaint Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>industry_segement2</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Industry_Segment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Industry Segment</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>industrySegmentId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Product_Order1</name>
            <fieldText>Product &amp; Order</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Order1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sales_Order2</name>
                    <choiceReferences>recChoice_Sales_Order2</choiceReferences>
                    <defaultValue>
                        <elementReference>recordId</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Sales Order</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Please choice Sales Order</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Order_Number1</name>
                    <dataType>String</dataType>
                    <fieldText>Order Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Defective_Quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Order_Product_Single_Record.Quantity</elementReference>
                    </defaultValue>
                    <fieldText>Defective Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Defective_Quantity_Unit_Order</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Defective_Quantity_Unit__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Defective Quantity Unit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Order1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Order_Product</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Product__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Product</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Order_Product_Single_Record.Product2Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Product_Batch_NumberFromOrder1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Order_Product_Single_Record.Batch__c</elementReference>
                    </defaultValue>
                    <fieldText>Product Batch Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; color: rgb(255, 0, 0);&quot;&gt;Product Batch Number is mandatory for Complaint Category Product, please add it.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(AND({!Complaint_Category_From_Order} = &apos;Product&apos;, ISBLANK({!Product_Batch_NumberFromOrder1})))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Delivery_Order_Number2</name>
                    <dataType>String</dataType>
                    <fieldText>Delivery Order Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Description1</name>
            <fieldText>Description</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Description1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Record_Creation_Message</name>
        <label>Record Creation Message</label>
        <locationX>446</locationX>
        <locationY>4136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;{!CaseCreationMessageForAccount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Record_Creation_Message_For_Order</name>
        <label>Record Creation Message For Order</label>
        <locationX>3086</locationX>
        <locationY>4784</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_SuccessMessage</name>
            <fieldText>&lt;p&gt;{!CaseCreationSuccessMessageForOrder}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Record_Creation_Message_For_Order1</name>
        <label>Record Creation Message For Order</label>
        <locationX>2822</locationX>
        <locationY>4568</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_SuccessMessage</name>
            <fieldText>&lt;p&gt;{!CaseCreationSuccessMessageForOrder}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Record_Creation_MessageFromAccount</name>
        <label>Record Creation Message</label>
        <locationX>182</locationX>
        <locationY>3920</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_SuccessMessage</name>
            <fieldText>&lt;p&gt;{!CaseCreationMessageForAccount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2520</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>error_log19</name>
        <label>Log an error</label>
        <locationX>314</locationX>
        <locationY>2390</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
    </subflows>
    <subflows>
        <name>Log_an_error</name>
        <label>Log an error</label>
        <locationX>5506</locationX>
        <locationY>242</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Failed To Get Account Details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Create Case Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Account Details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_error11</name>
        <label>Log an error</label>
        <locationX>1282</locationX>
        <locationY>3038</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Failed To Create Case From Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Create Case Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Create Case From Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_error12</name>
        <label>Log an error</label>
        <locationX>1018</locationX>
        <locationY>3146</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Failed To Create Complaint Cost From Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Create Case Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Create Complaint Cost From Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_error13</name>
        <label>Log an error</label>
        <locationX>1546</locationX>
        <locationY>2930</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Failed To Get Service Team From User Input</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Create Case Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Service Team From User Input</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_error15</name>
        <label>Log an error</label>
        <locationX>4450</locationX>
        <locationY>674</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Get Account Contacts From Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Create Case Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Account Contacts From Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_error17</name>
        <label>Log an error</label>
        <locationX>2954</locationX>
        <locationY>2090</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Failed To Get Order Product Single Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Create Case Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Order Product Single Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_error18</name>
        <label>Log an error</label>
        <locationX>3658</locationX>
        <locationY>3686</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Failed To Create Case From Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Create Case Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Create Case From Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error19</name>
        <label>Log an Error</label>
        <locationX>3922</locationX>
        <locationY>2522</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
    </subflows>
    <subflows>
        <name>Log_an_error2</name>
        <label>Log an error</label>
        <locationX>5242</locationX>
        <locationY>350</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Failed To Get OrderDetails</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Create Case Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Order Details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_error20</name>
        <label>Log an error</label>
        <locationX>3394</locationX>
        <locationY>3794</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Failed To Create Complaint Cost From Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Create Case Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Complaint Cost From Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_error21</name>
        <label>Log an error</label>
        <locationX>4186</locationX>
        <locationY>782</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Failed To Get Account Details From Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Create Case Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Create Case From Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_error22</name>
        <label>Log an error</label>
        <locationX>754</locationX>
        <locationY>3254</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Failed To Get Account Team Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Create Case Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Account Team Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error24</name>
        <label>Log an Error</label>
        <locationX>2954</locationX>
        <locationY>3038</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
    </subflows>
    <subflows>
        <name>Log_an_error3</name>
        <label>Log an error</label>
        <locationX>2338</locationX>
        <locationY>566</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Failed To Get Account Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Create Case Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Account Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_error4</name>
        <label>Log an error</label>
        <locationX>2074</locationX>
        <locationY>674</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Failed To Get Industry Segments From Account </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Create Case Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Industry Segments From Account </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_error6</name>
        <label>Log an error</label>
        <locationX>4714</locationX>
        <locationY>566</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Failed To Get Industry Segment Data</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Create Case Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Industry Segment Data</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Screen_Log_Error_Flow_18</name>
        <label>Log Error</label>
        <locationX>1810</locationX>
        <locationY>1874</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
    </subflows>
    <textTemplates>
        <name>CaseCreationMessageForAccount</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The Case with the Complaint Cost has been created successfully. &lt;/span&gt;&lt;a href=&quot;/{!Create_Case_From_Account}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Click Here To Open&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CaseCreationSuccessMessageForOrder</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The Case with the Complaint Cost has been created successfully. &lt;a href=&quot;/{!Create_Case_From_Order}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click Here To Open&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountTeamMemberCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionAccountTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>contactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ContactsfromACR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>firstAccountIndustrySegment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Industry_Segment__c</objectType>
    </variables>
    <variables>
        <name>firstContactSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>firstOrderProductSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>firstServiceTeamSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Team__c</objectType>
    </variables>
    <variables>
        <name>getContactIdsfromAcr</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>industrySegmentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IndustrySegmentCountFromAccount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>IndustrySegmentDataCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>IndustrySegmentForOrder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Industry_Segment_Data__c</objectType>
    </variables>
    <variables>
        <name>industrySegmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Store the plant Id from the Order</description>
        <name>PlantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recAccountTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RHQAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Account_Details.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>ServiceTeamCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ShipToAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Account_Details.Id</elementReference>
        </value>
    </variables>
</Flow>
