SynProdGITV1/force-app/main/default/flows/Event_Before_Create_Update_Update_Visit_Location.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Account_Id</name>
        <label>Assign Account Id</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Details.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Id1</name>
        <label>Assign Account Id</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Id2</name>
        <label>Assign Account Id</label>
        <locationX>1810</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Details.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Id3</name>
        <label>Assign Account Id</label>
        <locationX>2250</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Details.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Type</name>
        <label>Check Account Type</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Set_Account_Billing_Address_as_Visit_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Ship To Account</defaultConnectorLabel>
        <rules>
            <name>Ship_To_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ship-To</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Shipping_Address_as_Visit_Location</targetReference>
            </connector>
            <label>Ship To Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Account_Exist</name>
        <label>Check if Account Exist</label>
        <locationX>1722</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Account_Exist</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Id1</targetReference>
            </connector>
            <label>Account Exist</label>
        </rules>
        <rules>
            <name>WhatId_is_Quote_Case_or_Order</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0Q0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>801</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Related_Object_Type</targetReference>
            </connector>
            <label>WhatId is Quote, Case or Order</label>
        </rules>
        <rules>
            <name>Account_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Visit_Location_as_blank</targetReference>
            </connector>
            <label>Account Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Case_has_Account</name>
        <label>Check if Case has Account</label>
        <locationX>2382</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Set_Visit_Location_as_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t have Account</defaultConnectorLabel>
        <rules>
            <name>Has_Account2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Details.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Id3</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Order_has_Account</name>
        <label>Check if Order has Account</label>
        <locationX>1942</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Set_Visit_Location_as_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t have account</defaultConnectorLabel>
        <rules>
            <name>Has_Account1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Details.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Id2</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_has_Account</name>
        <label>Check Quote has Account</label>
        <locationX>1502</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Set_Visit_Location_as_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t have Account</defaultConnectorLabel>
        <rules>
            <name>Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Details.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Id</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_Object_Type</name>
        <label>Check Related Object Type</label>
        <locationX>2096</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Object_is_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0Q0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Details</targetReference>
            </connector>
            <label>Related Object is Quote</label>
        </rules>
        <rules>
            <name>Related_Object_is_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>801</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Details</targetReference>
            </connector>
            <label>Related Object is Order</label>
        </rules>
        <rules>
            <name>Related_Object_is_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Details</targetReference>
            </connector>
            <label>Related Object is Case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Event-Before Create/Update-Update Visit Location {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event-Before Create/Update-Update Visit Location</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account Details</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>2382</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Case_has_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Details</name>
        <label>Get Order Details</label>
        <locationX>1942</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Order_has_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Details</name>
        <label>Get Quote Details</label>
        <locationX>1502</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Quote_has_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Account_Billing_Address_as_Visit_Location</name>
        <label>Set Account Billing Address as Visit Location</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <faultConnector>
            <targetReference>Log_an_Error2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Visit_Location__City__s</field>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Location__CountryCode__s</field>
            <value>
                <elementReference>Get_Account.BillingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Location__PostalCode__s</field>
            <value>
                <elementReference>Get_Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Location__StateCode__s</field>
            <value>
                <elementReference>Get_Account.BillingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Location__Street__s</field>
            <value>
                <elementReference>Get_Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Account_Shipping_Address_as_Visit_Location</name>
        <label>Set Account Shipping Address as Visit Location</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <faultConnector>
            <targetReference>Log_an_Error3</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Visit_Location__City__s</field>
            <value>
                <elementReference>Get_Account.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Location__CountryCode__s</field>
            <value>
                <elementReference>Get_Account.ShippingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Location__PostalCode__s</field>
            <value>
                <elementReference>Get_Account.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Location__StateCode__s</field>
            <value>
                <elementReference>Get_Account.ShippingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Location__Street__s</field>
            <value>
                <elementReference>Get_Account.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Visit_Location_as_blank</name>
        <label>Set Visit Location as blank</label>
        <locationX>1722</locationX>
        <locationY>1271</locationY>
        <faultConnector>
            <targetReference>Log_an_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Visit_Location__City__s</field>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Location__CountryCode__s</field>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Location__PostalCode__s</field>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Location__StateCode__s</field>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Location__Street__s</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1596</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Account_Exist</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_an_Error</name>
        <label>Log an Error</label>
        <locationX>3394</locationX>
        <locationY>1379</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Event-Before Create/Update-Update Visit Location</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Set Visit Location as Blank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Failed to Update Event</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error1</name>
        <label>Log an Error</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Event-Before Create/Update-Update Visit Location</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Account Details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Failed to get Account Details</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error2</name>
        <label>Log an Error</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Event-Before Create/Update-Update Visit Location</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Set Account Billing Address as Visit Location</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Failed to update Event</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error3</name>
        <label>Log an Error</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Event-Before Create/Update-Update Visit Location</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Set Account Shipping Address as Visit Location</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Failed to update Event</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
