SynProdGITV1/force-app/main/default/flows/Get_Order_Details_Service_Teams_and_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Order_Product</name>
        <label>Assign Order Product</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OrderProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Order_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Products</name>
        <label>Count Products</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>countOrderProducts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>OrderProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Order_Products_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Order_Products_Count</name>
        <label>Check Order Products Count</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_one_Order_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countOrderProducts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Order_Products</targetReference>
            </connector>
            <label>If one Order Product</label>
        </rules>
    </decisions>
    <description>Autolaunch flow to get the Service team and Products of Order record for case creation</description>
    <environments>Default</environments>
    <interviewLabel>Get Order Details - Service Teams and Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Order Details - Service Teams and Products</label>
    <loops>
        <name>Iterate_Order_Products</name>
        <label>Iterate Order Products</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>OrderProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Order_Product</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Record.Id</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>OrderProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Batch__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Record</name>
        <label>Get Order Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>countOrderProducts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
