SynProdGITV1/force-app/main/default/flows/Lead_Update_Industry_Segment_Import.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assigns_the_Industry_Segment</name>
        <label>Assigns the Industry Segment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Industry_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Industry_Segment.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Updates Industry Segment field on lead if data is loading via Data Import Wizard</description>
    <environments>Default</environments>
    <interviewLabel>Lead - Update Industry Segment(DM) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Update Industry Segment (Import)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Industry_Segment</name>
        <label>Get Industry Segment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigns_the_Industry_Segment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Industry Segment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Industry_Segment_Import__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Industry_Segment_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Industry_Segment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Industry_Segment_Import__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Industry_Segment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
