SynProdGITV1/force-app/main/default/flows/Opportunity_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Chatter_to_Record_Owner</name>
        <label>Post Chatter to Record Owner</label>
        <locationX>1898</locationX>
        <locationY>971</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessageToRecordOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_Chatter_to_Team_Members</name>
        <label>Post Chatter to Team Members</label>
        <locationX>842</locationX>
        <locationY>1595</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PostMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_Chatter_to_Team_Members_Owner</name>
        <label>Post Chatter to Team Members_Owner</label>
        <locationX>1370</locationX>
        <locationY>1487</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PostMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>.</description>
        <name>Send_Chatter_Post_To_Opp_Team_Members_And_Owner_Non_Owner</name>
        <label>Send Chatter Post To Opp.Team Members And Owner</label>
        <locationX>1106</locationX>
        <locationY>1595</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessageToOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Account_Team_Member</name>
        <label>Assign Account Team Member</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>VarOppTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Account_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Account_Team_Members.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Account_Team_Members.OpportunityAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppTeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarOppTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Account_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Industry_Segment</name>
        <label>Assign Industry Segment</label>
        <locationX>294</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>var_IndustrySegment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Industry_Segment.Industry_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>blnChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Industry_Segment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Industry_Segment_Count</name>
        <label>Assign Industry Segment Count</label>
        <locationX>314</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>IndustrySegmentCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Industry_Segments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>One_Industry_Segment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Team_Member_User_Ids</name>
        <label>Assign Team Member User Ids</label>
        <locationX>1491</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>TeamMemberIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_get_Opp_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mentionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormulaForTagTeamId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_get_Opp_Team_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_User_for_flow_bypass</name>
        <label>Check User for flow bypass</label>
        <locationX>340</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Is_Record_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User can&apos;t bypass the Validation</defaultConnectorLabel>
        <rules>
            <name>User_can_bypass_the_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bypass_Flows_User_related_Flow.Is_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User can bypass the Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Team_Members_Exist</name>
        <label>Is Account Team Members Exist</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Get_Industry_Segments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Team_Members</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_Account_Team_Members</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Here we check record is updated by Owner or not.</description>
        <name>Is_Owner</name>
        <label>Is Owner</label>
        <locationX>1172</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Post_Chatter_to_Team_Members_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner</defaultConnectorLabel>
        <rules>
            <name>Not_Owner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Owner_In_Team</targetReference>
            </connector>
            <label>Not Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_In_Team</name>
        <label>Is Owner In Team</label>
        <locationX>974</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Send_Chatter_Post_To_Opp_Team_Members_And_Owner_Non_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not In Team</defaultConnectorLabel>
        <rules>
            <name>In_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TeamMemberIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Chatter_to_Team_Members</targetReference>
            </connector>
            <label>In Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Created</name>
        <label>Is Record Created</label>
        <locationX>982</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Opp_Team_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Team_Members</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <description>We check here Stage Changed or not</description>
        <name>Is_Stage_Changed</name>
        <label>Is Stage Changed</label>
        <locationX>1403</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Stage_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Owner</targetReference>
            </connector>
            <label>Yes Stage Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>One_Industry_Segment</name>
        <label>One Industry Segment</label>
        <locationX>314</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Update_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IndustrySegmentCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_Industry_Segment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Members_Not_Null</name>
        <label>Team Members Not Null</label>
        <locationX>1650</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Post_Chatter_to_Record_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_get_Opp_Team_Members</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Needed</name>
        <label>Update Needed</label>
        <locationX>314</locationX>
        <locationY>2411</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blnChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Opportunity After Insert and Update to default values and chatter notifications.
Note - If you are changing the flow API name please update the Get Bypass flow - user related flow element</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaForTagTeamId</name>
        <dataType>String</dataType>
        <expression>&quot; @[&quot;+ {!Iterate_Over_get_Opp_Team_Members.UserId} +&quot;] &quot;</expression>
    </formulas>
    <formulas>
        <name>RecordCreated</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity A {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - After Insert OR Update</label>
    <loops>
        <name>Iterate_Over_Account_Team_Members</name>
        <label>Iterate Over Account Team Members</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Account_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_Team_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunity_Team_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_get_Opp_Team_Members</name>
        <label>Iterate Over get Opp Team Members</label>
        <locationX>1403</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Opp_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Team_Member_User_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Stage_Changed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Industry_Segment</name>
        <label>Iterate Over Industry Segment</label>
        <locationX>206</locationX>
        <locationY>2027</locationY>
        <collectionReference>Get_Industry_Segments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Industry_Segment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Needed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_Team_Member</name>
        <label>Create Opportunity Team Member</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_Industry_Segments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Opportunity_Team_Member_Error_Log</targetReference>
        </faultConnector>
        <inputReference>VarOppTeamMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Team_Members</name>
        <label>Get Account Team Members</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Team_Members_Exist</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 )</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Caretaker</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial Caretaker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the current user details if he can bypass the validation</description>
        <name>Get_Bypass_Flows_User</name>
        <label>Get Bypass Flows - User</label>
        <locationX>340</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bypass_Flows_User_related_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the bypass user-related flow - child of Bypass Flows - user</description>
        <name>Get_Bypass_Flows_User_related_Flow</name>
        <label>Get Bypass Flows - User related Flow</label>
        <locationX>340</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_for_flow_bypass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Flow_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_After_Insert</stringValue>
            </value>
        </filters>
        <filters>
            <field>Data_Load_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bypass_Flows_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User_related_Flow__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Industry_Segments</name>
        <label>Get Industry Segments</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Industry_Segment_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Industry_Segment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Team_Members</name>
        <label>Get Opp Team Members</label>
        <locationX>1650</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Team_Members_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_Opp</name>
        <label>Update Records Opp</label>
        <locationX>50</locationX>
        <locationY>2519</locationY>
        <faultConnector>
            <targetReference>Create_a_Error_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Industry_Segment__c</field>
            <value>
                <elementReference>var_IndustrySegment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>214</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bypass_Flows_User</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED({!$Record.StageName})</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_a_Error_Log</name>
        <label>Create a Error Log</label>
        <locationX>314</locationX>
        <locationY>2627</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Opportunity - After Insert Or Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Update Records OPp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Opportunity_Team_Member_Error_Log</name>
        <label>Create Opportunity Team Member - Error Log</label>
        <locationX>314</locationX>
        <locationY>1379</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Opportunity - After Insert OR Update  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Create Opportunity Team Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Failed to Create Opportunity Team Members</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ChatterMessageToOwner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!mentionList} @[{!$Record.OwnerId}]
The Stage of Opportunity {!$Record.Name} has been updated from {!$Record__Prior.StageName} to {!$Record.StageName}.</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterMessageToRecordOwner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi @[{!$Record.OwnerId}]
The Stage of Opportunity {!$Record.Name} has been updated to {!$Record.StageName}.</text>
    </textTemplates>
    <textTemplates>
        <name>PostMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi All 
{!mentionList}
The Stage of Opportunity {!$Record.Name} has been updated From {!$Record__Prior.StageName} to {!$Record.StageName}.</text>
    </textTemplates>
    <variables>
        <name>AccountTerritories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>blnChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>IndustrySegmentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>mentionList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamChatterTagIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamMemberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamMemberNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IndustrySegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Territory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOppTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>VarOppTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>VarTeamMemberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
