SynProdGITV1/force-app/main/default/flows/Opportunity_Before_Insert_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Update_Error_Mesage</name>
        <label>Update Error Message</label>
        <locationX>776</locationX>
        <locationY>1475</locationY>
        <assignmentItems>
            <assignToReference>CombinedErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Total Gross Margin,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Required_Field_for_Chemistry_stage_Probability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_Error_Message</name>
        <label>Update Error Message</label>
        <locationX>556</locationX>
        <locationY>3059</locationY>
        <assignmentItems>
            <assignToReference>CombinedErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Territory,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Required_Field_for_Chemistry_stage_Opportunity_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Update_Error_Mesage</name>
        <label>Update Error Message</label>
        <locationX>556</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>CombinedErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Type,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Required_Field_for_Chemistry_stage_Industry_Segment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Update_Error_Message</name>
        <label>Update Error Message</label>
        <locationX>556</locationX>
        <locationY>2759</locationY>
        <assignmentItems>
            <assignToReference>CombinedErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Application,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Required_Field_for_Chemistry_stage_Territory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Update_Error_Mesage</name>
        <label>Update Error Message</label>
        <locationX>556</locationX>
        <locationY>1859</locationY>
        <assignmentItems>
            <assignToReference>CombinedErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Probability,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Required_Field_for_Chemistry_stage_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Update_Error_Message</name>
        <label>Update Error Message</label>
        <locationX>556</locationX>
        <locationY>3359</locationY>
        <assignmentItems>
            <assignToReference>CombinedErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Opportunity Team Member (Technical Care Taker),</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Required_Field_for_Chemistry_stage_Opportunity_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Update_Error_Message</name>
        <label>Update Error Message</label>
        <locationX>50</locationX>
        <locationY>3659</locationY>
        <assignmentItems>
            <assignToReference>CombinedErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Product(s),</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Combined_Error_Message1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Error_Mesage</name>
        <label>Update Error Message</label>
        <locationX>556</locationX>
        <locationY>2459</locationY>
        <assignmentItems>
            <assignToReference>CombinedErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Industry Segment,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Check_Required_Field_for_Chemistry_stage_Industry_Segment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Error_Message</name>
        <label>Update Error Message</label>
        <locationX>336</locationX>
        <locationY>1475</locationY>
        <assignmentItems>
            <assignToReference>CombinedErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Total Gross Margin,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Required_Field_for_Chemistry_stage_Probability</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Account_Error_Message</name>
        <label>Account Error Message</label>
        <locationX>578</locationX>
        <locationY>3767</locationY>
        <customErrorMessages>
            <errorMessage>Account must be of type Customer and have an S4 ID to proceed to Commercial stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Combined_Error_Message1</name>
        <label>Combined Error Message</label>
        <locationX>50</locationX>
        <locationY>3767</locationY>
        <customErrorMessages>
            <errorMessage>The following data is required before moving to the Chemistry stage: {!finalErrorMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_1_of_Combined_Error_Message</name>
        <label>Combined Error Message</label>
        <locationX>314</locationX>
        <locationY>3659</locationY>
        <customErrorMessages>
            <errorMessage>The following data is required before moving to the Chemistry stage: {!finalErrorMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Opportunity_is_Closed_Lost_Error</name>
        <label>Opportunity is Closed Lost Error</label>
        <locationX>1810</locationX>
        <locationY>3767</locationY>
        <customErrorMessages>
            <errorMessage>Please select a value for &apos;Loss reason&apos; Field if Opportunity  is Closed Lost</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Opportunity_Line_Item_error</name>
        <label>Opportunity Line Item error</label>
        <locationX>1282</locationX>
        <locationY>3875</locationY>
        <customErrorMessages>
            <errorMessage>The Opportunity has line item/s without a SKU product - please remove the Chemical Group product to proceed.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Opportunity_Line_Item_error_1</name>
        <label>Opportunity Line Item error</label>
        <locationX>842</locationX>
        <locationY>3983</locationY>
        <connector>
            <targetReference>Is_null_OLI</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>The Opportunity has line item/s without a SKU product - please remove the Chemical Group product to proceed.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Opportunity_Line_Item_Required</name>
        <label>Opportunity Line Item Required</label>
        <locationX>1546</locationX>
        <locationY>3767</locationY>
        <customErrorMessages>
            <errorMessage>The Opportunity must have at least one valid line item with a proper SKU after &quot;Operations&quot; stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Opportunity_Line_Item_Required_2</name>
        <label>Opportunity Line Item Required</label>
        <locationX>842</locationX>
        <locationY>4283</locationY>
        <customErrorMessages>
            <errorMessage>The Opportunity must have at least one valid line item with a proper SKU after &quot;Operations&quot; stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Required_Field_for_Chemistry_stage_Amount</name>
        <label>Check Required Field for Chemistry stage - Amount</label>
        <locationX>908</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Check_Required_Field_for_Chemistry_stage_Probability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amount</name>
            <conditionLogic>( 1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Error_Mesage</targetReference>
            </connector>
            <label>Amount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Required_Field_for_Chemistry_stage_Industry_Segment</name>
        <label>Check Required Field for Chemistry stage - Industry Segment</label>
        <locationX>688</locationX>
        <locationY>2351</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Check_Required_Field_for_Chemistry_stage_Industry_Segment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Industry_Segment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Industry_Segment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Error_Mesage</targetReference>
            </connector>
            <label>Industry Segment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Required_Field_for_Chemistry_stage_Opportunity_Line_Item</name>
        <label>Check Required Field for Chemistry stage - Opportunity Line Item</label>
        <locationX>688</locationX>
        <locationY>3551</locationY>
        <defaultConnector>
            <targetReference>Check_Required_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Line_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Update_Error_Message</targetReference>
            </connector>
            <label>Opportunity Line Item</label>
        </rules>
        <rules>
            <name>Error_Message_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CombinedErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Combined_Error_Message</targetReference>
            </connector>
            <label>Error Message not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Required_Field_for_Chemistry_stage_Opportunity_Team_Members</name>
        <label>Check Required Field for Chemistry stage - Opportunity Team Members</label>
        <locationX>688</locationX>
        <locationY>3251</locationY>
        <defaultConnector>
            <targetReference>Check_Required_Field_for_Chemistry_stage_Opportunity_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Team_Members_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Team_Member</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Error_Message</targetReference>
            </connector>
            <label>Opportunity Team Members</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Required_Field_for_Chemistry_stage_Probability</name>
        <label>Check Required Field for Chemistry stage - Probability</label>
        <locationX>688</locationX>
        <locationY>1751</locationY>
        <defaultConnector>
            <targetReference>Check_Required_Field_for_Chemistry_stage_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Probability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Probability</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Error_Mesage</targetReference>
            </connector>
            <label>Probability</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Required_Field_for_Chemistry_stage_Territory</name>
        <label>Check Required Field for Chemistry stage - Territory</label>
        <locationX>688</locationX>
        <locationY>2951</locationY>
        <defaultConnector>
            <targetReference>Check_Required_Field_for_Chemistry_stage_Opportunity_Team_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Territory_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territory2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Error_Message</targetReference>
            </connector>
            <label>Territory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Required_Field_for_Chemistry_stage_Type</name>
        <label>Check Required Field for Chemistry stage - Type</label>
        <locationX>688</locationX>
        <locationY>2051</locationY>
        <defaultConnector>
            <targetReference>Check_Required_Field_for_Chemistry_stage_Industry_Segment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Error_Mesage</targetReference>
            </connector>
            <label>Type</label>
        </rules>
    </decisions>
    <decisions>
        <description>Prevent stage change from &apos;Quality&apos; unless Opportunity Line Items are added.</description>
        <name>Check_Required_Fields</name>
        <label>Check Required Fields</label>
        <locationX>1326</locationX>
        <locationY>3659</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>AccountId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Error_Message</targetReference>
            </connector>
            <label>AccountId</label>
        </rules>
        <rules>
            <name>Opportunity_Line_Item_with_proper_SKU_Non_Dummy_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Line_Item_With_Dummy_Products</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Migrated_Data_1</targetReference>
            </connector>
            <label>Opportunity Line Item with proper SKU (Non-Dummy Product)</label>
        </rules>
        <rules>
            <name>Is_null_Opp_line_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Line_Item_Without_Dummy_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Line_Item_Required</targetReference>
            </connector>
            <label>Is null Opp line Item</label>
        </rules>
        <rules>
            <name>Loss_reason_mandatory_if_Opportunity_is_Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loss_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_is_Closed_Lost_Error</targetReference>
            </connector>
            <label>Loss reason mandatory if Opportunity is Closed Lost</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the stage is Closed won or closed lost, then only throw the error.</description>
        <name>Check_StageName</name>
        <label>Check StageName</label>
        <locationX>974</locationX>
        <locationY>3875</locationY>
        <defaultConnector>
            <targetReference>Is_null_OLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Show_Error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Line_Item_error_1</targetReference>
            </connector>
            <label>Show Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_for_flow_bypass</name>
        <label>Check User for flow bypass</label>
        <locationX>237</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User can&apos;t bypass the Validation</defaultConnectorLabel>
        <rules>
            <name>User_can_bypass_the_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bypass_Flows_User_related_Flow.Is_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User can bypass the Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Required_Field_for_Chemistry_stage_Amount</name>
        <label>Check Required Field for Closed Won Stage - Amount</label>
        <locationX>468</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Check_Required_Field_for_Chemistry_stage_Probability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amount_1</name>
            <conditionLogic>( 1 OR 3) AND ( 2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Error_Message</targetReference>
            </connector>
            <label>Amount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_Required_Field_for_Chemistry_stage_Industry_Segment</name>
        <label>Check Required Field for Chemistry stage - Application</label>
        <locationX>688</locationX>
        <locationY>2651</locationY>
        <defaultConnector>
            <targetReference>Check_Required_Field_for_Chemistry_stage_Territory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Error_Message</targetReference>
            </connector>
            <label>Application</label>
        </rules>
    </decisions>
    <decisions>
        <description>Due to C4C–SF data limits, all opportunities display the chemical group at every stage. Currently, users must revert the stage (e.g., from Adoption back to Operation) to update products and remove the chemical group, then return to Adoption to close as “Won.” This decision temporarily lifts the restriction during the two-month hypercare period, allowing users to edit product details and delete the chemical group at any stage. After hypercare, the original restriction will be reinstated.</description>
        <name>Is_Migrated_Data</name>
        <label>Is Migrated Data?</label>
        <locationX>688</locationX>
        <locationY>1259</locationY>
        <defaultConnector>
            <targetReference>Check_Required_Field_for_Chemistry_stage_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_External_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Required_Field_for_Chemistry_stage_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the data is migrated, then user is not able to delete Chemical Group at Commercial Stage. This Validation will be bypass for the migrated data and applicable when the stagename = Closed Lost/ Closed Won.</description>
        <name>Is_Migrated_Data_1</name>
        <label>Is Migrated Data?</label>
        <locationX>1128</locationX>
        <locationY>3767</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Line_Item_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_External_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_StageName</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_null_OLI</name>
        <label>Is null OLI</label>
        <locationX>974</locationX>
        <locationY>4175</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_null_Opp_line_Item_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Line_Item_Without_Dummy_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Line_Item_Required_2</targetReference>
            </connector>
            <label>Is null Opp line Item</label>
        </rules>
    </decisions>
    <description>Valiadations on Before Save of Opportunity at each stage. 
Set Default Standard Pricebook for opportunity
Inc 163276 - Removed Validation for preventing Users from selecting Close date from past</description>
    <environments>Default</environments>
    <formulas>
        <name>finalErrorMessage</name>
        <dataType>String</dataType>
        <expression>LEFT({!CombinedErrorMessage}, LEN({!CombinedErrorMessage}) - 1)</expression>
    </formulas>
    <formulas>
        <name>StageNumber</name>
        <dataType>Number</dataType>
        <expression>CASE({!$Record.StageName}, 
&apos;Qualify&apos;, 10,
&apos;Chemistry&apos;, 20,
&apos;Operations&apos;, 30,
&apos;Commercial&apos;, 40,
&apos;Adoption&apos;, 50,
&apos;Closed Won&apos;, 100,
&apos;Close Lost&apos;, 0,
0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Opportunity - Before Insert and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Before Insert and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the current user details if he can bypass the validation</description>
        <name>Get_Byp</name>
        <label>Get Bypass Flows - User</label>
        <locationX>237</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bypass_Flows_User_related_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the bypass user-related flow - child of Bypass Flows - user</description>
        <name>Get_Bypass_Flows_User_related_Flow</name>
        <label>Get Bypass Flows - User related Flow</label>
        <locationX>237</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_for_flow_bypass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Load_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Byp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Flow_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Before_Insert_and_Update</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User_related_Flow__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dummy_Products</name>
        <label>Get Dummy Products</label>
        <locationX>688</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Line_Item_With_Dummy_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Line_Items.Value__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OLI</name>
        <label>Get OLI</label>
        <locationX>688</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Migrated_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Line_Item_With_Dummy_Products</name>
        <label>Get Opportunity Line Item With Dummy Products</label>
        <locationX>688</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Line_Item_Without_Dummy_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Dummy_Products.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Line_Item_Without_Dummy_Products</name>
        <label>Get Opportunity Line Item Without Dummy Products</label>
        <locationX>688</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Team_Member</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Dummy_Products.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Opportunity Line Items</description>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>688</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dummy_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dummy_Product_Name</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Name_Value_Pair__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Team_Member</name>
        <label>Get Opportunity Team Member</label>
        <locationX>688</locationX>
        <locationY>1043</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Caretaker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>111</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Byp</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CombinedErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNotTechnicalCaretakerr</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
