SynProdGITV1/force-app/main/default/flows/Opportunity_Team_Member_After_Insert_Notify_Team_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Chatter_Post</name>
        <label>Send Chatter Post</label>
        <locationX>374</locationX>
        <locationY>1079</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Assign_Opportunity_Member_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_a_Log_7</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Opportunity_Team_Member_Added_Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_Opportunity_Member</name>
        <label>Send Notification to Opportunity Member</label>
        <locationX>506</locationX>
        <locationY>1403</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <faultConnector>
            <targetReference>Create_a_Log_6</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OpportunityMemberIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Member_Added_Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Opportunity_Team_Member_Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity_Member_Id</name>
        <label>Assign Opportunity Member Id</label>
        <locationX>374</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>OpportunityMemberIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Opportunity_Member_Id_null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_User_for_flow_bypass</name>
        <label>Check User for flow bypass</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_User_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User can&apos;t bypass the Validation</defaultConnectorLabel>
        <rules>
            <name>User_can_bypass_the_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bypass_Flows_User_related_Flow.Is_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User can bypass the Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_Member_Id_null</name>
        <label>Is Opportunity Member Id null?</label>
        <locationX>374</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Send_Notification_to_Opportunity_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityMemberIds</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Note - If the flow API name has changed, please update the Get Bypass flows - User related flow element</description>
    <environments>Default</environments>
    <formulas>
        <name>Member_Added_Notification_Title</name>
        <dataType>String</dataType>
        <expression>&apos;You have been added to the Opportunity Team&apos;</expression>
    </formulas>
    <interviewLabel>Opportunity Team Member - After Insert - Notify Team Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Team Member - After Insert - Notify Team Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the current user details if he can bypass the validation</description>
        <name>Get_Bypass_Flows_User</name>
        <label>Get Bypass Flows - User</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bypass_Flows_User_related_Flow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_a_Log_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the bypass user-related flow - child of Bypass Flows - user</description>
        <name>Get_Bypass_Flows_User_related_Flow</name>
        <label>Get Bypass Flows - User related Flow</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_for_flow_bypass</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Ceate_a_Log_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Load_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bypass_Flows_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Flow_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Team_Member_After_Insert_Notify_Team_Member</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User_related_Flow__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>374</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Chatter_Post</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_a_Log_5</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Team_Member_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>374</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Owner_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_a_Log_4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Owner_Details</name>
        <label>Get Opportunity Owner Details</label>
        <locationX>374</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Notification_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_a_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Details.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Details</name>
        <label>Get User Details</label>
        <locationX>374</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_a_Log_3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bypass_Flows_User</targetReference>
        </connector>
        <object>OpportunityTeamMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Ceate_a_Log_2</name>
        <label>Ceate a Log</label>
        <locationX>2354</locationX>
        <locationY>539</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Opportunity Team Member - After Insert - Notify Team Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Bypass Flows - User Related Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Opportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while fetching flows</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_a_Log</name>
        <label>Create a Log</label>
        <locationX>1562</locationX>
        <locationY>971</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Opportunity Team Member - After Insert - Notify Team Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Bypass Flows - User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Opportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while fetching user</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_a_Log_1</name>
        <label>Create a Log</label>
        <locationX>2618</locationX>
        <locationY>431</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Opportunity Team Member - After Insert - Notify Team Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Bypass Flows - User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Opportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while fetching user</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_a_Log_3</name>
        <label>Create a Log</label>
        <locationX>2090</locationX>
        <locationY>755</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Opportunity Team Member - After Insert - Notify Team Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get User Details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Opportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while fetching user</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_a_Log_4</name>
        <label>Create a Log</label>
        <locationX>1826</locationX>
        <locationY>863</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Opportunity Team Member - After Insert - Notify Team Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Opportunity Details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Opportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while fetching Opportunity</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_a_Log_5</name>
        <label>Create a Log</label>
        <locationX>1298</locationX>
        <locationY>1079</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Opportunity Team Member - After Insert - Notify Team Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Notification Type</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Opportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while notification type</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_a_Log_6</name>
        <label>Create a Log</label>
        <locationX>770</locationX>
        <locationY>1511</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Opportunity Team Member - After Insert - Notify Team Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send Notification to Opportunity Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Opportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while sending notification</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_a_Log_7</name>
        <label>Create a Log</label>
        <locationX>1034</locationX>
        <locationY>1187</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Opportunity Team Member - After Insert - Notify Team Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send Chatter Post</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Opportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>An error occurred while trying to post on Chatter.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Opportunity_Team_Member_Added_Notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear Colleague,
Kindly note that Team member {!Get_User_Details.Name} is added to the Opportunity {!Get_Opportunity_Details.Name} 
 
Opportunity Details:
Name: 	{!Get_Opportunity_Details.Name}
Owner: 	{!Get_Opportunity_Owner_Details.Name}
Account: 	{!Get_Opportunity_Details.Account.Name}

Best regards,
Your CRM Support Team
 
The mySalesForce system automatically generated this message.</text>
    </textTemplates>
    <textTemplates>
        <name>Opportunity_Team_Member_Notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear @[{!Get_User_Details.Name}],
Kindly note that you have been added to the Opportunity {!Get_Opportunity_Details.Name} 

Opportunity Details:
Name: 	{!Get_Opportunity_Details.Name}
Owner: 	{!Get_Opportunity_Owner_Details.Name}
Account: 	{!Get_Opportunity_Details.Account.Name}

Best regards,
Your CRM Support Team
Link to Opportunity in mySalesForce: {!Get_Opportunity_Details.Id}: {!Get_Opportunity_Details.Name}

The mySalesForce system automatically generated this message.</text>
    </textTemplates>
    <variables>
        <name>OpportunityMemberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
