SynProdGITV1/force-app/main/default/flows/Opportunity_Product_Before_Insert_Or_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Product_Category_level_2</name>
        <label>Assign Product Category level 2</label>
        <locationX>330</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2.Product_Category__r.Parent_Product_Category__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Product_Category_level_2</name>
        <label>Assign Product Category level 2</label>
        <locationX>594</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2.Product_Category__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <customErrors>
        <name>Product_Category_Error</name>
        <label>Product Category Error</label>
        <locationX>66</locationX>
        <locationY>827</locationY>
        <customErrorMessages>
            <errorMessage>You cannot add this dummy product without specifying a product category</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Level_of_Product_Product_Category</name>
        <label>Check Level of Product - Product Category</label>
        <locationX>594</locationX>
        <locationY>827</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Level_3_Product_Category_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Product_Category__r.Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 - Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Category_level_2</targetReference>
            </connector>
            <label>Level 3 Product Category present</label>
        </rules>
        <rules>
            <name>Level_2_Product_Category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Product_Category__r.Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - Chemical Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Product_Category_level_2</targetReference>
            </connector>
            <label>Level 2 Product Category Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_for_flow_bypass</name>
        <label>Check User for flow bypass</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Get_Dummy_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User can bypass the Validation</defaultConnectorLabel>
        <rules>
            <name>User_can_bypass_the_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bypass_Flows_User_related_Flow.Is_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User can&apos;t bypass the Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Dummy_Product</name>
        <label>Is Dummy Product</label>
        <locationX>550</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Dummy_Product.Value__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Category_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Product_Category_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Level_of_Product_Product_Category</targetReference>
            </connector>
            <label>No - Product Category null</label>
        </rules>
    </decisions>
    <description>Validation for Dummy product: if the product category is missing, and if the product category is null and not a dummy product, then auto-assign it with the product category.
Note - If the flow API name has changed, please update the Get Bypass flows - User related flow element</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Product-Before Insert Or Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product-Before Insert Or Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the current user details if he can bypass the validation</description>
        <name>Get_Bypass_Flows_User</name>
        <label>Get Bypass Flows - User</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bypass_Flows_User_related_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the bypass user-related flow - child of Bypass Flows - user</description>
        <name>Get_Bypass_Flows_User_related_Flow</name>
        <label>Get Bypass Flows - User related Flow</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_for_flow_bypass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Load_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bypass_Flows_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Flow_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Product_Before_Insert_Or_Update</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User_related_Flow__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dummy_Product</name>
        <label>Get Dummy Product</label>
        <locationX>550</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Dummy_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dummy_Product_Name</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Name_Value_Pair__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bypass_Flows_User</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
