SynProdGITV1/force-app/main/default/flows/Order_Update_Order_Product_External_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Assign the OrderItemNumber</description>
        <name>Assign_OrderItemNumber</name>
        <label>Assign OrderItemNumber</label>
        <locationX>242</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>strOrderItemNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.OrderItemNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_on_OLI.Order_Product_External_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forOrderItemExternalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstOrderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_OLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_OLI</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <description>Display the Custom Error on UI if this component gets failed</description>
        <name>Custom_Error_1</name>
        <label>Custom Error</label>
        <locationX>682</locationX>
        <locationY>971</locationY>
        <customErrorMessages>
            <errorMessage>Error while fetching the order line items.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <description>Display the Custom Error on UI if this component gets failed</description>
        <name>Custom_Error_2</name>
        <label>Custom Error</label>
        <locationX>418</locationX>
        <locationY>1379</locationY>
        <customErrorMessages>
            <errorMessage>Error while updating Order Product External Id.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>Checks the Order Type</description>
        <name>Check_the_Order_Type</name>
        <label>Check the Order Type</label>
        <locationX>550</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>S4_HANA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salesforce_Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZPLS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OLI_s</targetReference>
            </connector>
            <label>S4 HANA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_for_Flow_Bypass</name>
        <label>Check User for Flow Bypass</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_the_Order_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User can&apos;t bypass the Validation</defaultConnectorLabel>
        <rules>
            <name>User_can_bypass_the_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bypass_Flows_User_related_Flow.Is_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User can bypass the Validation</label>
        </rules>
    </decisions>
    <description>SS2-T188 - Update Order Product External Id after the successful callout.</description>
    <environments>Default</environments>
    <formulas>
        <description>Constructs the formula for Order Product External Id if the Order Type = &apos;S4 Sample Order&apos;</description>
        <name>forOrderItemExternalId</name>
        <dataType>String</dataType>
        <expression>{!$Record.SAP_Order_ID__c} &amp; &apos;_&apos; &amp; TEXT(VALUE( {!strOrderItemNumber}))</expression>
    </formulas>
    <interviewLabel>Order - Update Order Product External Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - Update Order Product External Id</label>
    <loops>
        <description>Loop on OLI</description>
        <name>Loop_on_OLI</name>
        <label>Loop on OLI</label>
        <locationX>154</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_OLI_s</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_OrderItemNumber</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_OLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the current user details if he can bypass the validation</description>
        <name>Get_Bypass_Flows_User</name>
        <label>Get Bypass Flows - User</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bypass_Flows_User_related_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the bypass user-related flow - child of Bypass Flows - user</description>
        <name>Get_Bypass_Flows_User_related_Flow</name>
        <label>Get Bypass Flows - User related Flow</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_for_Flow_Bypass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Flow_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order_Update_Order_Product_External_Id</stringValue>
            </value>
        </filters>
        <filters>
            <field>Data_Load_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bypass_Flows_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User_related_Flow__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all the Order Line Items associated with the Order</description>
        <name>Get_OLI_s</name>
        <label>Get OLI&apos;s</label>
        <locationX>154</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_OLI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Log_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the OLI with Order Product External Id</description>
        <name>Update_OLI</name>
        <label>Update OLI</label>
        <locationX>154</locationX>
        <locationY>1163</locationY>
        <faultConnector>
            <targetReference>Create_Error_Log_2</targetReference>
        </faultConnector>
        <inputReference>lstOrderItems</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bypass_Flows_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Integration_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <filters>
            <field>SAP_Order_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Process/Package Preparation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Create an Error Log in the System</description>
        <name>Create_Error_Log_1</name>
        <label>Create Error Log</label>
        <locationX>682</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Custom_Error_1</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Update Order Product External Id  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get OLI&apos;s</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error Occurred while getting the OLI</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Create an Error Log in the System</description>
        <name>Create_Error_Log_2</name>
        <label>Create Error Log</label>
        <locationX>418</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Custom_Error_2</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Update Order Product External Id  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Update OLI&apos;s</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error Occurred while updating the OLI</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Stores the List of order items</description>
        <name>lstOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <description>Stores the OrderItemNumber</description>
        <name>strOrderItemNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
