SynProdGITV1/force-app/main/default/flows/Order_Distributor_Approval_Or.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Approve_Reject_1</name>
        <label>Approve/Reject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rejected_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved_1_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_1_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_1</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approve_Reject_2</name>
        <label>Approve/Reject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rejected_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved_2_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_2_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_2_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_who_has_Approve_the_request_2</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approve_Reject_3</name>
        <label>Approve/Reject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rejected_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved_3_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_3_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_3_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_3_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_who_has_Approved_the_Request_3</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approve_Reject_4</name>
        <label>Approve/Reject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rejected_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved_4_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_4_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_4_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_4_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_4_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_who_has_Approved_the_Request_4</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approve_Reject_5</name>
        <label>Approve/Reject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rejected_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved_5_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_5_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_5_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_5_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_5_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_5_5.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_who_has_Approved_the_Request_5</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Count</name>
        <label>Check Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Account_Team_Members.Outputs.count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Team_Members.Outputs.count</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>0</label>
        </rules>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Team_Members.Outputs.count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_to_User_1</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Team_Members.Outputs.count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_to_User_2</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Team_Members.Outputs.count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_to_User_3</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>X4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Team_Members.Outputs.count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_to_User_4</targetReference>
            </connector>
            <label>4</label>
        </rules>
        <rules>
            <name>X5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Team_Members.Outputs.count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_to_User_5</targetReference>
            </connector>
            <label>5</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Count is not equals to zero. If it is zero, update the status to Not Needed.</description>
        <name>Check_Count_1</name>
        <label>Check Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Status_to_In_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Account_Team_Members.Outputs.count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Team_Members.Outputs.count</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Not_Needed</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_who_has_Approve_the_request_2</name>
        <label>Check who has Approve the request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Approved_2_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User 2</defaultConnectorLabel>
        <rules>
            <name>User_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_2_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_2_1</targetReference>
            </connector>
            <label>User 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_who_has_Approved_the_Request_3</name>
        <label>Check who has Approved the Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Approved_3_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User 3</defaultConnectorLabel>
        <rules>
            <name>User_1_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_3_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_3_1</targetReference>
            </connector>
            <label>User 1</label>
        </rules>
        <rules>
            <name>User_2_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_3_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_3_2</targetReference>
            </connector>
            <label>User 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_who_has_Approved_the_Request_4</name>
        <label>Check who has Approved the Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Approved_4_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User 4</defaultConnectorLabel>
        <rules>
            <name>User_4_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_4_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_4_1</targetReference>
            </connector>
            <label>User 1</label>
        </rules>
        <rules>
            <name>User_4_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_4_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_4_2</targetReference>
            </connector>
            <label>User 2</label>
        </rules>
        <rules>
            <name>User_4_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_4_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_4_3</targetReference>
            </connector>
            <label>User 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_who_has_Approved_the_Request_5</name>
        <label>Check who has Approved the Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Approved_5_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User 5</defaultConnectorLabel>
        <rules>
            <name>User_5_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_5_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_5_1</targetReference>
            </connector>
            <label>User 1</label>
        </rules>
        <rules>
            <name>User_5_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_5_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_5_2</targetReference>
            </connector>
            <label>User 2</label>
        </rules>
        <rules>
            <name>User_5_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_5_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_5_3</targetReference>
            </connector>
            <label>User 3</label>
        </rules>
        <rules>
            <name>User_5_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Order_for_Approval_5_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_5_4</targetReference>
            </connector>
            <label>User 4</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OrderProductRows</name>
        <dataType>String</dataType>
        <expression>{!Get_Order_Products.Outputs.OrderItemTableRows}</expression>
    </formulas>
    <interviewLabel>Order - Distributor Approval (Or) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - Distributor Approval (Or)</label>
    <orchestratedStages>
        <name>Approved_1</name>
        <label>Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Order_Status_1_Approve</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Distributor_Submittor</name>
                <value>
                    <elementReference>Account_Team_Members.Outputs.varUsername1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Approved_2_1</name>
        <label>Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Order_Status_2_1_Approve</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Distributor_Submittor</name>
                <value>
                    <elementReference>Account_Team_Members.Outputs.varUsername1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Approved_2_2</name>
        <label>Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Order_Status_2_2_Approve</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Distributor_Submittor</name>
                <value>
                    <elementReference>Account_Team_Members.Outputs.varUsername2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Approved_3_1</name>
        <label>Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Order_Status_3_1_Approved</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Distributor_Submittor</name>
                <value>
                    <elementReference>Account_Team_Members.Outputs.varUsername1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Approved_3_2</name>
        <label>Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Order_Status_3_2_Approved</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Distributor_Submittor</name>
                <value>
                    <elementReference>Account_Team_Members.Outputs.varUsername2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Approved_3_3</name>
        <label>Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Order_Status_3_3_Approved</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Distributor_Submittor</name>
                <value>
                    <elementReference>Account_Team_Members.Outputs.varUsername3</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Approved_4_1</name>
        <label>Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Order_Status_4_Approved</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Distributor_Submittor</name>
                <value>
                    <elementReference>Account_Team_Members.Outputs.varUsername1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Approved_4_2</name>
        <label>Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>4</description>
            <name>Copy_1_of_Update_Order_Status</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Distributor_Submittor</name>
                <value>
                    <elementReference>Account_Team_Members.Outputs.varUsername2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Approved_4_3</name>
        <label>Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>4</description>
            <name>Copy_3_of_Update_Order_Status</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Distributor_Submittor</name>
                <value>
                    <elementReference>Account_Team_Members.Outputs.varUsername3</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Approved_4_4</name>
        <label>Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>4</description>
            <name>Copy_4_of_Update_Order_Status</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Distributor_Submittor</name>
                <value>
                    <elementReference>Account_Team_Members.Outputs.varUsername4</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Approved_5_1</name>
        <label>Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>4</description>
            <name>Update_Order_Status_5_1_Approved</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Distributor_Submittor</name>
                <value>
                    <elementReference>Account_Team_Members.Outputs.varUsername1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Approved_5_2</name>
        <label>Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>4</description>
            <name>Update_Order_Status_5_2_Approved</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Distributor_Submittor</name>
                <value>
                    <elementReference>Account_Team_Members.Outputs.varUsername2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Approved_5_3</name>
        <label>Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>4</description>
            <name>Update_Order_Status_5_3_Approved</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Distributor_Submittor</name>
                <value>
                    <elementReference>Account_Team_Members.Outputs.varUsername3</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Approved_5_4</name>
        <label>Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>4</description>
            <name>Update_Order_Status_5_4_Approved</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Distributor_Submittor</name>
                <value>
                    <elementReference>Account_Team_Members.Outputs.varUsername4</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Approved_5_5</name>
        <label>Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>4</description>
            <name>Update_Order_Status_5_5_Approved</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Distributor_Submittor</name>
                <value>
                    <elementReference>Account_Team_Members.Outputs.varUsername5</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Assign_Approver_to_User_1</name>
        <label>Distributor review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Approve_Reject_1</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Assign_Order_for_Approval_1_1</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Account_Team_Members.Outputs.varUsername1</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
                <value>
                    <stringValue>New Sample Order Submitted for Distributor Approval – {!$Record.OrderNumber}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
                <value>
                    <elementReference>emailBody</elementReference>
                </value>
            </inputParameters>
            <label>Distributor review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Assign_Approver_to_User_2</name>
        <label>Distributor review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Approve_Reject_2</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Assign_Order_for_Approval_2_1</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Account_Team_Members.Outputs.varUsername1</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>or</exitConditionLogic>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_2_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_2_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_2_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_2_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
                <value>
                    <stringValue>New Sample Order Submitted for Distributor Approval – {!$Record.OrderNumber}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
                <value>
                    <elementReference>emailBody</elementReference>
                </value>
            </inputParameters>
            <label>Distributor review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Assign_Order_for_Approval_2_2</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Account_Team_Members.Outputs.varUsername2</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>or</exitConditionLogic>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_2_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_2_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_2_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_2_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
                <value>
                    <stringValue>New Sample Order Submitted for Distributor Approval – {!$Record.OrderNumber}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
                <value>
                    <elementReference>emailBody</elementReference>
                </value>
            </inputParameters>
            <label>Distributor review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Assign_Approver_to_User_3</name>
        <label>Distributor review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Approve_Reject_3</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Assign_Order_for_Approval_3_1</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Account_Team_Members.Outputs.varUsername1</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>or</exitConditionLogic>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_3_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_3_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_3_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_3_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_3_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_3_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
                <value>
                    <stringValue>New Sample Order Submitted for Distributor Approval – {!$Record.OrderNumber}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
                <value>
                    <elementReference>emailBody</elementReference>
                </value>
            </inputParameters>
            <label>Distributor review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Assign_Order_for_Approval_3_2</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Account_Team_Members.Outputs.varUsername2</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>or</exitConditionLogic>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_3_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_3_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_3_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_3_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_3_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_3_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
                <value>
                    <stringValue>New Sample Order Submitted for Distributor Approval – {!$Record.OrderNumber}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
                <value>
                    <elementReference>emailBody</elementReference>
                </value>
            </inputParameters>
            <label>Distributor review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Assign_Order_for_Approval_3_3</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Account_Team_Members.Outputs.varUsername3</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>or</exitConditionLogic>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_3_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_3_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_3_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_3_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_3_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_3_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
                <value>
                    <stringValue>New Sample Order Submitted for Distributor Approval – {!$Record.OrderNumber}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
                <value>
                    <elementReference>emailBody</elementReference>
                </value>
            </inputParameters>
            <label>Distributor review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Assign_Approver_to_User_4</name>
        <label>Distributor review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Approve_Reject_4</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Assign_Order_for_Approval_4_1</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Account_Team_Members.Outputs.varUsername1</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>or</exitConditionLogic>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
                <value>
                    <stringValue>New Sample Order Submitted for Distributor Approval – {!$Record.OrderNumber}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
                <value>
                    <elementReference>emailBody</elementReference>
                </value>
            </inputParameters>
            <label>Distributor review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Assign_Order_for_Approval_4_2</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Account_Team_Members.Outputs.varUsername2</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>or</exitConditionLogic>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
                <value>
                    <stringValue>New Sample Order Submitted for Distributor Approval – {!$Record.OrderNumber}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
                <value>
                    <elementReference>emailBody</elementReference>
                </value>
            </inputParameters>
            <label>Distributor review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Assign_Order_for_Approval_4_3</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Account_Team_Members.Outputs.varUsername3</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>or</exitConditionLogic>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
                <value>
                    <stringValue>New Sample Order Submitted for Distributor Approval – {!$Record.OrderNumber}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
                <value>
                    <elementReference>emailBody</elementReference>
                </value>
            </inputParameters>
            <label>Distributor review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Assign_Order_for_Approval_4_4</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Account_Team_Members.Outputs.varUsername4</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>or</exitConditionLogic>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_4_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
                <value>
                    <stringValue>New Sample Order Submitted for Distributor Approval – {!$Record.OrderNumber}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
                <value>
                    <elementReference>emailBody</elementReference>
                </value>
            </inputParameters>
            <label>Distributor review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Assign_Approver_to_User_5</name>
        <label>Distributor review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Approve_Reject_5</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Assign_Order_for_Approval_5_1</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Account_Team_Members.Outputs.varUsername1</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>or</exitConditionLogic>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_5.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_5.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
                <value>
                    <stringValue>New Sample Order Submitted for Distributor Approval – {!$Record.OrderNumber}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
                <value>
                    <elementReference>emailBody</elementReference>
                </value>
            </inputParameters>
            <label>Distributor review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Assign_Order_for_Approval_5_2</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Account_Team_Members.Outputs.varUsername2</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>or</exitConditionLogic>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_5.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_5.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
                <value>
                    <stringValue>New Sample Order Submitted for Distributor Approval – {!$Record.OrderNumber}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
                <value>
                    <elementReference>emailBody</elementReference>
                </value>
            </inputParameters>
            <label>Distributor review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Assign_Order_for_Approval_5_3</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Account_Team_Members.Outputs.varUsername3</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>or</exitConditionLogic>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_5.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
                <value>
                    <stringValue>New Sample Order Submitted for Distributor Approval – {!$Record.OrderNumber}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
                <value>
                    <elementReference>emailBody</elementReference>
                </value>
            </inputParameters>
            <label>Distributor review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Assign_Order_for_Approval_5_4</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Account_Team_Members.Outputs.varUsername4</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>or</exitConditionLogic>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_5.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_5.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
                <value>
                    <stringValue>New Sample Order Submitted for Distributor Approval – {!$Record.OrderNumber}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
                <value>
                    <elementReference>emailBody</elementReference>
                </value>
            </inputParameters>
            <label>Distributor review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Assign_Order_for_Approval_5_5</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Account_Team_Members.Outputs.varUsername4</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>or</exitConditionLogic>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_4.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_5.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </exitConditions>
            <exitConditions>
                <conditionType>ExitCondition</conditionType>
                <leftValueReference>Assign_Order_for_Approval_5_5.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </exitConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
                <value>
                    <stringValue>New Sample Order Submitted for Distributor Approval – {!$Record.OrderNumber}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
                <value>
                    <elementReference>emailBody</elementReference>
                </value>
            </inputParameters>
            <label>Distributor review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Get_Account_Team_Members</name>
        <label>Get Account Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Product_Information</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Account_Team_Members</name>
            <actionName>Order_Get_Account_Team_Members</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>support.gauri@gauri.com.syn</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>orderId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Account Team Members</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Get_Order_Product_Information</name>
        <label>Get Order Product Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Count_1</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Get_Order_Products</name>
            <actionName>Order_Update_Product_Details</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>support.gauri@gauri.com.syn</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Get Order Products</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Rejected_1</name>
        <label>Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Order_Status_1_Reject</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Rejected</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Rejected_2</name>
        <label>Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Order_Status_2_Rejected</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Rejected</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Rejected_3</name>
        <label>Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Order_Status_3_Rejected</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Rejected</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Rejected_4</name>
        <label>Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Order_Status_4_Rejected</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Rejected</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Rejected_5</name>
        <label>Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Order_Status_Rejected_5</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Rejected</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Update_Status_to_In_Approval</name>
        <label>Update Status to In Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Count</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Order_Status_In_Approval</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>In Approval</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Update_Status_to_Not_Needed</name>
        <label>Update Status to Not Needed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Order_Status_Not_Needed</name>
            <actionName>Order_Distributor_Approval_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Distributor_Approval_Status</name>
                <value>
                    <stringValue>Not Needed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Order Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>ApprovalWorkflow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Team_Members</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted/ In Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Created_From_Portal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Salesforce_Order_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ZOR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Distributor_Submission_Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;&lt;meta charset=&quot;UTF-8&quot;&gt;&lt;title&gt;Sample Order Notification&lt;/title&gt;&lt;/head&gt;&lt;body style=&quot;font-family: Arial, sans-serif; font-size: 14px; color: #333; line-height: 1.5; margin:0; padding:0;&quot;&gt;&lt;p&gt;Dear Colleague,&lt;/p&gt;&lt;p&gt;A new sample order has been sent for your review.&lt;/p&gt;&lt;h3 style=&quot;color:#1a73e8; margin-bottom:8px; border-bottom:2px solid #1a73e8; padding-bottom:4px; font-family:Arial,sans-serif; font-size:14px;&quot;&gt;Request Details&lt;/h3&gt;&lt;table style=&quot;border-collapse: collapse; width:100%; margin-bottom:15px; font-family:Arial,sans-serif; font-size:14px; color:#333;&quot;&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px; font-weight:bold; width:150px;&quot;&gt;Order Number:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!$Record.OrderNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px; font-weight:bold;&quot;&gt;Account:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!$Record.Account.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px; font-weight:bold;&quot;&gt;Ship To:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!$Record.Ship_To_Account__r.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px; font-weight:bold;&quot;&gt;Requestor:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;h3 style=&quot;color:#1a73e8; margin-bottom:8px; border-bottom:2px solid #1a73e8; padding-bottom:4px; font-family:Arial,sans-serif; font-size:14px;&quot;&gt;Portal Information&lt;/h3&gt;&lt;table style=&quot;border-collapse: collapse; width:100%; margin-bottom:15px; font-family:Arial,sans-serif; font-size:14px; color:#333;&quot;&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px; font-weight:bold; width:150px;&quot;&gt;End Customer:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!$Record.End_Customer__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px; font-weight:bold;&quot;&gt;Application:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!$Record.Application__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px; font-weight:bold;&quot;&gt;Potential Volume:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!$Record.Potential_Volume1__c}&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;h3 style=&quot;color:#1a73e8; margin-bottom:8px; border-bottom:2px solid #1a73e8; padding-bottom:4px; font-family:Arial,sans-serif; font-size:14px;&quot;&gt;Order Items&lt;/h3&gt;&lt;table style=&quot;border-collapse: collapse; width:100%; margin-bottom:15px; border:1px solid #cce6ff; font-family:Arial,sans-serif; font-size:14px; color:#333;&quot;&gt;&lt;thead&gt;&lt;tr style=&quot;background-color:#cce6ff; font-weight:bold;&quot;&gt;&lt;th style=&quot;border:1px solid #b3d9ff; padding:8px; text-align:left;&quot;&gt;Item Name&lt;/th&gt;&lt;th style=&quot;border:1px solid #b3d9ff; padding:8px; text-align:center;&quot;&gt;Quantity&lt;/th&gt;&lt;th style=&quot;border:1px solid #b3d9ff; padding:8px; text-align:center;&quot;&gt;Unit&lt;/th&gt;&lt;/tr&gt;&lt;/thead&gt;&lt;tbody&gt;{!Get_Order_Products.Outputs.OrderItemTableRows}&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;Please review the order and take necessary action.&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Your CRM Support Team&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;font-size:12px; color:#888; font-family:Arial,sans-serif;&quot;&gt;(This is an automated message from the mySalesforce system.)&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</text>
    </textTemplates>
</Flow>
