SynProdGITV1/force-app/main/default/flows/Order_Clone_Order_and_Line_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_the_Order_Item_Data_to_Item_List</name>
        <label>Add the Order Item Data to Item List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lstOrderProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recSingleOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_OLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Order Line Item Values</description>
        <name>Assign_Order_Line_Items_Values</name>
        <label>Assign Order Line Items Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recSingleOLI.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.Plant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.Plant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.OrderItemNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.OrderItemNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.Quantity_UoM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.Quantity_UoM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.Planned_Shipping_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.Planned_Shipping_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.Shipping_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.Planned_Shipping_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.UnitPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.Approver_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.Approver_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.Total_Price_Internal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_item_int_total_price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.Sample_Master_Matrix_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.Sample_Master_Matrix_Data__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.Sales_Organisation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.Sales_Organisation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.Default_Product_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.Default_Product_Used__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.Salesforce_Order_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.Salesforce_Order_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.S4_Order_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.S4_Order_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.Distribution_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.Distribution_Channel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.Division__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.S4_Item_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.S4_Item_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.Commodity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.Commodity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSingleOLI.Country_Of_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OLI.Country_Of_Origin__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_Order_Item_Data_to_Item_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>We cannot clone the Migrated Order as Sample Product may not be in Sample Matrix Master and Sample Matrix ID also will not be present</description>
        <name>Check_if_Order_is_not_Migrated</name>
        <label>Check if Order is not Migrated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Cannot_Clone_Migrated_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_a_Migrated_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Details.Order_DM_External_ID__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Details</targetReference>
            </connector>
            <label>Not a Migrated Order</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if null or not</description>
        <name>Check_If_Order_Line_Item_Exist_On_Current_Order</name>
        <label>Check If Order Line Item Exist On Current Order?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Order_Is_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Not Exist</defaultConnectorLabel>
        <rules>
            <name>If_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Line_Items_of_Current_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_OLI</targetReference>
            </connector>
            <label>If Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Empty</name>
        <label>Is Empty?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Line_Items_of_Current_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <description>SS2-T115 Clone Order and Line Items</description>
    <environments>Default</environments>
    <formulas>
        <description>Add 7 days to the start date</description>
        <name>DefaultStartDate</name>
        <dataType>Date</dataType>
        <expression>NOW()+7</expression>
    </formulas>
    <formulas>
        <name>f_item_int_total_price</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_on_OLI.UnitPrice}*{!Loop_on_OLI.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Order- {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - Clone Order and Line Items</label>
    <loops>
        <description>Iterate Over Order Line Items</description>
        <name>Loop_on_OLI</name>
        <label>Loop on OLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Order_Line_Items_of_Current_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Order_Line_Items_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Order Clone</description>
        <name>Create_Cloned_Order</name>
        <label>Create Cloned Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>OrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_If_Order_Line_Item_Exist_On_Current_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_3</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Order_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillToContactId</field>
            <value>
                <elementReference>Get_Order_Details.BillToContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_Order_Details.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Get_Order_Details.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>Get_Order_Details.BillingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingGeocodeAccuracy</field>
            <value>
                <elementReference>Get_Order_Details.BillingGeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLatitude</field>
            <value>
                <elementReference>Get_Order_Details.BillingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLongitude</field>
            <value>
                <elementReference>Get_Order_Details.BillingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_Order_Details.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_Order_Details.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStateCode</field>
            <value>
                <elementReference>Get_Order_Details.BillingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_Order_Details.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cloned_from_Sample_Order_ID_Name__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Order_Details.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Block__c</field>
            <value>
                <elementReference>Get_Order_Details.Delivery_Block__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Channel__c</field>
            <value>
                <elementReference>Get_Order_Details.Distribution_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>Get_Order_Details.Division__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Order_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Cost__c</field>
            <value>
                <elementReference>Get_Order_Details.Estimated_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evaluated_Sold_To_Party__c</field>
            <value>
                <elementReference>Get_Order_Details.Evaluated_Sold_To_Party__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IncoTerms_Location__c</field>
            <value>
                <elementReference>Get_Order_Details.IncoTerms_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IncoTerms__c</field>
            <value>
                <elementReference>Get_Order_Details.IncoTerms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instruction_for_Warehouse__c</field>
            <value>
                <elementReference>Get_Order_Details.Instruction_for_Warehouse__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Notes__c</field>
            <value>
                <elementReference>Get_Order_Details.Internal_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Ship_To_Contact_Related__c</field>
            <value>
                <elementReference>Get_Order_Details.Is_Ship_To_Contact_Related__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KSA_Short_Address__c</field>
            <value>
                <elementReference>Get_Order_Details.KSA_Short_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Order_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Order_Details.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>Get_Order_Details.Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plant__c</field>
            <value>
                <elementReference>Get_Order_Details.Plant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Order_Details.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S4_Order_Type__c</field>
            <value>
                <elementReference>Get_Order_Details.S4_Order_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Organisation__c</field>
            <value>
                <elementReference>Get_Order_Details.Sales_Organisation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_Order_Type__c</field>
            <value>
                <elementReference>Get_Order_Details.Salesforce_Order_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToContactId</field>
            <value>
                <elementReference>Get_Order_Details.ShipToContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Account__c</field>
            <value>
                <elementReference>Get_Order_Details.Ship_To_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipment_Cost__c</field>
            <value>
                <elementReference>Get_Order_Details.Shipment_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Get_Order_Details.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Get_Order_Details.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountryCode</field>
            <value>
                <elementReference>Get_Order_Details.ShippingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingGeocodeAccuracy</field>
            <value>
                <elementReference>Get_Order_Details.ShippingGeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingLatitude</field>
            <value>
                <elementReference>Get_Order_Details.ShippingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingLongitude</field>
            <value>
                <elementReference>Get_Order_Details.ShippingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Get_Order_Details.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Get_Order_Details.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStateCode</field>
            <value>
                <elementReference>Get_Order_Details.ShippingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Get_Order_Details.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Carrier__c</field>
            <value>
                <elementReference>Get_Order_Details.Shipping_Carrier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Condition__c</field>
            <value>
                <elementReference>Get_Order_Details.Shipping_Condition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <description>Create Order Line Items</description>
        <name>Create_Order_Line_Items</name>
        <label>Create Order Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Order_Created_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error</targetReference>
        </faultConnector>
        <inputReference>lstOrderProducts</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Details of Order from which Order is to be cloned</description>
        <name>Get_Order_Details</name>
        <label>Get Order Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Order_is_not_Migrated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error_3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get OLI of Order which is to be cloned</description>
        <name>Get_Order_Line_Items_of_Current_Order</name>
        <label>Get Order Line Items of Current Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Cloned_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Details.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Cannot Clone Migrated Order</description>
        <name>Cannot_Clone_Migrated_Order</name>
        <label>Cannot Clone Migrated Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Info_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You cannot Clone a Migrated Sample Order&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(244, 3, 3); font-size: 14px;&quot;&gt;Error in fetching Order Data&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_2</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Log_an_Error_1</targetReference>
        </connector>
        <fields>
            <name>Display_Error_Message_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(244, 3, 3);&quot;&gt;Error in fetching Order Items&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_3</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Log_an_Error_2</targetReference>
        </connector>
        <fields>
            <name>DisplayErrorMessage_2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(244, 3, 3);&quot;&gt;Error in Fetching Order &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Created_Screen</name>
        <label>Order Created Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Create_Order</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(1, 1, 1);&quot;&gt;Order created successfully with Order item(s) records.&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 255); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!OrderId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 255); background-color: rgb(255, 255, 255);&quot;&gt;Click here to open Order&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Details</name>
        <label>Order Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Empty</targetReference>
        </connector>
        <fields>
            <name>Order_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Order_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Order_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Order Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Order_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Order_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DefaultStartDate</elementReference>
                    </defaultValue>
                    <fieldText>Order Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Start Clone Process</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Is_Created</name>
        <label>Order Is Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreateQuote</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Order is created without Order Item, because no Order Item exist on the Current Order.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!OrderId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here to Open Order&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_an_Error</name>
        <label>Log an Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Error comes while cloning OLIs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Flow - Clone Order and Items</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Create Order Line Items</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error comes while creating OLIs</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error_1</name>
        <label>Log an Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Error Cloning Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Clone Quote Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Quote Line Items</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <stringValue>Quote Items</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error_2</name>
        <label>Log an Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Error Cloning Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Clone Order Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Create Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <stringValue>Order Items</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error_3</name>
        <label>Log an Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Error in Cloning Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Clone Order Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <stringValue>Order Items</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>stores Single OLI</description>
        <name>deleteIt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <description>Collection variable to store all the Order Products</description>
        <name>lstOrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <description>Use it in OrderId</description>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>stores Single OLI</description>
        <name>recSingleOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
