SynProdGITV1/force-app/main/default/flows/Order_Product_After_Save_Update_Order_Status_to_Completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <description>Check all the Items are Dispatched - i.e. the Get All non-dispatched item collection should be empty</description>
        <name>Check_if_all_the_Items_are_Dispatched</name>
        <label>Check if all the Items are Dispatched</label>
        <locationX>440</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_non_dispatched_Order_Items</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Status_to_Completed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_for_flow_bypass</name>
        <label>Check User for flow bypass</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_all_non_dispatched_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User can&apos;t bypass the Validation</defaultConnectorLabel>
        <rules>
            <name>User_can_bypass_the_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bypass_Flows_User_related_Flow.Is_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User can bypass the Validation</label>
        </rules>
    </decisions>
    <description>Once All the Order Products&apos; delivery status is set to &quot;Dispatched&quot; (i.e. completed) , Set the Order header status to &quot;Completed&quot;
This is applicable for only Enorica and CRM Sample Orders.
Note - If the flow API name has changed, please update the Get Bypass flows - User related flow element</description>
    <environments>Default</environments>
    <interviewLabel>Order Product - After Save - Update Order Status to Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product - After Save - Update Order Status to Completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Check if there are any Items which does not have Delivery Status as Dispatched</description>
        <name>Get_all_non_dispatched_Order_Items</name>
        <label>Get all non-dispatched Order Items</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_all_the_Items_are_Dispatched</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Log_3</targetReference>
        </faultConnector>
        <filterLogic>1 AND ( 2 OR 3)</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Delivery_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Delivery_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <sortField>Delivery_Status__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the bypass user-related flow - child of Bypass Flows - user</description>
        <name>Get_Bypass_Flows_User_related_Flow</name>
        <label>Get Bypass Flows - User related Flow</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_for_flow_bypass</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Log_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Load_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bypass_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Flow_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order_Product_After_Save_Update_Order_Status_to_Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User_related_Flow__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the current user details if he can bypass the validation</description>
        <name>Get_Bypass_User</name>
        <label>Get Bypass User</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bypass_Flows_User_related_Flow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Since all the items&apos; delivery status is set to &apos;Completed, update Order Status to Completed</description>
        <name>Update_Order_Status_to_Completed</name>
        <label>Update Order Status to Completed</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <faultConnector>
            <targetReference>Create_Log_4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bypass_User</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( 3 OR 4 )</filterLogic>
        <filters>
            <field>Delivery_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Delivery_Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Salesforce_Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZSLS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Salesforce_Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZCRM</stringValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Log</name>
        <label>Create Log</label>
        <locationX>1496</locationX>
        <locationY>431</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order Product - After Save - Update Order Status to Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Bypass User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.OrderItemNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error while fetching bypass user</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Log_2</name>
        <label>Create Log</label>
        <locationX>1232</locationX>
        <locationY>539</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order Product - After Save - Update Order Status to Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Bypass Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.OrderItemNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error while fetching bypass flows</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Log_3</name>
        <label>Create Log</label>
        <locationX>968</locationX>
        <locationY>755</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order Product - After Save - Update Order Status to Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get all non-dispatched Order Items</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.OrderItemNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error while fetching non-dispatched order items</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Log_4</name>
        <label>Create Log</label>
        <locationX>440</locationX>
        <locationY>971</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order Product - After Save - Update Order Status to Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Update Order Status to Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.OrderItemNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error while updating order</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Count of Non-dispatched Items</description>
        <name>CountofNondispatchedItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Check_for_Non_Dispatched_Items</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
