SynProdGITV1/force-app/main/default/flows/Order_Sample_Order_TSA_Approved_Rejected.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_Chatter_Post_TSCA</name>
        <label>Approval Chatter Post</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>orderTSCAApprovalMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approval_Chatter_Post_TSCA_DM</name>
        <label>Approval Chatter Post</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Approved_DM</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>orderTSCAApprovalMessageDM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>In_Approval_Chatter_Post</name>
        <label>In Approval Chatter Post</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Erro_InProgress</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>orderInApprovalMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Rejection_Chatter_Post</name>
        <label>Rejection  Chatter Post</label>
        <locationX>2954</locationX>
        <locationY>458</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_3</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>orderRejectMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Rejection_Chatter_Post_DM</name>
        <label>Rejection Chatter Post</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Rejected_DM</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>orderRejectMessageDM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>TSA_Approval_Status_Approved</name>
        <label>TSA Approval Status - Approved</label>
        <locationX>1238</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Order.TSCA_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TSA_Approval_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order.ML_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_created_by_Distributor_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TSA_Approval_Status_In_Approval</name>
        <label>TSA Approval Status - In Approval</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Order.TSCA_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TSA_Approval_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>In_Approval_Chatter_Post</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TSA_Approval_Status_Not_Needed</name>
        <label>TSA Approval Status - Not Needed</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Order.TSCA_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TSA_Approval_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order.ML_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TSA_Approval_Status_Rejected</name>
        <label>TSA Approval Status - Rejected</label>
        <locationX>2558</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Order.TSCA_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TSA_Approval_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_created_by_Distributor_User_DM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_TSA_Approval_Status</name>
        <label>Check TSA Approval Status</label>
        <locationX>1766</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Update_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TSA_Approval_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TSA_Approval_Status_Not_Needed</targetReference>
            </connector>
            <label>Not Needed</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TSA_Approval_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TSA_Approval_Status_In_Approval</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TSA_Approval_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TSA_Approval_Status_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TSA_Approval_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TSA_Approval_Status_Rejected</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_created_by_Distributor_User</name>
        <label>Order created by Distributor User?</label>
        <locationX>1238</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Approval_Chatter_Post_TSCA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Synthomer Distributor User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Approved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_created_by_Distributor_User_DM</name>
        <label>Order created by Distributor User?</label>
        <locationX>2558</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Rejection_Chatter_Post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Synthomer Distributor User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Rejected</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow for update the order accordingly the TSA approval status</description>
    <environments>Default</environments>
    <formulas>
        <name>forMentionList</name>
        <dataType>String</dataType>
        <expression>MID({!mentionList}, 2, LEN({!mentionList}) - 2)</expression>
    </formulas>
    <formulas>
        <description>formula created to tag Owner and created by in chatter post. 
If both are same - tag owner. 
else tag both</description>
        <name>formula_ChatterMention_Order</name>
        <dataType>String</dataType>
        <expression>IF(
  {!Order.OwnerId}= {!Order.CreatedById},
   &quot;@[&quot; &amp; {!Order.OwnerId}&amp; &quot;]&quot;,
   &quot;@[&quot; &amp; {!Order.OwnerId} &amp; &quot;] and @[&quot; &amp; {!Order.CreatedById} &amp; &quot;]&quot;
)</expression>
    </formulas>
    <interviewLabel>Order - Sample Order TSA - Approved/Rejected {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - Sample Order TSA - Approved/Rejected</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Approved</name>
        <label>Get User</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Chatter_Post_TSCA_DM</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Approved_User</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Distributor_Submittor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Rejected</name>
        <label>Get User</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rejection_Chatter_Post_DM</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Rejected_User</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Distributor_Submittor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>1766</locationX>
        <locationY>1082</locationY>
        <faultConnector>
            <targetReference>Log_Error_4</targetReference>
        </faultConnector>
        <inputReference>Order</inputReference>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_TSA_Approval_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Erro_InProgress</name>
        <label>Log Error</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>In Approval Chatter Post</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while posting to chatter</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_2</name>
        <label>Log Error</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Approval Chatter Post</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while posting to chatter</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_3</name>
        <label>Log Error</label>
        <locationX>3218</locationX>
        <locationY>566</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Rejection Chatter Post</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while posting to chatter</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_4</name>
        <label>Log Error</label>
        <locationX>3658</locationX>
        <locationY>1190</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Update Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while updating the order</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Approved_DM</name>
        <label>Log Error</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Approval Chatter Post</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while posting to chatter</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Approved_User</name>
        <label>Log Error</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Approval Chatter Post</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while posting to chatter</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Rejected_DM</name>
        <label>Log Error</label>
        <locationX>2426</locationX>
        <locationY>674</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Rejection Chatter Post</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while posting to chatter</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Rejected_User</name>
        <label>Log Error</label>
        <locationX>2690</locationX>
        <locationY>566</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while posting to chatter</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Post to Chatter whenever the  Approves</description>
        <name>orderApprovalMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!formula_ChatterMention_Order}, 
Sample Order -  {!Order.OrderNumber} has been Approved. 

Request Details:
Order Number: {!Order.OrderNumber}
Ship To Name: {!Order.Ship_To_Account__r.Name}
Requestor: {!Order.Owner:User.FirstName} {!Order.Owner:User.LastName}

Best regards,  
Your CRM Support Team

The mySalesForce system automatically generated this message.</text>
    </textTemplates>
    <textTemplates>
        <name>orderInApprovalMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Sample Order has been submitted for TSA approval.</text>
    </textTemplates>
    <textTemplates>
        <description>Post to Chatter whenever the TSA Rejects</description>
        <name>orderRejectMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear @[{!Order.OwnerId}],
Kindly be informed that the status of Sample Order {!Order.OrderNumber} has been changed to the status {!Order.Status}.  

Best regards,
Your CRM Support Team</text>
    </textTemplates>
    <textTemplates>
        <description>Post to Chatter whenever the TSA Rejects</description>
        <name>orderRejectMessageDM</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear @[{!Get_User_Rejected.Id}],
Kindly be informed that the status of Sample Order {!Order.OrderNumber} has been changed to the status {!Order.Status}.  

Best regards,
Your CRM Support Team</text>
    </textTemplates>
    <textTemplates>
        <description>Post to Chatter whenever the TSA Approves</description>
        <name>orderTSCAApprovalMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!formula_ChatterMention_Order}, 
TSCA approval has been granted.

Request Details:
Order Number: {!Order.OrderNumber}
Ship To Name: {!Order.Ship_To_Account__r.Name}
Requestor: {!Order.Owner:User.FirstName} {!Order.Owner:User.LastName}

Best regards,  
Your CRM Support Team

The mySalesForce system automatically generated this message.</text>
    </textTemplates>
    <textTemplates>
        <description>Post to Chatter whenever the TSA Approves</description>
        <name>orderTSCAApprovalMessageDM</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear @[{!Get_User_Approved.Id}], 
TSCA approval has been granted.

Request Details:
Order Number: {!Order.OrderNumber}
Ship To Name: {!Order.Ship_To_Account__r.Name}
Requestor: {!Get_User_Approved.FirstName} {!Get_User_Approved.LastName}

Best regards,  
Your CRM Support Team

The mySalesForce system automatically generated this message.</text>
    </textTemplates>
    <variables>
        <name>mentionList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TSA_Approval_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
