SynProdGITV1/force-app/main/default/flows/Order_Product_After_Create_Update_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Distribution_Channel</name>
        <label>Assign Distribution Channel</label>
        <locationX>99</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>assignOrderFields.Distribution_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distribution_Channel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Division_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Division</name>
        <label>Assign Division</label>
        <locationX>99</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>assignOrderFields.Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Order_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Id</name>
        <label>Assign Order Id</label>
        <locationX>231</locationX>
        <locationY>2663</locationY>
        <assignmentItems>
            <assignToReference>assignOrderFields.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Plant</name>
        <label>Assign Plant</label>
        <locationX>99</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>assignOrderFields.Plant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Plant__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Salesforce_Order_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_S4_Order_Type</name>
        <label>Assign S4 Order Type</label>
        <locationX>99</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>assignOrderFields.S4_Order_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.S4_Order_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Sales_Organization_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Orgnization</name>
        <label>Assign Sales Orgnization</label>
        <locationX>99</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>assignOrderFields.Sales_Organisation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Organisation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Distribution_Channel_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Salesforce_Order_Type</name>
        <label>Assign Salesforce Order Type</label>
        <locationX>99</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>assignOrderFields.Salesforce_Order_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Salesforce_Order_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_S4_Order_Null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_User_for_flow_bypass</name>
        <label>Check User for flow bypass</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User can&apos;t bypass the Validation</defaultConnectorLabel>
        <rules>
            <name>User_can_bypass_the_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bypass_Flows_User_related_Flow.Is_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User can bypass the Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Distribution_Channel_Null</name>
        <label>Is Distribution Channel Null</label>
        <locationX>231</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Is_Division_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Distribution_Channel_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Record.Distribution_Channel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Distribution_Channel</targetReference>
            </connector>
            <label>Yes Distribution Channel Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Division_Null</name>
        <label>Is Division Null</label>
        <locationX>231</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>Assign_Order_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Division_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Record.Division__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Division</targetReference>
            </connector>
            <label>Yes Division Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Field_Null</name>
        <label>Is Field Null</label>
        <locationX>231</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Is_Salesforce_Order_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Is_Plant_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Record.Plant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Plant</targetReference>
            </connector>
            <label>Is Plant Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>S4 Order Type has to be reset if the Item does not match with the Header (this is because Enorica samples will have this field empty hence when User first select S4 product and deletes it and reselect Enorica sample - t hen S4 Order needs to be updated with blank value)</description>
        <name>Is_S4_Order_Null</name>
        <label>Is S4 Order Null</label>
        <locationX>231</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Is_Sales_Organization_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Is_S4_Order_Type_different</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.S4_Order_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Order_Record.S4_Order_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_S4_Order_Type</targetReference>
            </connector>
            <label>Is S4 Order Type different</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sales_Organization_Null</name>
        <label>Is Sales Organization Null</label>
        <locationX>231</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Is_Distribution_Channel_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Record.Sales_Organisation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Organisation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Orgnization</targetReference>
            </connector>
            <label>Yes Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Salesforce_Order_Null</name>
        <label>Is Salesforce Order Null</label>
        <locationX>231</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Is_S4_Order_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>yes_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Record.Salesforce_Order_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Salesforce_Order_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Salesforce_Order_Type</targetReference>
            </connector>
            <label>yes Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Fields_are_Null</name>
        <label>Order Fields are Null?</label>
        <locationX>517</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Record.Plant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Record.Sales_Organisation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Record.S4_Order_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Record.Salesforce_Order_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Record.Division__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Record.Distribution_Channel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Field_Null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update Parent Order for fields. 

Salesforce_Order_Type__c
Sales_Organisation__c
S4_Order_Type__c
Plant__c

Note - If the flow API name has changed, please update the Get Bypass flows - User related flow element</description>
    <environments>Default</environments>
    <interviewLabel>Order Product - After Create - Update Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product - After Create (Update Parent Order Fields)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the bypass user-related flow - child of Bypass Flows - user</description>
        <name>Get_Bypass_Flows_User_related_Flow</name>
        <label>Get Bypass Flows - User related Flow</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_for_flow_bypass</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Load_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bypass_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Flow_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order_Product_After_Create_Update_Order</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User_related_Flow__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the current user details if he can bypass the validation</description>
        <name>Get_Bypass_User</name>
        <label>Get Bypass User</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bypass_Flows_User_related_Flow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Log_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Here we fetch Order Record related to Order Product</description>
        <name>Get_Order_Record</name>
        <label>Get Order Record</label>
        <locationX>517</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Fields_are_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Fields</name>
        <label>Update Order Fields</label>
        <locationX>231</locationX>
        <locationY>2771</locationY>
        <faultConnector>
            <targetReference>Update_Order_Create_log</targetReference>
        </faultConnector>
        <inputReference>assignOrderFields</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bypass_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salesforce_Order_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ZOR</stringValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>1067</locationX>
        <locationY>539</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order Product - After Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Bypass Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Failed to get Bypass Flows</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Error_Log_1</name>
        <label>Create Error Log</label>
        <locationX>1331</locationX>
        <locationY>431</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order Product - After Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Bypass User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Failed to Get Bypass User</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Order_Create_log</name>
        <label>Update Order Create log</label>
        <locationX>539</locationX>
        <locationY>2879</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order Product - After Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <elementReference>Update_Order_Fields</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Failed to Update Order with Plant, Order Type, Sales Org</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>assignOrderFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>updateOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
