SynProdGITV1/force-app/main/default/flows/Order_Sample_Order_TSA_Approval_Or.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <description>Checks if TSA Approval Needed or not.</description>
        <name>Check_if_TSCA_Approved_Needed_or_not</name>
        <label>Check if TSCA Approved Needed or not</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>TSA_Not_Needed_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TSCA_Approval_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the Status is Approve or Reject and According calls the different stages</description>
        <name>TSCA_Approval_Status_Check</name>
        <label>TSCA Approval Status Check</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Rejection_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved_TSA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TSA_Approver.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TSA_Approver.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Stage</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <description>Approval Process for TSA Approval</description>
    <environments>Default</environments>
    <formulas>
        <name>URLBase</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_610}, FIND(&quot;/services&quot;, {!$Api.Enterprise_Server_URL_610}) - 1)</expression>
    </formulas>
    <interviewLabel>Order - Sample Order TSA Approval (Or) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - Sample Order TSA Approval (Or)</label>
    <orchestratedStages>
        <description>Update Order Status to Approved</description>
        <name>Approval_Stage</name>
        <label>Approval Stage</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_TSA_Approval_Status_Approved</name>
            <actionName>Order_Sample_Order_TSA_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TSA_Approval_Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <label>Update TSA Approval Status - Approved</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Update Order Status to Draft</description>
        <name>Rejection_Stage</name>
        <label>Rejection Stage</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_TSA_Approval_Status_Rejected</name>
            <actionName>Order_Sample_Order_TSA_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TSA_Approval_Status</name>
                <value>
                    <stringValue>Rejected</stringValue>
                </value>
            </inputParameters>
            <label>Update TSA Approval Status - Rejected</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>TSA Approver Process- Stage Containing TSA Approver Approval Step, It sends an Email to TSA Group.</description>
        <name>TSA_Approver_Process</name>
        <label>TSA Approver Process</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>TSCA_Approval_Status_Check</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Approval Step for TSA Group</description>
            <name>TSA_Approver</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>TSA_Approvers</stringValue>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
                <value>
                    <elementReference>strTSASubject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
                <value>
                    <elementReference>strTSAApprovalBody</elementReference>
                </value>
            </inputParameters>
            <label>TSA Approver</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Check all the OLI status and update the Order accordingly</description>
        <name>TSA_Not_Needed_Stage</name>
        <label>TSA Not Needed Stage</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_TSA_Approval_Status_Not_Needed</name>
            <actionName>Order_Sample_Order_TSA_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TSA_Approval_Status</name>
                <value>
                    <stringValue>Not Needed</stringValue>
                </value>
            </inputParameters>
            <label>Update TSA Approval Status - Not Needed</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Update</name>
        <label>Update TSA Approval Status</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>TSA_Approver_Process</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_TSA_Approval_Status_In_Progress</name>
            <actionName>Order_Sample_Order_TSA_Approved_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Order</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TSA_Approval_Status</name>
                <value>
                    <stringValue>In Progress</stringValue>
                </value>
            </inputParameters>
            <label>Update TSA Approval Status - In Progress</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>ApprovalWorkflow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_TSCA_Approved_Needed_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TSCA_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </filters>
        <filters>
            <field>Salesforce_Order_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ZOR</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>strTSAApprovalBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear TSCA Approver,&lt;/p&gt;&lt;p&gt;A new sample order has been sent for your review and TSCA approval.&lt;/p&gt;&lt;h3 style=&quot;color:#1E90FF; border-bottom:2px solid #1E90FF; padding-bottom:4px; font-size:15px;&quot;&gt;Request Details&lt;/h3&gt;&lt;table style=&quot;border-collapse:collapse; width:100%; font-family:Arial,sans-serif; font-size:14px; color:#000;&quot;&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px; font-weight:bold; width:160px;&quot;&gt;Order Number:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!$Record.OrderNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px; font-weight:bold;&quot;&gt;Ship To:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!$Record.Ship_To_Account__r.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px; font-weight:bold;&quot;&gt;Requestor:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;Please review the order and take necessary action.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!URLBase}/lightning/r/Order/{!$Record.Id}/view&quot; style=&quot;display:inline-block; background-color:#1E90FF; color:#fff; padding:8px 14px; text-decoration:none; border-radius:4px; font-weight:bold;&quot;&gt;View Order in Salesforce&lt;/a&gt;&lt;/p&gt;&lt;br&gt;&lt;p&gt;Best regards,&lt;br&gt;&lt;strong&gt;Your CRM Support Team&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;font-size:12px; color:#666;&quot;&gt;(This is an automated message from the mySalesforce system.)&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>strTSASubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>TSCA Approval Required: Sample Order Number: {!$Record.OrderNumber}</text>
    </textTemplates>
    <variables>
        <name>recApprover</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
