SynProdGITV1/force-app/main/default/flows/Order_Update_Product_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_OLI_s_information</name>
        <label>Assign OLI&apos;s information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OrderItemTableRows</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tr&gt;     &lt;td style=&quot;border: 1pt solid #b3d9ff; padding: 8px;&quot;&gt;{!Loop_on_OLI.Description}&lt;/td&gt;     &lt;td style=&quot;border: 1pt solid #b3d9ff; padding: 8px; text-align: center;&quot;&gt;{!Loop_on_OLI.Quantity}&lt;/td&gt;     &lt;td style=&quot;border: 1pt solid #b3d9ff; padding: 8px; text-align: center;&quot;&gt;{!Loop_on_OLI.Quantity_UoM__r.Name}&lt;/td&gt;   &lt;/tr&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_OLI</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Order -  Update Product Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order -  Update Product Details</label>
    <loops>
        <name>Loop_on_OLI</name>
        <label>Loop on Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_OLI_s_information</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_OLI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Log_Order_Products</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Log_Order_Products</name>
        <label>Create Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Update Product Details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Order Products</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while fetching Order Products</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>OrderItemTableRows</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
