SynProdGITV1/force-app/main/default/flows/Order_Update_Evaluated_Ship_To_Party_Status_changed_to_Submitted_In_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Domestic_Account</name>
        <label>Assign Domestic Account</label>
        <locationX>484</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>EvaluatedShipToParty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salesfroce_Order.One_Time_Customer_ID_Domestic__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Ship_to_Account_Sales_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_International_Account</name>
        <label>Assign International Account</label>
        <locationX>748</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>EvaluatedShipToParty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salesfroce_Order.One_Time_Customer_ID_International__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Ship_to_Account_Sales_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Account_Id_to_Evaluated_Sold_to_Party</name>
        <label>Assign Order Account Id to Evaluated Sold to Party</label>
        <locationX>704</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>EvaluatedShipToParty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Ship_To_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checking the Plant country with Order Shipping Country</description>
        <name>Check_for_Plant_Country</name>
        <label>Check for Plant Country</label>
        <locationX>616</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Assign_International_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plant_Country_Equals_to_Shipping_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Plant_Details.Address__CountryCode__s</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ShippingCountryCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Domestic_Account</targetReference>
            </connector>
            <label>Plant Country Equals to Shipping Country</label>
        </rules>
    </decisions>
    <decisions>
        <description>Compairing the Order Sales org, Distribution channel and Division with the Ship to Account Sales Data</description>
        <name>Check_Order_Products_Sales_Data_is_in_Account_Sales_Data</name>
        <label>Check Order Products Sales Data is in Account Sales Data</label>
        <locationX>968</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Iterate_on_Ship_to_Account_Sales_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_on_Ship_to_Account_Sales_Data.Sales_Org_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Sales_Organisation__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_on_Ship_to_Account_Sales_Data.Distribution_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Distribution_Channel__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_on_Ship_to_Account_Sales_Data.Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Division__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Account_Id_to_Evaluated_Sold_to_Party</targetReference>
            </connector>
            <label>Is Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_for_Flow_Bypass</name>
        <label>Check User for Flow Bypass</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Ship_to_Account_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User can&apos;t bypass the Validation</defaultConnectorLabel>
        <rules>
            <name>User_can_bypass_the_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bypass_Flows_User_related_Flow.Is_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User can bypass the Validation</label>
        </rules>
    </decisions>
    <description>Flow to determine the Ship to Party Accounts for ZPLS Orders</description>
    <environments>Default</environments>
    <interviewLabel>Order - Update Evaluated Ship To Party (Status changed to Submitted/ In Approval) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - Update Evaluated Ship To Party (Status changed to Submitted/ In Approval)</label>
    <loops>
        <name>Iterate_on_Ship_to_Account_Sales_Data</name>
        <label>Iterate on Ship to Account Sales Data</label>
        <locationX>616</locationX>
        <locationY>1379</locationY>
        <collectionReference>Get_Ship_to_Account_Sales_Data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Order_Products_Sales_Data_is_in_Account_Sales_Data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the current user details if he can bypass the validation</description>
        <name>Get_Bypass_Flows_User</name>
        <label>Get Bypass Flows - User</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bypass_Flows_User_related_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the bypass user-related flow - child of Bypass Flows - user</description>
        <name>Get_Bypass_Flows_User_related_Flow</name>
        <label>Get Bypass Flows - User related Flow</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_for_Flow_Bypass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Flow_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order_Update_Evaluated_Ship_To_Party_Status_changed_to_Submitted_In_Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Data_Load_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bypass_Flows_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User_related_Flow__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting all the fields of the Order Plant</description>
        <name>Get_Plant_Details</name>
        <label>Get Plant Details</label>
        <locationX>616</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Salesfroce_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Plant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting all the fields of the Order &gt;&gt; Plant &gt;&gt; Salesforce Order Type Determination object</description>
        <name>Get_Salesfroce_Order</name>
        <label>Get Salesforce Order Type Det</label>
        <locationX>616</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Plant_Country</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plant_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Plant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Salesforce_Order_Type_Determination__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting all the fields of the Ship to Party Account</description>
        <name>Get_Ship_to_Account_Details</name>
        <label>Get Ship to Account Details</label>
        <locationX>616</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Plant_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ship_To_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ship_to_Account_Sales_Data</name>
        <label>Get Ship to Account Sales Data</label>
        <locationX>616</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_on_Ship_to_Account_Sales_Data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Ship_to_Account_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Sales_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Record</name>
        <label>Update Order Record</label>
        <locationX>704</locationX>
        <locationY>1703</locationY>
        <faultConnector>
            <targetReference>Log_an_Error5</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Evaluated_Ship_To_Party__c</field>
            <value>
                <elementReference>EvaluatedShipToParty</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Order Records</label>
        <locationX>616</locationX>
        <locationY>2219</locationY>
        <faultConnector>
            <targetReference>Log_an_Error6</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Evaluated_Ship_To_Party__c</field>
            <value>
                <elementReference>EvaluatedShipToParty</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bypass_Flows_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salesforce_Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZPLS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted/ In Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ship_To_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_an_Error</name>
        <label>Log an Error</label>
        <locationX>2068</locationX>
        <locationY>755</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Update Evaluated Ship To Party (Status changed to Submitted/ In Approval)  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Ship To Account Datails</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.OriginalOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while getting the ship to account details</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error2</name>
        <label>Log an Error</label>
        <locationX>1804</locationX>
        <locationY>863</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Update Evaluated Ship To Party (Status changed to Submitted/ In Approval)  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Plant Details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.OriginalOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while getting the plant data</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error3</name>
        <label>Log an Error</label>
        <locationX>1540</locationX>
        <locationY>971</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Update Evaluated Ship To Party (Status changed to Submitted/ In Approval)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Salesforce Order Type Det.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.OriginalOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while getting the Salesforce Order Type Det. data</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error4</name>
        <label>Log an Error</label>
        <locationX>1276</locationX>
        <locationY>1379</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Update Evaluated Ship To Party (Status changed to Submitted/ In Approval)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Ship to Account Sales Data</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.OriginalOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while getting the Ship to Account sales data</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error5</name>
        <label>Log an Error</label>
        <locationX>968</locationX>
        <locationY>1811</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Update Evaluated Ship To Party (Status changed to Submitted/ In Approval)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Update Order Record </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.OriginalOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while updating the triggering order</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error6</name>
        <label>Log an Error</label>
        <locationX>1012</locationX>
        <locationY>2327</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Update Evaluated Ship To Party (Status changed to Submitted/ In Approval)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Update Order Record </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.OriginalOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while updating the triggering order</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>EvaluatedShipToParty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
