SynProdGITV1/force-app/main/default/flows/Order_Product_Before_Insert_Update_Update_Approver.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Assign the required fields needed for Proforma Invoice Generation
1. Commodity
2. Country of Origin</description>
        <name>Assign_Commodity</name>
        <label>Assign Commodity</label>
        <locationX>567</locationX>
        <locationY>1475</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commodity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Plant_Data.Commodity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Country_of_Origin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the required fields needed for Proforma Invoice Generation
1. Commodity
2. Country of Origin</description>
        <name>Assign_Country_of_Origin</name>
        <label>Assign Country of Origin</label>
        <locationX>611</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>$Record.Country_Of_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Plant_Data.Country_Of_Origin__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Update Approver and Approver Name for OLI directly through Sample master matrix data populated in Order Item</description>
        <name>Update_Approver_and_Approver_Name</name>
        <label>Update Approver and Approver Name</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sample_Master_Matrix_Data__r.Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Approver_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sample_Master_Matrix_Data__r.Approver__r.Username</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the Approver Name on OLI which will be used by flow</description>
        <name>Update_the_Approver_Name</name>
        <label>Update the Approver Name</label>
        <locationX>875</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Approver__r.Username</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the Approver Name on OLI which will be used by flow</description>
        <name>Update_the_Approver_Name_2</name>
        <label>Update the Approver Name</label>
        <locationX>1139</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Approver__r.Username</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Commodity</name>
        <label>Check Commodity</label>
        <locationX>479</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Assign_Commodity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Commodity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Country_of_Origin</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Country_of_Origin</name>
        <label>Check Country of Origin</label>
        <locationX>479</locationX>
        <locationY>1667</locationY>
        <defaultConnector>
            <targetReference>Assign_Country_of_Origin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country_Of_Origin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_for_flow_bypass</name>
        <label>Check User for flow bypass</label>
        <locationX>210</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Is_Created_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User can&apos;t bypass the Validation</defaultConnectorLabel>
        <rules>
            <name>User_can_bypass_the_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bypass_Flows_User_related_Flow.Is_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User can bypass the Validation</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Approver is changed or not</description>
        <name>Is_Approver_Changed</name>
        <label>Is Approver Changed?</label>
        <locationX>1271</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approver__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Approver_Name_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Approver is empty while creation</description>
        <name>is_Approver_Empty</name>
        <label>is Approver Empty?</label>
        <locationX>462</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Update_the_Approver_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approver_and_Approver_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the order is created or updated.</description>
        <name>Is_Created_Updated</name>
        <label>Is Created/Updated?</label>
        <locationX>866</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Is_Approver_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Approver_Empty</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Get_Order_null</name>
        <label>Is Get Order null?</label>
        <locationX>50</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>Get_Product_Plant_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Get Product Plant Data is null or not</description>
        <name>Is_Get_Product_Plant_Data_null</name>
        <label>Is Get Product Plant Data null?</label>
        <locationX>281</locationX>
        <locationY>1259</locationY>
        <defaultConnector>
            <targetReference>Check_Commodity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Plant_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update Approver Name whenever the Order Item gets Inserted into the system and Updates the Counrty of Origin and Commodity for Conga Composer - Proforma Invoice Generation
Note - If the flow API name has changed, please update the Get Bypass flows - User related flow element</description>
    <environments>Default</environments>
    <interviewLabel>Order Product - Before Insert/Update - Update Approver {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product - Before Insert/Update - Update Approver</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the bypass user-related flow - child of Bypass Flows - user</description>
        <name>Get_Bypass_Flows_User_related_Flow</name>
        <label>Get Bypass Flows - User related Flow</label>
        <locationX>210</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_for_flow_bypass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Load_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bypass_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Flow_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order_Product_Before_Insert_Update_Update_Approver</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User_related_Flow__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bypass_User</name>
        <label>Get Bypass User</label>
        <locationX>210</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bypass_Flows_User_related_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Flows_User__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SS2-T192 - Get Order</description>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Get_Order_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SS2-T192 -</description>
        <name>Get_Product_Plant_Data</name>
        <label>Get Product Plant Data</label>
        <locationX>281</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Get_Product_Plant_Data_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plant_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order.Plant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Plant_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>84</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bypass_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salesforce_Order_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ZOR</stringValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>600</triggerOrder>
</Flow>
