SynProdGITV1/force-app/main/default/flows/Order_Sample_Order_TSA_Approved_Rejected.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_Chatter_Post_TSCA</name>
        <label>Approval Chatter Post</label>
        <locationX>4142</locationX>
        <locationY>458</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Get_Running_User_Approved</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>orderTSCAApprovalMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approval_Chatter_Post_TSCA_DM</name>
        <label>Approval Chatter Post</label>
        <locationX>2822</locationX>
        <locationY>566</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Check_Distributor_Submittor_Approved</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Approved_DM</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>orderTSCAApprovalMessageDM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>In_Approval_Chatter_Post</name>
        <label>In Approval Chatter Post</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Order_Created_by_Distributor_User_In_Approval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Erro_InProgress</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>orderInApprovalMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Rejection_Chatter_Post</name>
        <label>Rejection Chatter Post</label>
        <locationX>6782</locationX>
        <locationY>458</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Get_Running_User_Rejected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_3</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>orderRejectMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Rejection_Chatter_Post_DM</name>
        <label>Rejection Chatter Post</label>
        <locationX>5462</locationX>
        <locationY>566</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Check_Distributor_Submittor_Rejected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Rejected_DM</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>orderRejectMessageDM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Approved_Email_to_Distributor_Submittor</name>
        <label>Send Approved Email to Distributor Submittor</label>
        <locationX>2954</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Send_Approved_Email_to_Distributor_Submittor</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@synthomer.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>TSCA Approval Granted – Order {!Order.OrderNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;&lt;meta charset=&quot;UTF-8&quot;&gt;&lt;title&gt;TSCA Approval Granted&lt;/title&gt;&lt;/head&gt;&lt;body style=&quot;font-family:Arial,sans-serif;font-size:14px;color:#000;line-height:1.6;&quot;&gt;&lt;p&gt;Dear {!Get_User_Approved.Name},&lt;/p&gt;&lt;p&gt;TSCA approval has been &lt;strong style=&quot;color:#008000;&quot;&gt;granted&lt;/strong&gt;.&lt;/p&gt;&lt;h3 style=&quot;color:#008000;border-bottom:2px solid #008000;padding-bottom:4px;font-size:15px;&quot;&gt;Request Details&lt;/h3&gt;&lt;table style=&quot;border-collapse:collapse;width:100%;font-family:Arial,sans-serif;font-size:14px;color:#000;&quot;&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px;font-weight:bold;width:160px;&quot;&gt;Order Number:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!Order.OrderNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px;font-weight:bold;&quot;&gt;Ship To Name:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!Order.Ship_To_Account__r.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px;font-weight:bold;&quot;&gt;Requestor:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!Order.Owner:User.FirstName} {!Order.Owner:User.LastName}&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;a href=&quot;{!URLBase}/lightning/r/Order/{!Order.Id}/view&quot; style=&quot;display:inline-block;background-color:#008000;color:#fff;padding:8px 14px;text-decoration:none;border-radius:4px;font-weight:bold;&quot;&gt;View Order in Salesforce&lt;/a&gt;&lt;/p&gt;&lt;br&gt;&lt;p&gt;Best regards,&lt;br&gt;&lt;strong&gt;Your CRM Support Team&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;font-size:12px;color:#666;&quot;&gt;(The mySalesforce system automatically generated this message.)&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;
</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Approved_Email_to_Running_User</name>
        <label>Send Approved Email to Running User</label>
        <locationX>4274</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Send_Approved_Email_to_Running_User</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@synthomer.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>TSCA Approval Granted – Order {!Order.OrderNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;&lt;meta charset=&quot;UTF-8&quot;&gt;&lt;title&gt;TSCA Approval Granted&lt;/title&gt;&lt;/head&gt;&lt;body style=&quot;font-family:Arial,sans-serif;font-size:14px;color:#000;line-height:1.6;&quot;&gt;&lt;p&gt;Dear {!Get_Running_User_Approved.Name},&lt;/p&gt;&lt;p&gt;TSCA approval has been &lt;strong style=&quot;color:#00b300;&quot;&gt;granted&lt;/strong&gt;.&lt;/p&gt;&lt;h3 style=&quot;color:#00b300;border-bottom:2px solid #00b300;padding-bottom:4px;font-size:15px;&quot;&gt;Request Details&lt;/h3&gt;&lt;table style=&quot;border-collapse:collapse;width:100%;font-family:Arial,sans-serif;font-size:14px;color:#000;&quot;&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px;font-weight:bold;width:160px;&quot;&gt;Order Number:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!Order.OrderNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px;font-weight:bold;&quot;&gt;Ship To Name:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!Order.Ship_To_Account__r.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px;font-weight:bold;&quot;&gt;Requestor:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!Order.Owner:User.FirstName} {!Order.Owner:User.LastName}&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;a href=&quot;{!URLBase}/lightning/r/Order/{!Order.Id}/view&quot; style=&quot;display:inline-block;background-color:#00b300;color:#fff;padding:8px 14px;text-decoration:none;border-radius:4px;font-weight:bold;&quot;&gt;View Order in Salesforce&lt;/a&gt;&lt;/p&gt;&lt;br&gt;&lt;p&gt;Best regards,&lt;br&gt;&lt;strong&gt;Your CRM Support Team&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;font-size:12px;color:#666;&quot;&gt;(The mySalesforce system automatically generated this message.)&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;
</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_In_Approval_Email_to_Distributor_Submittor</name>
        <label>Send In Approval Email to Distributor Submittor</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Send_In_Approval_Email_to_Distributor_Submittor</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@synthomer.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>TSCA Approval Submitted – Order {!Order.OrderNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;&lt;meta charset=&quot;UTF-8&quot;&gt;&lt;title&gt;TSCA Approval Submitted&lt;/title&gt;&lt;/head&gt;&lt;body style=&quot;font-family:Arial,sans-serif;font-size:14px;color:#000;line-height:1.6;&quot;&gt;&lt;p&gt;Dear {!Get_User_In_Approval.Name},&lt;/p&gt;&lt;p&gt;Order has been &lt;strong style=&quot;color:#003366;&quot;&gt;submitted for TSCA Approval&lt;/strong&gt;.&lt;/p&gt;&lt;h3 style=&quot;color:#003366;border-bottom:2px solid #003366;padding-bottom:4px;font-size:15px;&quot;&gt;Request Details&lt;/h3&gt;&lt;table style=&quot;border-collapse:collapse;width:100%;font-family:Arial,sans-serif;font-size:14px;color:#000;&quot;&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px;font-weight:bold;width:160px;&quot;&gt;Order Number:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!Order.OrderNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px;font-weight:bold;&quot;&gt;Ship To Name:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!Order.Ship_To_Account__r.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px;font-weight:bold;&quot;&gt;Requestor:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!Order.Owner:User.FirstName} {!Order.Owner:User.LastName}&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;a href=&quot;{!URLBase}/lightning/r/Order/{!Order.Id}/view&quot; style=&quot;display:inline-block;background-color:#003366;color:#fff;padding:8px 14px;text-decoration:none;border-radius:4px;font-weight:bold;&quot;&gt;View Order in Salesforce&lt;/a&gt;&lt;/p&gt;&lt;br&gt;&lt;p&gt;Best regards,&lt;br&gt;&lt;strong&gt;Your CRM Support Team&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;font-size:12px;color:#666;&quot;&gt;(The mySalesforce system automatically generated this message.)&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_In_Approval_Email_to_Running_User</name>
        <label>Send In Approval Email to Running User</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Send_In_Approval_Email_to_Running_User</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@synthomer.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>TSCA Approval Submitted – Order {!Order.OrderNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;&lt;meta charset=&quot;UTF-8&quot;&gt;&lt;title&gt;TSCA Approval Submitted&lt;/title&gt;&lt;/head&gt;&lt;body style=&quot;font-family:Arial,sans-serif;font-size:14px;color:#000;line-height:1.6;&quot;&gt;&lt;p&gt;Dear {!Get_Running_User_In_Approval.Name},&lt;/p&gt;&lt;p&gt;Order has been &lt;strong style=&quot;color:#003366;&quot;&gt;submitted for TSCA Approval&lt;/strong&gt;.&lt;/p&gt;&lt;h3 style=&quot;color:#003366;border-bottom:2px solid #003366;padding-bottom:4px;font-size:15px;&quot;&gt;Request Details&lt;/h3&gt;&lt;table style=&quot;border-collapse:collapse;width:100%;font-family:Arial,sans-serif;font-size:14px;color:#000;&quot;&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px;font-weight:bold;width:160px;&quot;&gt;Order Number:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!Order.OrderNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px;font-weight:bold;&quot;&gt;Ship To Name:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!Order.Ship_To_Account__r.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px;font-weight:bold;&quot;&gt;Requestor:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!Order.Owner:User.FirstName} {!Order.Owner:User.LastName}&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;a href=&quot;{!URLBase}/lightning/r/Order/{!Order.Id}/view&quot; style=&quot;display:inline-block;background-color:#003366;color:#fff;padding:8px 14px;text-decoration:none;border-radius:4px;font-weight:bold;&quot;&gt;View Order in Salesforce&lt;/a&gt;&lt;/p&gt;&lt;br&gt;&lt;p&gt;Best regards,&lt;br&gt;&lt;strong&gt;Your CRM Support Team&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;font-size:12px;color:#666;&quot;&gt;(The mySalesforce system automatically generated this message.)&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;
</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejected_Email_to_Distributor_Submittor</name>
        <label>Send Rejected Email to Distributor Submittor</label>
        <locationX>5594</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Send_Rejected_Email_to_Distributor_Submittor</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@synthomer.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>TSCA Approval Rejected– Order {!Order.OrderNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;&lt;meta charset=&quot;UTF-8&quot;&gt;&lt;title&gt;TSCA Approval Rejected&lt;/title&gt;&lt;/head&gt;&lt;body style=&quot;font-family:Arial,sans-serif;font-size:14px;color:#000;line-height:1.6;&quot;&gt;&lt;p&gt;Dear {!Get_User_Rejected.Name},&lt;/p&gt;&lt;p&gt;TSCA approval has been &lt;strong style=&quot;color:#8B0000;&quot;&gt;rejected&lt;/strong&gt;.&lt;/p&gt;&lt;h3 style=&quot;color:#8B0000;border-bottom:2px solid #8B0000;padding-bottom:4px;font-size:15px;&quot;&gt;Request Details&lt;/h3&gt;&lt;table style=&quot;border-collapse:collapse;width:100%;font-family:Arial,sans-serif;font-size:14px;color:#000;&quot;&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px;font-weight:bold;width:160px;&quot;&gt;Order Number:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!Order.OrderNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px;font-weight:bold;&quot;&gt;Ship To Name:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!Order.Ship_To_Account__r.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px;font-weight:bold;&quot;&gt;Requestor:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!Order.Owner:User.FirstName} {!Order.Owner:User.LastName}&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;a href=&quot;{!URLBase}/lightning/r/Order/{!Order.Id}/view&quot; style=&quot;display:inline-block;background-color:#8B0000;color:#fff;padding:8px 14px;text-decoration:none;border-radius:4px;font-weight:bold;&quot;&gt;View Order in Salesforce&lt;/a&gt;&lt;/p&gt;&lt;br&gt;&lt;p&gt;Best regards,&lt;br&gt;&lt;strong&gt;Your CRM Support Team&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;font-size:12px;color:#666;&quot;&gt;(The mySalesforce system automatically generated this message.)&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;
</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejected_Email_to_Running_User</name>
        <label>Send Rejected Email to Running User</label>
        <locationX>6914</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Send_Rejected_Email_to_Running_User</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@synthomer.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>TSCA Approval Rejected – Order {!Order.OrderNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;&lt;meta charset=&quot;UTF-8&quot;&gt;&lt;title&gt;TSCA Approval Submitted&lt;/title&gt;&lt;/head&gt;&lt;body style=&quot;font-family:Arial,sans-serif;font-size:14px;color:#000;line-height:1.6;&quot;&gt;&lt;p&gt;Dear {!Get_Running_User_Rejected.Name},&lt;/p&gt;&lt;p&gt;TSCA approval has been &lt;strong style=&quot;color:#cc0000;&quot;&gt;Rejected&lt;/strong&gt;.&lt;/p&gt;&lt;h3 style=&quot;color:#cc0000;border-bottom:2px solid #cc0000;padding-bottom:4px;font-size:15px;&quot;&gt;Request Details&lt;/h3&gt;&lt;table style=&quot;border-collapse:collapse;width:100%;font-family:Arial,sans-serif;font-size:14px;color:#000;&quot;&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px;font-weight:bold;width:160px;&quot;&gt;Order Number:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!Order.OrderNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px;font-weight:bold;&quot;&gt;Ship To Name:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!Order.Ship_To_Account__r.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:6px;font-weight:bold;&quot;&gt;Requestor:&lt;/td&gt;&lt;td style=&quot;padding:6px;&quot;&gt;{!Order.Owner:User.FirstName} {!Order.Owner:User.LastName}&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;a href=&quot;{!URLBase}/lightning/r/Order/{!Order.Id}/view&quot; style=&quot;display:inline-block;background-color:#cc0000;color:#fff;padding:8px 14px;text-decoration:none;border-radius:4px;font-weight:bold;&quot;&gt;View Order in Salesforce&lt;/a&gt;&lt;/p&gt;&lt;br&gt;&lt;p&gt;Best regards,&lt;br&gt;&lt;strong&gt;Your CRM Support Team&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;font-size:12px;color:#666;&quot;&gt;(The mySalesforce system automatically generated this message.)&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;
</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Email_DS_Rejected</name>
        <label>Assign Email</label>
        <locationX>5594</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Rejected.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Rejected_Email_to_Distributor_Submittor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_DU_Approved</name>
        <label>Assign Email</label>
        <locationX>2954</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Approved.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Approved_Email_to_Distributor_Submittor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_DU_InApproval</name>
        <label>Assign Email</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_In_Approval.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_In_Approval_Email_to_Distributor_Submittor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_RU_Approved</name>
        <label>Assign Email</label>
        <locationX>4274</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Running_User_Approved.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Approved_Email_to_Running_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_RU_In_Approval</name>
        <label>Assign Email</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Running_User_In_Approval.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_In_Approval_Email_to_Running_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_RU_Rejected</name>
        <label>Assign Email</label>
        <locationX>6914</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Running_User_Rejected.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Rejected_Email_to_Running_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TSA_Approval_Status_Approved</name>
        <label>TSA Approval Status - Approved</label>
        <locationX>3482</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Order.TSCA_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TSA_Approval_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order.ML_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_created_by_Distributor_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TSA_Approval_Status_In_Approval</name>
        <label>TSA Approval Status - In Approval</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Order.TSCA_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TSA_Approval_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>In_Approval_Chatter_Post</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TSA_Approval_Status_Not_Needed</name>
        <label>TSA Approval Status - Not Needed</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Order.TSCA_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TSA_Approval_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order.ML_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TSA_Approval_Status_Rejected</name>
        <label>TSA Approval Status - Rejected</label>
        <locationX>6122</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Order.TSCA_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TSA_Approval_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_created_by_Distributor_User_DM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Distributor_Submittor_Approved</name>
        <label>Check Distributor Submittor</label>
        <locationX>2822</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Email_DU_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Approved</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Error_Null_Approved</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Distributor_Submittor_Rejected</name>
        <label>Check Distributor Submittor</label>
        <locationX>5462</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Email_DS_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Null_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Rejected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Error_Null_Rejected</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Distributor_User_In_Approval</name>
        <label>Check Distributor User</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Email_DU_InApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Null_In_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_In_Approval</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Error_Null_In_Approval</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Running_User_Approved</name>
        <label>Check Running User</label>
        <locationX>4142</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Email_RU_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Null_Running_User_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Running_User_Approved</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Error_Check_Running_User_Approved</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Running_User_In_Approval</name>
        <label>Check Running User</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Email_RU_In_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Null_Running_User_InApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Running_User_In_Approval</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Error_Check_Running_User_In_Approval</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Running_User_Rejected</name>
        <label>Check Running User</label>
        <locationX>6782</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Email_RU_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Null_Running_User_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Running_User_Rejected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Error_Check_Running_User_Rejected</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_TSA_Approval_Status</name>
        <label>Check TSA Approval Status</label>
        <locationX>4010</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Update_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TSA_Approval_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TSA_Approval_Status_Not_Needed</targetReference>
            </connector>
            <label>Not Needed</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TSA_Approval_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TSA_Approval_Status_In_Approval</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TSA_Approval_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TSA_Approval_Status_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TSA_Approval_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TSA_Approval_Status_Rejected</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_created_by_Distributor_User</name>
        <label>Order created by Distributor User?</label>
        <locationX>3482</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Approval_Chatter_Post_TSCA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.Created_From_Portal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Approved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_created_by_Distributor_User_DM</name>
        <label>Order created by Distributor User?</label>
        <locationX>6122</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Rejection_Chatter_Post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.Created_From_Portal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Rejected</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Created_by_Distributor_User_In_Approval</name>
        <label>Order Created by Distributor User?</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Running_User_In_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.Created_From_Portal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_In_Approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow for update the order accordingly the TSA approval status</description>
    <environments>Default</environments>
    <formulas>
        <name>forMentionList</name>
        <dataType>String</dataType>
        <expression>MID({!mentionList}, 2, LEN({!mentionList}) - 2)</expression>
    </formulas>
    <formulas>
        <description>formula created to tag Owner and created by in chatter post. 
If both are same - tag owner. 
else tag both</description>
        <name>formula_ChatterMention_Order</name>
        <dataType>String</dataType>
        <expression>IF(
  {!Order.OwnerId}= {!Order.CreatedById},
   &quot;@[&quot; &amp; {!Order.OwnerId}&amp; &quot;]&quot;,
   &quot;@[&quot; &amp; {!Order.OwnerId} &amp; &quot;] and @[&quot; &amp; {!Order.CreatedById} &amp; &quot;]&quot;
)</expression>
    </formulas>
    <formulas>
        <name>URLBase</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_610}, FIND(&quot;/services&quot;, {!$Api.Enterprise_Server_URL_610}) - 1)</expression>
    </formulas>
    <interviewLabel>Order - Sample Order TSA - Approved/Rejected {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - Sample Order TSA - Approved/Rejected</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Running_User_Approved</name>
        <label>Get Running User</label>
        <locationX>4142</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Running_User_Approved</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Get_Running_User_Approved</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Running_User_for_Approval__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Running_User_In_Approval</name>
        <label>Get Running User</label>
        <locationX>1502</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Running_User_In_Approval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Get_Running_User_In_Approval</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Running_User_for_Approval__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Running_User_Rejected</name>
        <label>Get Running User</label>
        <locationX>6782</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Running_User_Rejected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Get_Running_User_Rejected</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Running_User_for_Approval__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Approved</name>
        <label>Get User</label>
        <locationX>2822</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Chatter_Post_TSCA_DM</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Approved_User</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Distributor_Submittor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_In_Approval</name>
        <label>Get User</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Distributor_User_In_Approval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Distributor_Submittor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Rejected</name>
        <label>Get User</label>
        <locationX>5462</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rejection_Chatter_Post_DM</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Rejected_User</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Distributor_Submittor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>4010</locationX>
        <locationY>1490</locationY>
        <faultConnector>
            <targetReference>Log_Error_4</targetReference>
        </faultConnector>
        <inputReference>Order</inputReference>
    </recordUpdates>
    <start>
        <locationX>3884</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_TSA_Approval_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Erro_InProgress</name>
        <label>Log Error</label>
        <locationX>2426</locationX>
        <locationY>458</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>In Approval Chatter Post</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while posting to chatter</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while fetching user.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_2</name>
        <label>Log Error</label>
        <locationX>5066</locationX>
        <locationY>566</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Approval Chatter Post</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while posting to chatter</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_3</name>
        <label>Log Error</label>
        <locationX>7706</locationX>
        <locationY>566</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Rejection Chatter Post</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while posting to chatter</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_4</name>
        <label>Log Error</label>
        <locationX>8146</locationX>
        <locationY>1598</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Update Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while updating the order</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Approved_DM</name>
        <label>Log Error</label>
        <locationX>3482</locationX>
        <locationY>674</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Approval Chatter Post</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while posting to chatter</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Approved_User</name>
        <label>Log Error</label>
        <locationX>3746</locationX>
        <locationY>566</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Running User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while fetching user</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Check_Running_User_Approved</name>
        <label>Log Error</label>
        <locationX>4010</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Check Distributor Submittor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Distributor Submittor is not present.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Check_Running_User_In_Approval</name>
        <label>Log Error</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Check Distributor Submittor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Distributor Submittor is not present.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Check_Running_User_Rejected</name>
        <label>Log Error</label>
        <locationX>6650</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Check Distributor Submittor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Distributor Submittor is not present.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Get_Running_User_Approved</name>
        <label>Log Error</label>
        <locationX>4802</locationX>
        <locationY>674</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Running User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while fetching user</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Get_Running_User_In_Approval</name>
        <label>Log Error</label>
        <locationX>2162</locationX>
        <locationY>674</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Running User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while fetching user</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Get_Running_User_Rejected</name>
        <label>Log Error</label>
        <locationX>7442</locationX>
        <locationY>674</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while fetching user</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Null_Approved</name>
        <label>Log Error</label>
        <locationX>2690</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Check Distributor Submittor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Distributor Submittor is not present.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Null_In_Approval</name>
        <label>Log Error</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Check Distributor Submittor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Distributor Submittor is not present.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Null_Rejected</name>
        <label>Log Error</label>
        <locationX>5330</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Check Distributor Submittor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Distributor Submittor is not present.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Rejected_DM</name>
        <label>Log Error</label>
        <locationX>6122</locationX>
        <locationY>674</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Rejection Chatter Post</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while posting to chatter</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Rejected_User</name>
        <label>Log Error</label>
        <locationX>6386</locationX>
        <locationY>566</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while fetching user.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Send_Approved_Email_to_Distributor_Submittor</name>
        <label>Log Error</label>
        <locationX>3218</locationX>
        <locationY>998</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send Approved Email to Distributor Submittor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while sending an email</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Send_Approved_Email_to_Running_User</name>
        <label>Log Error</label>
        <locationX>4538</locationX>
        <locationY>998</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send Approved mail to Running User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while sending an email</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Send_In_Approval_Email_to_Distributor_Submittor</name>
        <label>Log Error</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send In Approval Email to Distributor Submittor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while sending an email</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Send_In_Approval_Email_to_Running_User</name>
        <label>Log Error</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send In Approval Email to Running User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while sending an email</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Send_Rejected_Email_to_Distributor_Submittor</name>
        <label>Log Error</label>
        <locationX>5858</locationX>
        <locationY>998</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send Rejected Email to Distributor Submittor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while sending an email</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_Send_Rejected_Email_to_Running_User</name>
        <label>Log Error</label>
        <locationX>7178</locationX>
        <locationY>998</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Order - Sample Order TSA - Approved/Rejected  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send Rejected Email to Running User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while sending an email</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Post to Chatter whenever the  Approves</description>
        <name>orderApprovalMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!formula_ChatterMention_Order}, 
Sample Order -  {!Order.OrderNumber} has been Approved. 

Request Details:
Order Number: {!Order.OrderNumber}
Ship To Name: {!Order.Ship_To_Account__r.Name}
Requestor: {!Order.Owner:User.FirstName} {!Order.Owner:User.LastName}

Best regards,  
Your CRM Support Team

The mySalesForce system automatically generated this message.</text>
    </textTemplates>
    <textTemplates>
        <name>orderInApprovalMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Sample Order has been submitted for TSA approval.</text>
    </textTemplates>
    <textTemplates>
        <description>Post to Chatter whenever the TSA Rejects</description>
        <name>orderRejectMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear @[{!Order.OwnerId}],
Kindly be informed that the status of Sample Order {!Order.OrderNumber} has been changed to the status {!Order.Status}.  

Best regards,
Your CRM Support Team</text>
    </textTemplates>
    <textTemplates>
        <description>Post to Chatter whenever the TSA Rejects</description>
        <name>orderRejectMessageDM</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear @[{!Get_User_Rejected.Id}],
Kindly be informed that the status of Sample Order {!Order.OrderNumber} has been changed to the status {!Order.Status}.  

Best regards,
Your CRM Support Team</text>
    </textTemplates>
    <textTemplates>
        <description>Post to Chatter whenever the TSA Approves</description>
        <name>orderTSCAApprovalMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!formula_ChatterMention_Order}, 
TSCA approval has been granted.

Request Details:
Order Number: {!Order.OrderNumber}
Ship To Name: {!Order.Ship_To_Account__r.Name}
Requestor: {!Order.Owner:User.FirstName} {!Order.Owner:User.LastName}

Best regards,  
Your CRM Support Team

The mySalesForce system automatically generated this message.</text>
    </textTemplates>
    <textTemplates>
        <description>Post to Chatter whenever the TSA Approves</description>
        <name>orderTSCAApprovalMessageDM</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear @[{!Get_User_Approved.Id}], 
TSCA approval has been granted.

Request Details:
Order Number: {!Order.OrderNumber}
Ship To Name: {!Order.Ship_To_Account__r.Name}
Requestor: {!Get_User_Approved.FirstName} {!Get_User_Approved.LastName}

Best regards,  
Your CRM Support Team

The mySalesForce system automatically generated this message.</text>
    </textTemplates>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mentionList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TSA_Approval_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
