SynProdGITV1/force-app/main/default/flows/Product_AfterInsert_UpdateProductID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <customErrors>
        <name>Error_Updating_Product</name>
        <label>Error Updating Product</label>
        <locationX>440</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Product ID Is Not Updated</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <description>Update Product ID if is empty with AutoNumber
This will be only in case of Products created directly in Salesforce</description>
    <environments>Default</environments>
    <interviewLabel>Product-AfterInsert-UpdateProductID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product-AfterInsert-UpdateProductID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Product ID If Empty</description>
        <name>Update_Product_ID_If_Empty</name>
        <label>Update Product ID If Empty</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <faultConnector>
            <targetReference>Log_an_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Product_Id__c</field>
            <value>
                <elementReference>$Record.Internal_Product_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Product_ID_If_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_an_Error</name>
        <label>Log an Error</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Error_Updating_Product</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Product-AfterInsert-UpdateProductID</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Update Product ID If Empty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error Updating Product</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
