SynProdGITV1/force-app/main/default/flows/Product_AfterInsert_CreatePBEWithStandardPricebook.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Pricebook_Entries</name>
        <label>Assign Pricebook Entries</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>StandardPricebookentries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>pricebookEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Currencies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pricebook_Entry</name>
        <label>Assign Pricebook Entry</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>pricebookEntry.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pricebookEntry.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Currencies.IsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pricebookEntry.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Pricebook_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pricebookEntry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pricebookEntry.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_Creating_Pricebook_Entry</name>
        <label>Error Creating Pricebook Entry</label>
        <locationX>440</locationX>
        <locationY>1163</locationY>
        <customErrorMessages>
            <errorMessage>Product Failed To Add In Standard Pricebook</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_Getting_Pricebook</name>
        <label>Error Getting Pricebook</label>
        <locationX>968</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Failed To Get Standard Pricebook</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <description>This flow automatically adds newly created Products to the Standard Price Book with a List Price of 0. 
It fetches the Standard Price Book ID and creates a PricebookEntry.</description>
    <environments>Default</environments>
    <interviewLabel>Product-AfterInsert-CreatePBEWithStandardPricebook {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product-AfterInsert-CreatePBEWithStandardPricebook</label>
    <loops>
        <name>Iterate_Currencies</name>
        <label>Iterate Currencies</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Currencies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Pricebook_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Standard_Pricebook_Entry</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Standard_Pricebook_Entry</name>
        <label>Create Standard Pricebook Entry</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <faultConnector>
            <targetReference>Log_an_Error</targetReference>
        </faultConnector>
        <inputReference>StandardPricebookentries</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Currencies</name>
        <label>Get Currencies</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Currencies</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CurrencyType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook_Id</name>
        <label>Get Standard Pricebook Id</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Currencies</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Standard_Pricebook_Id</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_an_Error</name>
        <label>Log an Error</label>
        <locationX>440</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Error_Creating_Pricebook_Entry</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Product-AfterInsert-CreatePBEWithStandardPricebook</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>create standard pricebook entry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Create Standard Pricebook Entry Node On The Flow Is Failing</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error3</name>
        <label>Log an Error</label>
        <locationX>704</locationX>
        <locationY>539</locationY>
        <flowName>Subflow_Create_Log</flowName>
    </subflows>
    <subflows>
        <name>Log_an_Error_1</name>
        <label>Log an Error</label>
        <locationX>968</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Error_Getting_Pricebook</targetReference>
        </connector>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Product-AfterInsert-CreatePBEWithStandardPricebook</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>create standard pricebook entry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Get Standard Pricebook Id Node</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>pricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>StandardPricebookentries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
</Flow>
