SynProdGITV1/force-app/main/default/flows/Quote_Line_Item_After_Insert_and_Update_Update_IncoTerms_Lead_Time_Ship_To_Match.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_varAllMatch_false</name>
        <label>Assign varAllMatch false</label>
        <locationX>528</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varAllMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_QuoteLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varFirstIncoTerms_varFirstLeadTime_varFirstShipTo</name>
        <label>Assign varFirstIncoTerms, varFirstLeadTime &amp; varFirstShipTo</label>
        <locationX>264</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>varFirstIncoTerms</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_QuoteLineItems.Incoterms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFirstLeadTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_QuoteLineItems.Lead_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFirstShipTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_QuoteLineItems.Ship_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFirstTransitTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_QuoteLineItems.Transit_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_QuoteLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varAllMatch_False</name>
        <label>Set varAllMatch False</label>
        <locationX>330</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varAllMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_First_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Blank_Fields</name>
        <label>Check for Blank Fields</label>
        <locationX>462</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Is_First_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_QuoteLineItems.Ship_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_QuoteLineItems.Incoterms__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_QuoteLineItems.Lead_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_QuoteLineItems.Transit_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varAllMatch_False</targetReference>
            </connector>
            <label>HasBlankField</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_current_Record_with_first_one</name>
        <label>Compare current Record with first one</label>
        <locationX>660</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_QuoteLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Matched</defaultConnectorLabel>
        <rules>
            <name>Not_Matched</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_QuoteLineItems.Incoterms__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varFirstIncoTerms</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_QuoteLineItems.Lead_Time__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varFirstLeadTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_QuoteLineItems.Ship_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varFirstShipTo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_QuoteLineItems.Transit_Time__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varFirstTransitTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_varAllMatch_false</targetReference>
            </connector>
            <label>Not Matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_First_Record</name>
        <label>Is First Record?</label>
        <locationX>462</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Compare_current_Record_with_first_one</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFirstIncoTerms</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_varFirstIncoTerms_varFirstLeadTime_varFirstShipTo</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>SS2-T269: Validates whether all Quote Order Items under a Quote have matching values for IncoTerms, Lead Time, and Ship-To. If all values match, a flag is set to TRUE on the Quote; otherwise, it&apos;s FALSE.</description>
    <environments>Default</environments>
    <interviewLabel>Order Item - After Insert and Update - Update Packing Date and Tracking Match {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Line Item - After Insert and Update - Update IncoTerms, Lead Time &amp; Ship-To Match</label>
    <loops>
        <name>Loop_Through_QuoteLineItems</name>
        <label>Loop Through QuoteLineItems</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Related_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Blank_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Quote_Line_Items</name>
        <label>Get Related Quote Line Items</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_QuoteLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Quote</name>
        <label>Update Parent Quote</label>
        <locationX>176</locationX>
        <locationY>1415</locationY>
        <faultConnector>
            <targetReference>Create_a_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IncoTerms_Lead_Time_Ship_To_Match__c</field>
            <value>
                <elementReference>varAllMatch</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Quote_Line_Items</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.Incoterms__c}) || ISCHANGED({!$Record.Lead_Time__c}) || ISCHANGED({!$Record.Ship_To__c})</filterFormula>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_a_Log</name>
        <label>Create a Log</label>
        <locationX>440</locationX>
        <locationY>1523</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Quote Line Item - After Insert and Update - Update IncoTerms, Lead Time &amp; Ship-To Match</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <elementReference>Update_Parent_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.QuoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.LineNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while updating Quote Line Item</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varAllMatch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varFirstIncoTerms</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFirstLeadTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varFirstShipTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFirstTransitTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
