SynProdGITV1/force-app/main/default/flows/Quote_Before_Insert_AssignDefaultValues.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Quote</name>
        <label>Assign Contact Quote</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Contacts.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_To_Variable</name>
        <label>Assign Count To Variable</label>
        <locationX>158</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>countOfRelatedContactToAccount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Account_Related_Contacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countOfAccountSalesData</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Account_Related_Sales_Data</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Single_Contact_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Values_To_Quote</name>
        <label>Assign Default Values To Quote</label>
        <locationX>158</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_billingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_billingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_billingStateProvinance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_ZipPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_quoteValidityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_AccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Language_of_Output__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_language</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Sales_Data</name>
        <label>Assign Sales Data</label>
        <locationX>138</locationX>
        <locationY>1427</locationY>
        <assignmentItems>
            <assignToReference>$Record.Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Area_Data.Division__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Distribution_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Area_Data.Distribution_Channel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Org_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Area_Data.Sales_Org_Data__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Area_Data.Payment_Term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Area_Data</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_Get_Account_Details</name>
        <label>Error Get Account Details</label>
        <locationX>442</locationX>
        <locationY>1811</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_Getting_Related_Contacts</name>
        <label>Error Getting Related Contacts</label>
        <locationX>970</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_Getting_Related_Sales_Data</name>
        <label>Error Getting Related Sales Data</label>
        <locationX>706</locationX>
        <locationY>611</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_If_Account_Id_Is_Present</name>
        <label>Check If Account Id Is Present?</label>
        <locationX>696</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Account Not Present</defaultConnectorLabel>
        <rules>
            <name>If_Account_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Related_Contacts</targetReference>
            </connector>
            <label>If Account Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Single_Contact_Present</name>
        <label>Check If Single Contact Present ?</label>
        <locationX>158</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>check_if_single_sales_area_data_is_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple</defaultConnectorLabel>
        <rules>
            <name>If_Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countOfRelatedContactToAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Contacts</targetReference>
            </connector>
            <label>If Single</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_single_sales_area_data_is_present</name>
        <label>check if single sales area data is present?</label>
        <locationX>158</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_single_Sales_Area_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countOfAccountSalesData</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Area_Data</targetReference>
            </connector>
            <label>if single Sales Area Data</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountLanguageText</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Account_Details.Language__c})</expression>
    </formulas>
    <formulas>
        <name>f_accountId</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.OpportunityId}!=NULL, {!$Record.Opportunity.Account.Id},{!$Record.Account__c})</expression>
    </formulas>
    <formulas>
        <name>f_AccountName</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.OpportunityId}!=NULL, {!$Record.Opportunity.Account.Name},{!$Record.Account__r.Name})</expression>
    </formulas>
    <formulas>
        <name>f_billingCity</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.BillingCity}=NULL, {!Get_Account_Details.BillingCity}, {!$Record.BillingCity})</expression>
    </formulas>
    <formulas>
        <name>f_BillingCountry</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.BillingCountry}=NULL, {!Get_Account_Details.BillingCountry}, {!$Record.BillingCountry})</expression>
    </formulas>
    <formulas>
        <name>f_billingCountryCode</name>
        <dataType>String</dataType>
        <expression>IF(
    ISPICKVAL({!$Record.BillingCountryCode}, &quot;&quot;),
    TEXT({!Get_Account_Details.BillingCountryCode}),
    TEXT({!$Record.BillingCountryCode})
)</expression>
    </formulas>
    <formulas>
        <name>f_billingStateProvinance</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.BillingState}=NULL, {!Get_Account_Details.BillingState}, {!$Record.BillingState})</expression>
    </formulas>
    <formulas>
        <name>f_billingStreet</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.BillingStreet}=NULL, {!Get_Account_Details.BillingStreet}, {!$Record.BillingStreet})</expression>
    </formulas>
    <formulas>
        <name>f_language</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK(TEXT($Record.Language_of_Output__c)),
    IF(
        NOT(
            AccountLanguageText = &quot;FR&quot; ||
            AccountLanguageText = &quot;DE&quot; ||
            AccountLanguageText = &quot;IT&quot; ||
            AccountLanguageText = &quot;ES&quot; ||
            AccountLanguageText = &quot;NL&quot;
        ),
        &quot;EN&quot;,
        AccountLanguageText
    ),
    TEXT($Record.Language_of_Output__c)
)</expression>
    </formulas>
    <formulas>
        <name>f_quoteValidityDate</name>
        <dataType>Date</dataType>
        <expression>IF({!$Record.ExpirationDate}=NULL, TODAY() + 90, {!$Record.ExpirationDate})</expression>
    </formulas>
    <formulas>
        <name>f_stateProvinanceCode</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!$Record.BillingState}),
    {!Get_Account_Details.BillingState},
    {!$Record.BillingState}
)</expression>
    </formulas>
    <formulas>
        <name>f_ZipPostalCode</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.BillingPostalCode}=NULL, {!Get_Account_Details.BillingPostalCode}, {!$Record.BillingPostalCode})</expression>
    </formulas>
    <interviewLabel>Quote-Before Insert-AssignDefaultValues {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote-Before Insert-AssignDefaultValues</label>
    <loops>
        <name>Related_Contacts</name>
        <label>Related Contacts</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <collectionReference>Get_Account_Related_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Quote</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_if_single_sales_area_data_is_present</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Sales_Area_Data</name>
        <label>Sales Area Data</label>
        <locationX>50</locationX>
        <locationY>1319</locationY>
        <collectionReference>Get_Account_Related_Sales_Data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Sales_Data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetches Account Detail Either From Quotes Custom Account Id or Opportunity&apos;s Parent Account Id</description>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>158</locationX>
        <locationY>1703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Default_Values_To_Quote</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Get_Account_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Contact Count Related To Account</description>
        <name>Get_Account_Related_Contacts</name>
        <label>Get Account Related Contacts</label>
        <locationX>158</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Related_Sales_Data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Getting_Related_Contacts</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get  All Account related Sles Data</description>
        <name>Get_Account_Related_Sales_Data</name>
        <label>Get Account Related  Sales Data</label>
        <locationX>158</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count_To_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Getting_Related_Sales_Data</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Sales_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>570</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Account_Id_Is_Present</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>countOfAccountSalesData</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countOfRelatedContactToAccount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
