SynProdGITV1/force-app/main/default/flows/Quote_After_Update_Send_Email_to_CSR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_CSR</name>
        <label>Send Email to CSR</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Update_create_log_for_Email_Action</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderOrgWideEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Add Pricing team email to EmailIds Variable</description>
        <name>Add_Pricing_team_email</name>
        <label>Add Pricing team email</label>
        <locationX>314</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>EmailIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Pricing_Team_Email.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Recipient_List_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Store_Emails</name>
        <label>Store User Emails</label>
        <locationX>402</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>EmailIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Plant_Team_Data.User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Plant_Team_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Emails</name>
        <label>Store Employee Emails</label>
        <locationX>666</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>EmailIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Plant_Team_Data.Employee__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Plant_Team_Data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_User</name>
        <label>Check for User</label>
        <locationX>534</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Store_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Plant_Team_Data.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Store_Emails</targetReference>
            </connector>
            <label>User Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Roles</name>
        <label>Check Roles</label>
        <locationX>732</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Plant_Team_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_CSR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Plant_Team_Data.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Service Representative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_User</targetReference>
            </connector>
            <label>Check if CSR</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether Recipient List is empty or not, if yes then logs a record with Logging Level = Information</description>
        <name>Is_Recipient_List_Null</name>
        <label>Is Recipient List Null?</label>
        <locationX>314</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Create_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_CSR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When Quote is submitted, send notification to the Quote Item &gt;&gt; Plant &gt;&gt; Plant Team member (CS Representative) and Pricing Team
version 24- Fetched Name-Value pair for Org-Wide-Email-Address and added that in Send Email Element</description>
    <environments>Default</environments>
    <formulas>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK($Record.Owner:User.FirstName),
  $Record.Owner:User.LastName,
  $Record.Owner:User.FirstName &amp; &quot; &quot; &amp; $Record.Owner:User.LastName
)</expression>
    </formulas>
    <formulas>
        <name>RecordLink</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;a href=&apos;&quot; &amp; 
LEFT($Api.Partner_Server_URL_370, FIND(&quot;/services&quot;, $Api.Partner_Server_URL_370)) 
&amp; {!$Record.Id}
&amp; &quot;&apos;&gt;Click here to open the Quote&lt;/a&gt;&quot;</expression>
    </formulas>
    <interviewLabel>Quote-After Update- Send Email to CSR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote-After Update- Send Email to CSR</label>
    <loops>
        <name>Loop_Through_Plant_Team_Data</name>
        <label>Loop Through Plant Team Data</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Plant_Team_Data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Roles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Pricing_Team_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Org Wide Email Address</description>
        <name>Get_Org_Wide_Email_Address</name>
        <label>Get Org Wide Email Address</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Create_Log_Get_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SenderOrgWideEmailAddress</stringValue>
            </value>
        </filters>
        <object>Name_Value_Pair__mdt</object>
        <outputAssignments>
            <assignToReference>SenderOrgWideEmailAddress</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Plant_Team_Data</name>
        <label>Get Plant Team Data</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Plant_Team_Data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_create_log_for_plant_team_data</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plant_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Line_Items.Plant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Plant_Team_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the pricing team email from metadata</description>
        <name>Get_Pricing_Team_Email</name>
        <label>Get Pricing Team Email</label>
        <locationX>314</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Pricing_team_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pricing Team Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Name_Value_Pair__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Plant_Team_Data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_create_log_for_product</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Line_Items.Product2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Create_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Org_Wide_Email_Address</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <description>logs a record with Logging Level = Information</description>
        <name>Create_Log</name>
        <label>Create Log</label>
        <locationX>578</locationX>
        <locationY>1763</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Quote-After Update- Send Email to CSR  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Is Recipient List Null</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>No recipients found.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Create_Log</name>
        <label>Update Create Log</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Quote-After Update- Send Email to CSR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get_Quote_Line_Items</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Failed to get quote line items</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_create_log_for_Email_Action</name>
        <label>Update create log for Email Action</label>
        <locationX>314</locationX>
        <locationY>1871</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Quote-After Update- Send Email to CSR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Send_Email_to_CSR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Failed to send Email</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_create_log_for_plant_team_data</name>
        <label>Update create log for plant team data</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Quote-After Update- Send Email to CSR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get_Plant_Team_Data</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Failed to get plant team data</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_create_log_for_product</name>
        <label>Update create log for product</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Quote-After Update- Send Email to CSR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get_Product</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Failed to get product</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Create_Log_Get_Email</name>
        <label>Update Create Log</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Quote-After Update- Send Email to CSR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Org Wide Email Address</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Failed to get the Org Wide Email Address</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear colleague,&lt;/p&gt;&lt;p&gt;Kindly be informed that the Quote ID {!$Record.QuoteNumber} has been submitted.&lt;/p&gt;&lt;strong&gt;Quote Details&lt;/strong&gt;&lt;/br&gt;&lt;strong&gt;Quote ID:&lt;/strong&gt; {!$Record.QuoteNumber}&lt;/br&gt;&lt;strong&gt;Bill To:&lt;/strong&gt; {!$Record.BillingName}&lt;/br&gt;&lt;strong&gt;Product:&lt;/strong&gt; {!Get_Product.Name}&lt;/br&gt;&lt;strong&gt;Owner:&lt;/strong&gt; {!OwnerName}&lt;p&gt;{!RecordLink}&lt;/p&gt;&lt;p&gt;Best regards,&lt;/br&gt;Your CRM Support Team&lt;/p&gt;&lt;p&gt;The mySalesforce system automatically generated this message.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Quote ID {!$Record.QuoteNumber} has been Submitted.</text>
    </textTemplates>
    <variables>
        <name>EmailIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores Org Wide Email Address fetched from Name-Value Pair from Custom Metadata Record.</description>
        <name>SenderOrgWideEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
