SynProdGITV1/force-app/main/default/flows/Quote_Clone_Quote_and_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_ProductId_in_list</name>
        <label>Add ProductId in list</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>lst_Product_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_for_duplicate_QLIs.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lst_Product_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&apos; , &apos;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_duplicate_QLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_Selected_QLIs</name>
        <label>Adding Selected QLIs</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Selected_QLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>List_QLI.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_Duplicated_ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_duplicate_QLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Line_Items_Values</name>
        <label>Assign Quote Line Items Values</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>singleQouteProducts.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Quote_Line_Items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQouteProducts.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Quote_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQouteProducts.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Quote_Line_Items.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQouteProducts.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Quote_Line_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQouteProducts.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQouteProducts.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Quote_Line_Items.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQouteProducts.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Quote_Line_Items.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQouteProducts.Lead_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Quote_Line_Items.Lead_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQouteProducts.Transit_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Quote_Line_Items.Transit_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQouteProducts.MTS_MTO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Quote_Line_Items.MTS_MTO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQouteProducts.Ship_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Quote_Line_Items.Ship_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQouteProducts.Incoterms_location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Quote_Line_Items.Incoterms_location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQouteProducts.Plant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Quote_Line_Items.Plant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQouteProducts.Incoterms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Quote_Line_Items.Incoterms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQouteProducts.Old_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Quote_Line_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQouteProducts.Quantity_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Quote_Line_Items.Quantity_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQouteProducts.Line_Item_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Quote_Line_Items.Line_Item_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQouteProducts.Packaging__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Quote_Line_Items.Packaging__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleQouteProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Make_Is_Duplicate_ProductId_TRUE</name>
        <label>Make Is_Duplicate_ProductId_TRUE</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Is_Duplicated_ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lst_Product_Ids</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_duplicate_QLIs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_duplicates</name>
        <label>Check for duplicates</label>
        <locationX>270</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Add_ProductId_in_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not duplicate</defaultConnectorLabel>
        <rules>
            <name>Duplicate_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lst_Product_Ids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Check_for_duplicate_QLIs.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_Is_Duplicate_ProductId_TRUE</targetReference>
            </connector>
            <label>Duplicate found</label>
        </rules>
    </decisions>
    <decisions>
        <description>We cannot clone the Migrated Quote</description>
        <name>Check_if_Quote_is_not_Migrated</name>
        <label>Check if Quote is not Migrated</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Cannot_Clone_Migrated_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_a_Migrated_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Details.Quote_External_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Details</targetReference>
            </connector>
            <label>Not a Migrated Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Quote_Line_Item_Exist_On_Current_Quote</name>
        <label>Check If Quote Line Item Exist On Current Quote?</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Quote_Is_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Not Exist</defaultConnectorLabel>
        <rules>
            <name>If_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Line_Items_of_Current_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_to_Select_QLI</targetReference>
            </connector>
            <label>If Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Duplicate</name>
        <label>Contains Duplicate?</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Quote_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Duplicated_ProductId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Screen_to_Select_QLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Clone Quote with QuoteItems</description>
    <environments>Default</environments>
    <formulas>
        <name>DefaultExpirationDate</name>
        <dataType>Date</dataType>
        <expression>NOW()+90</expression>
    </formulas>
    <interviewLabel>Quote - Clone Quote and Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Clone Quote and Lines</label>
    <loops>
        <name>Check_for_duplicate_QLIs</name>
        <label>Check for duplicate QLIs</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <collectionReference>Selected_QLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_duplicates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contains_Duplicate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Quote_Line_Items</name>
        <label>Iterate Over Quote Line Items</label>
        <locationX>226</locationX>
        <locationY>1598</locationY>
        <collectionReference>List_QLI.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Quote_Line_Items_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Quote Clone</description>
        <name>Create_Cloned_Quote</name>
        <label>Create Cloned Quote</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>QuoteID</assignRecordIdToReference>
        <connector>
            <targetReference>Check_If_Quote_Line_Item_Exist_On_Current_Quote</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error_2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Quote_Details.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_Quote_Details.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Get_Quote_Details.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingName</field>
            <value>
                <elementReference>Get_Quote_Details.BillingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_Quote_Details.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_Quote_Details.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_Quote_Details.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Quote_Details.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Quote_Details.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Quote_Details.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Channel__c</field>
            <value>
                <elementReference>Get_Quote_Details.Distribution_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>Get_Quote_Details.Division__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Quote_Details.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language_of_Output__c</field>
            <value>
                <elementReference>Get_Quote_Details.Language_of_Output__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Quote_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Quote_Details.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>Get_Quote_Details.Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_Quote_Details.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Quote_Details.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Org_Data__c</field>
            <value>
                <elementReference>Get_Quote_Details.Sales_Org_Data__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingHandling</field>
            <value>
                <elementReference>Get_Quote_Details.ShippingHandling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingName</field>
            <value>
                <elementReference>Get_Quote_Details.ShippingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Quote__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_Quote_Details.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax</field>
            <value>
                <elementReference>Get_Quote_Details.Tax</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line_Items</name>
        <label>Create Quote Line Items</label>
        <locationX>226</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Quote_Created_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error</targetReference>
        </faultConnector>
        <inputReference>lstQuoteProducts</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Details of quote from which quote is to be clonned</description>
        <name>Get_Quote_Details</name>
        <label>Get Quote Details</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Quote_is_not_Migrated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error_3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get QLI of quote which is to be cloned</description>
        <name>Get_Quote_Line_Items_of_Current_Quote</name>
        <label>Get Quote Line Items of Current Quote</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Cloned_Quote</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Details.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuoteId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Cannot_Clone_Migrated_Quote</name>
        <label>Cannot Clone Migrated Quote</label>
        <locationX>1546</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Info_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;You cannot Clone a Migrated Quote&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quote_Created_Screen</name>
        <label>Quote Created Screen</label>
        <locationX>226</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_CreateQuote</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Quote created successfully with line item records.&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;/{!QuoteID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Click here to open Quote&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_Details</name>
        <label>Quote Details</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Quote_Line_Items_of_Current_Quote</targetReference>
        </connector>
        <fields>
            <name>Quote_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Quote_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quote_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Quote Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expiration_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DefaultExpirationDate</elementReference>
                    </defaultValue>
                    <fieldText>Expiration Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_Is_Created</name>
        <label>Quote Is Created</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CreateQuote</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Quote Is Created Without Quote Line Item Because No Quote Line Item Exist On Current Quote. &lt;/span&gt;&lt;a href=&quot;/{!QuoteID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;Click here to open Quote&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_to_Select_QLI</name>
        <label>Screen to Select QLI</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Adding_Selected_QLIs</targetReference>
        </connector>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;⚠️&lt;span style=&quot;color: rgb(234, 8, 8);&quot;&gt;Multiple Quote Line Items with the same product can’t be cloned. Please select only one.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Duplicated_ProductId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Heading</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please select Quote Products to Clone&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>List_QLI</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>QuoteLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Quote Line Items</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Quote_Line_Items_of_Current_Quote</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-1ef6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Product Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Line Item Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LineNumber&quot;,&quot;guid&quot;:&quot;column-652f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Line Item Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ListPrice&quot;,&quot;guid&quot;:&quot;column-eb8d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;List Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-8693&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_an_Error</name>
        <label>Log an Error</label>
        <locationX>490</locationX>
        <locationY>2006</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Error Cloning Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Clone Quote Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Create Quote Items</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <stringValue>Quote Items</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error_1</name>
        <label>Log an Error</label>
        <locationX>1282</locationX>
        <locationY>566</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Error Cloning Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Clone Quote Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Quote Line Items</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <stringValue>Quote Items</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error_2</name>
        <label>Log an Error</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Error Cloning Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Clone Quote Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Create Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <stringValue>Quote Items</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error_3</name>
        <label>Log an Error</label>
        <locationX>1810</locationX>
        <locationY>242</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Error in Cloning Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Clone Quote Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <stringValue>Quote Items</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Remove_duplicates</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Is_Duplicated_ProductId</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lst_Product_Ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&apos; &apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>lstQuoteProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_QLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>singleQouteProducts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
