SynProdGITV1/force-app/main/default/flows/Quote_Before_Insert_Or_Update_HQ_RHQ_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Empty_String_to_HQ_Account</name>
        <label>Assign Empty String to HQ Account</label>
        <locationX>446</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.HQ_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Empty_String_to_RHQ_Account</name>
        <label>Assign Empty String to RHQ Account</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.RHQ_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_HQ_Exist_or_not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HQ_Account</name>
        <label>Assign HQ Account</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.HQ_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Parent.Parent.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_HQ_Account1</name>
        <label>Assign HQ Account</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.HQ_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RHQ_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_RHQ_Account</name>
        <label>Assign RHQ Account</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.RHQ_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Parent.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_HQ_Exist_or_not</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_HQ_Exist_or_not</name>
        <label>Check HQ Exist or not?</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Assign_Empty_String_to_HQ_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Parent.Parent.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Parent.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_HQ_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RHQ_Exist_or_not</name>
        <label>Check RHQ Exist or not?</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Assign_Empty_String_to_RHQ_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Parent_is_RHQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Parent.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RHQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RHQ_Account</targetReference>
            </connector>
            <label>Parent is RHQ</label>
        </rules>
        <rules>
            <name>Parent_is_HQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_HQ_Account1</targetReference>
            </connector>
            <label>Parent is HQ</label>
        </rules>
    </decisions>
    <description>Update HQ &amp; RHQ Account on Quote</description>
    <environments>Default</environments>
    <interviewLabel>Quote - Before Insert Or Update HQ RHQ Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Before Insert Or Update HQ RHQ Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_RHQ_Exist_or_not</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED({!$Record.Account__c})</filterFormula>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
