SynProdGITV1/force-app/main/default/flows/Quote_line_Item_after_Save_validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Valid_Uom</name>
        <label>Get Valid Uom</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Syn_UtilityClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Uom_records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Apex_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstProductId</name>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Syn_UtilityClass</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>lstUoms</assignToReference>
            <name>validUoMs</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Uom_List</name>
        <label>Uom List</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>txtUoMList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Uoms.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtUoMList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Uoms</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Apex_Error</name>
        <label>Apex Error</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>Error while trying to create the record. Please contact system administrator.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Invalid_UoM</name>
        <label>Invalid UoM</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <customErrorMessages>
            <errorMessage>The Unit is not a valid unit for the selected product. Please choose one of the following units {!validUoMList}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Is_not_Dummy_Product</name>
        <label>Is not Dummy Product</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Dummy_Product.Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Valid_Uom</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Uom_Found</name>
        <label>UoM Found</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Uom_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Uoms.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Quantity_Unit__c</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Validate UoM (if present) each Quote item, except for Dummy Products</description>
    <environments>Default</environments>
    <formulas>
        <name>validUoMList</name>
        <dataType>String</dataType>
        <expression>LEFT({!txtUoMList}, LEN({!txtUoMList}) - 2)</expression>
    </formulas>
    <interviewLabel>Quote line Itme {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote line Item after Save validation</label>
    <loops>
        <name>Loop_Through_Uoms</name>
        <label>Loop Through Uoms</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Uom_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Uom_Found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Invalid_UoM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Dummy_Product</name>
        <label>Get Dummy Product</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_not_Dummy_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dummy_Product_Name</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Name_Value_Pair__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Uom_records</name>
        <label>Get Uom Records</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Uoms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>lstUoms</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UoM_Std_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Dummy_Product</targetReference>
        </connector>
        <filterFormula>(ISNEW() || ISCHANGED({!$Record.Quantity_Unit__c})) &amp;&amp; NOT(OR(ISNULL({!$Record.Quantity_Unit__c}), ISBLANK({!$Record.Quantity_Unit__c})) )</filterFormula>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>lstUoms</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txtUoMList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UoMStdDatafromGetUoMRecords</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
