SynProdGITV1/force-app/main/default/flows/Subflow_Screen_Log_Error.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Utility Screen Sub-Flow, displays an error message and creates a error log object to record the error.</description>
    <environments>Default</environments>
    <formulas>
        <name>customErrorText</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK({!VAR_SystemErrorMessage}), ISNULL({!VAR_SystemErrorMessage})), &apos;There was a problem, an error has been recorded on the system. If the problem persists, please contact a system administrator.&apos;, {!VAR_SystemErrorMessage})</expression>
    </formulas>
    <interviewLabel>Subflow Screen - Log Error {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow Screen - Log Error</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Log</name>
        <label>Create Log</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>System_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>Log_Level__c</field>
            <value>
                <elementReference>VAR_LogLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>VAR_SystemErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>VAR_RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Info__c</field>
            <value>
                <elementReference>VAR_RecordInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <elementReference>VAR_FlowNode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Name__c</field>
            <value>
                <elementReference>VAR_FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>VAR_StackTrace</elementReference>
            </value>
        </inputAssignments>
        <object>Create_Log__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>System_Error</name>
        <label>System Error</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>System_Error_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>System_Error_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(67, 65, 202);&quot;&gt;{!customErrorText}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Log</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VAR_DisplayMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_Error</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Log__c</objectType>
    </variables>
    <variables>
        <name>VAR_FlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_FlowNode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_LogLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the errored record</description>
        <name>VAR_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_RecordInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Flow.FaultMessage</description>
        <name>VAR_StackTrace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_SystemErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
