SynProdGITV1/force-app/main/default/flows/SubFlow_Get_Recipient_for_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Acc_Team_Member</name>
        <label>Assign Acc Team Member</label>
        <locationX>468</locationX>
        <locationY>2450</locationY>
        <assignmentItems>
            <assignToReference>UserMemberId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Additional_Recipient</name>
        <label>Assign Additional Recipient</label>
        <locationX>248</locationX>
        <locationY>4166</locationY>
        <assignmentItems>
            <assignToReference>AdditionalRecipientEmailAddresses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assignAdditionalRecipient</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Employee_Email</name>
        <label>Assign Employee Email</label>
        <locationX>138</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Employees</name>
        <label>Assign Employees</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>EmployeeMemberId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Service_Team_Member.Employee_Team_Member__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>248</locationX>
        <locationY>2042</locationY>
        <assignmentItems>
            <assignToReference>UserMemberId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Case.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reported_By_Email</name>
        <label>Assign Reported By Email</label>
        <locationX>468</locationX>
        <locationY>3458</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Case.Reported_By__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Additional_Recipient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reporter</name>
        <label>Assign Reporter</label>
        <locationX>380</locationX>
        <locationY>2642</locationY>
        <assignmentItems>
            <assignToReference>UserMemberId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Case.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_User_Member_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Team_Member</name>
        <label>Assign Service Team Member</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ServiceTeamMembers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_and_Old_Service_Team_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Team_Member2</name>
        <label>Assign Service Team Member</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ServiceTeamMembers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Team_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Email</name>
        <label>Assign User Email</label>
        <locationX>336</locationX>
        <locationY>3074</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Users.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Users</name>
        <label>Assign Users</label>
        <locationX>534</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>UserMemberId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Service_Team_Member.User_Team_Member__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Additional_Recipient</name>
        <label>Concat Additional Recipient</label>
        <locationX>336</locationX>
        <locationY>3974</locationY>
        <assignmentItems>
            <assignToReference>assignAdditionalRecipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Additional_Recipients.Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignAdditionalRecipient</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Additional_Recipients</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Additional_Recipient</name>
        <label>Check Additional Recipient</label>
        <locationX>380</locationX>
        <locationY>3650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Additional_Recipient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdditionalRecipient</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Additional_Recipient</targetReference>
            </connector>
            <label>Has Additional Recipient</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Employee_Present</name>
        <label>Check Employee Present</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Include_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EmployeeMemberAbsent</defaultConnectorLabel>
        <rules>
            <name>Yes_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmployeeMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Member_Present</name>
        <label>Check User Member Present</label>
        <locationX>380</locationX>
        <locationY>2750</locationY>
        <defaultConnector>
            <targetReference>Is_Reported_By_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Member Absent</defaultConnectorLabel>
        <rules>
            <name>User_Member_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users</targetReference>
            </connector>
            <label>User Member Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Include_Owner</name>
        <label>Include Owner</label>
        <locationX>380</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncludeOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Include_Service_Team</name>
        <label>Include Service Team</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Include_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncludeTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Old_Service_Team_Included</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reported_By_Null</name>
        <label>Is Reported By Null?</label>
        <locationX>380</locationX>
        <locationY>3350</locationY>
        <defaultConnector>
            <targetReference>Assign_Reported_By_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Reported_By__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Reported_By__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Additional_Recipient</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_Service_Team_Included</name>
        <label>Old Service Team Included</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OldServiceTeam</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OldServiceTeam</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_and_Old_Service_Team_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Member_Type</name>
        <label>Team Member Type</label>
        <locationX>534</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Service_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Team_Member.Employee_Team_Member__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Employees</targetReference>
            </connector>
            <label>Employee</label>
        </rules>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Team_Member.User_Team_Member__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Users</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <description>Gets the email addresses for Service Team Members, Customer Caretaker, Key Account Manager, Creator</description>
    <environments>Default</environments>
    <formulas>
        <name>finalAdditionalRecipients</name>
        <dataType>String</dataType>
        <expression>LEFT({!assignAdditionalRecipient}, LEN({!assignAdditionalRecipient}) - 1)</expression>
    </formulas>
    <formulas>
        <name>URLBase</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_610}, FIND(&quot;/services&quot;, {!$Api.Enterprise_Server_URL_610}) - 1)</expression>
    </formulas>
    <interviewLabel>SubFlow - Get {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow - Get Recipient for Emails</label>
    <loops>
        <name>Account_Team_Members</name>
        <label>Account Team Members</label>
        <locationX>380</locationX>
        <locationY>2342</locationY>
        <collectionReference>Get_Account_Team_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Acc_Team_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Reporter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Contacts</name>
        <label>Contacts</label>
        <locationX>50</locationX>
        <locationY>1466</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Employee_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Include_Owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Additional_Recipients</name>
        <label>Loop Through Additional Recipients</label>
        <locationX>248</locationX>
        <locationY>3866</locationY>
        <collectionReference>Get_Additional_Recipient</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Concat_Additional_Recipient</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Additional_Recipient</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Service_Team_Member</name>
        <label>Service Team Member</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <collectionReference>ServiceTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Team_Member_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Employee_Present</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Users</name>
        <label>Users</label>
        <locationX>248</locationX>
        <locationY>2966</locationY>
        <collectionReference>Get_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_User_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Reported_By_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Team_Member</name>
        <label>Get Account Team Member</label>
        <locationX>380</locationX>
        <locationY>2234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Team_Members</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 )</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial Caretaker</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Global Key Account Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Additional_Recipient</name>
        <label>Get Additional Recipient</label>
        <locationX>248</locationX>
        <locationY>3758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Additional_Recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>AdditionalRecipient</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Name_Value_Pair__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Include_Service_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>EmployeeMemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_and_Old_Service_Team_Member</name>
        <label>Get New and Old Service Team Member</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Service_Team_Member</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Service_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Service_Team__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldServiceTeam</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Team_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Team_Member</name>
        <label>Get Service Team Member</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Service_Team_Member2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Service_Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Team_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>248</locationX>
        <locationY>2858</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>UserMemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AdditionalRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AdditionalRecipientEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>assignAdditionalRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployeeMemberId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncludeOwner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IncludeTeam</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OldServiceTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>UserMemberId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
