SynProdGITV1/force-app/main/default/flows/Task_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_14_Days_After_Due_Date</name>
        <label>Notify 14 Days After Due Date</label>
        <locationX>1634</locationX>
        <locationY>708</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notification_Type4.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>TaskOwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ScheduledDueDate_After_14Days_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_14_Days_Before_Due_Date</name>
        <label>Notify 14 Days Before Due Date</label>
        <locationX>578</locationX>
        <locationY>708</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notification_Type2.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>TaskOwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ScheduledDueDate_14Day</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_Effective_Category_Task_Creation</name>
        <label>Notify Effective Category Task  Creation</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>TaskOwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>EffectivenessCheck_Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>OnCreate_Effectivecheck_Category</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_Processor_on_Due_Date_a8f</name>
        <label>Notify Processor on Due Date</label>
        <locationX>1106</locationX>
        <locationY>708</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notification_Type3.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>TaskOwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ScheduledDueDate_After_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Task_Owners</name>
        <label>Assign Task Owners</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>TaskOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Owners2</name>
        <label>Assign Task Owners</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>TaskOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Owners3</name>
        <label>Assign Task Owners</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>TaskOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Owners4</name>
        <label>Assign Task Owners</label>
        <locationX>1634</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>TaskOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User4</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_task_is_Completed</name>
        <label>Check if task is Completed</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Task is Completed</defaultConnectorLabel>
        <rules>
            <name>Task_Not_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Effectiveness Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Type2</targetReference>
            </connector>
            <label>Task Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Task_is_Completed1</name>
        <label>Check if Task is Completed</label>
        <locationX>1238</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Task is Completed</defaultConnectorLabel>
        <rules>
            <name>Task_Not_Completed1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Effectiveness Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Type3</targetReference>
            </connector>
            <label>Task Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Task_is_Completed2</name>
        <label>Check if Task is Completed</label>
        <locationX>1766</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Task is Completed</defaultConnectorLabel>
        <rules>
            <name>Task_Not_Completed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Effectiveness Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Type4</targetReference>
            </connector>
            <label>Task Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Effectiveness_Check</name>
        <label>Is New Effectiveness Check</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Effectiveness Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EffectivenessCheck_Notification_Title</name>
        <dataType>String</dataType>
        <expression>&apos;Customer Complaint &apos; + {!$Record.Subject} + &apos; : &apos; + {!Get_Case_Details.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>Notification_Title</name>
        <dataType>String</dataType>
        <expression>&apos;Task Reminder &apos; + {!$Record.Subject}</expression>
    </formulas>
    <formulas>
        <name>RecordCreated</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>TaskOwnerId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.Id}</expression>
    </formulas>
    <interviewLabel>Task-After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task-After Insert Or Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Effective_Category_Task_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User2</name>
        <label>Get User</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_14_Days_Before_Due_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User3</name>
        <label>Get User</label>
        <locationX>1106</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Processor_on_Due_Date_a8f</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User4</name>
        <label>Get User</label>
        <locationX>1634</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_14_Days_After_Due_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Notification_Type</name>
        <label>Notification Type</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_Owners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MS_Team_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Notification_Type2</name>
        <label>Notification Type</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_Owners2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MS_Team_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Notification_Type3</name>
        <label>Notification Type</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_Owners3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MS_Team_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Notification_Type4</name>
        <label>Notification Type</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_Owners4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MS_Team_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Effectiveness_Check</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Due_Date_Time_14_days_before</name>
            <connector>
                <targetReference>Check_if_task_is_Completed</targetReference>
            </connector>
            <label>Due Date - 14 days before</label>
            <offsetNumber>-14</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ActivityDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Due_Date_Immediately</name>
            <connector>
                <targetReference>Check_if_Task_is_Completed1</targetReference>
            </connector>
            <label>Due Date - Immediately</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>ActivityDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Due_Date_14_days_After</name>
            <connector>
                <targetReference>Check_if_Task_is_Completed2</targetReference>
            </connector>
            <label>Due Date - 14 days After</label>
            <offsetNumber>14</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ActivityDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OnCreate_Effectivecheck_Category</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!Get_User.Name},
Kindly note that the Customer Complaint has been resolved. You have been assigned to perform an effectiveness check by {!$Record.ActivityDate}.

Best regards,
Your CRM Support Team

The mySalesForce system automatically generated this message.</text>
    </textTemplates>
    <textTemplates>
        <name>ScheduledDueDate_14Day</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!Get_User2.Name}
 Kindly note that the Effectiveness Check task has not been completed yet. Therefore, please close this task before {!$Record.ActivityDate}. 
 
 Best regards,
 Your CRM Support Team
 
 The mySalesForce system automatically generated this message.</text>
    </textTemplates>
    <textTemplates>
        <name>ScheduledDueDate_After_14Days_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!Get_User4.Name}, 
Kindly note that the Effectiveness Check task is overdue. Therefore, please take necessary action to close this task.

Best regards,
Your CRM Support Team

The mySalesForce system automatically generated this message.</text>
    </textTemplates>
    <textTemplates>
        <name>ScheduledDueDate_After_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!Get_User3.Name},
Kindly note that the Effectiveness Check task has not been completed yet. Therefore, please take necessary action to close this task.

Best regards,
Your CRM Support Team

The mySalesForce system automatically generated this message.</text>
    </textTemplates>
    <variables>
        <name>TaskOwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
