SynProdGITV1/force-app/main/default/flows/Trigger_External_System_Callout_via_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends the Post request to SAP System</description>
        <name>Make_a_Callout_to_SAP</name>
        <label>Make a Callout to SAP</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>Syn_SampleOrderCallout</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Log_an_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Syn_SampleOrderCallout</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <description>Triggers SAP Callout via Button  Send Data to SAP&apos; whenever the Integration gets failed due to some unexpected errors.</description>
    <environments>Default</environments>
    <interviewLabel>Trigger External System Callout via Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger External System Callout via Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Make_a_Callout_to_SAP</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Creates the log record if error comes while making callout</description>
        <name>Log_an_Error</name>
        <label>Log an Error</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Trigger SAP Callout via Button  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Make a Callout to SAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error occurred while making callout</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Get the recordId from Order</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
