SynProdGITV1/force-app/main/default/flows/User_Deactivation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Deactivation_Notification</name>
        <label>Deactivation Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Notificaton_Send_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Sending_Email3</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@synthomer.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SalesForce Account has been deactivated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Dear {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your SalesForce user has been deactivated after 60 days from last login.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For future activation, please, raise a &lt;a href=&quot;https://synserv.synthomer.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;SynServ ticket.&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your CRM Support Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The mySalesForce system automatically generated this message.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Remider_Notification</name>
        <label>Remider Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Notificaton_Send_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Sending_Email2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@synthomer.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SalesForce Account will be deactivated soon!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Dear {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Your SalesForce user will be deactivated soon due to your inactivity!&lt;/span&gt; To prevent deactivation please login in to &lt;a href=&quot;https://synthomer.my.salesforce.com/?ec=302&amp;amp;startURL=%2Fvisualforce%2Fsession%3Furl%3Dhttps%253A%252F%252Fsynthomer.lightning.force.com%252Flightning%252Fo%252FProduct_Category__c%252Fhome&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://synthomer.my.salesforce.com/&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your CRM Support Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The mySalesForce system automatically generated this message.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>X1st_Notification</name>
        <label>1st Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Notificaton_Send_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Sending_Email</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@synthomer.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SalesForce Account will be deactivated soon!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Dear {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your SalesForce user will be deactivated soon due to your inactivity! To prevent deactivation please login in to &lt;a href=&quot;https://synthomer.my.salesforce.com/?ec=302&amp;amp;startURL=%2Fvisualforce%2Fsession%3Furl%3Dhttps%253A%252F%252Fsynthomer.lightning.force.com%252Flightning%252Fo%252FProduct_Category__c%252Fhome&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://synthomer.my.salesforce.com/&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your CRM Support Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The mySalesForce system automatically generated this message.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Days_Since_Last_Login</name>
        <label>Days Since Last Login</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Less than 53</defaultConnectorLabel>
        <rules>
            <name>Equals_53_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceLastLogin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>53.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1st_Notification</targetReference>
            </connector>
            <label>Equals 53 Days</label>
        </rules>
        <rules>
            <name>Between_54_59_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceLastLogin</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>53.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysSinceLastLogin</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remider_Notification</targetReference>
            </connector>
            <label>Between 54 - 59 Days</label>
        </rules>
        <rules>
            <name>Equal_or_grater_than_60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceLastLogin</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_User</targetReference>
            </connector>
            <label>Equal or grater than 60</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Profile</name>
        <label>User Profile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Days_Since_Last_Login</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business User</defaultConnectorLabel>
        <rules>
            <name>System_Administrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <label>System Administrator?</label>
        </rules>
        <rules>
            <name>Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Analytics Cloud Integration User</stringValue>
                </rightValue>
            </conditions>
            <label>Integration User?</label>
        </rules>
    </decisions>
    <description>User Deactivation flow</description>
    <environments>Default</environments>
    <formulas>
        <description>Number of Days Since Last Login</description>
        <name>DaysSinceLastLogin</name>
        <dataType>Number</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.LastLoginDate})),TODAY() - DATEVALUE({!$Record.LastLoginDate}),0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>User - Deactivation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - Deactivation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Deactivate_User</name>
        <label>Deactivate User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Deactivation_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastLoginDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-12-01</startDate>
            <startTime>12:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Error_Sending_Email</name>
        <label>Error Sending Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>User Deactivation Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Sending_Email2</name>
        <label>Error Sending Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>User Deactivation Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Sending_Email3</name>
        <label>Error Sending Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>User Deactivation Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Notificaton_Send_Log</name>
        <label>Notificaton Send Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>User Deactivation Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Info</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
