SynProdGITV1/force-app/main/default/flows/Visit_After_Close_Notify_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Owners</name>
        <label>Notify Owners</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Visit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_An_Error_Chatter_Post</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>NotificationToOwnerOnCompletion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Parent_Visit.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <description>Visit-Notif_001 - Synthomer CRM Notification - 

This screen flow is launched from the “Completed Visit” button on the Visit record. It:

Fetches the Parent Visit as there will be n number of visits(child records) depending on the number of users. 

Posts a Chatter message to the Visit Owner mentioning the visit completion and key details (Account, Subject, Owner).

Checks the Visit Completed checkbox.

Displays a confirmation message: &quot;Visit marked as completed.&quot;</description>
    <environments>Default</environments>
    <interviewLabel>Visit - After Close - Notify User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visit - After Close - Notify User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Owner_Details</name>
        <label>Get Owner Details</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Owners</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_An_Error1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Visit_Details.Owner:User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Parent Visit</description>
        <name>Get_Parent_Visit</name>
        <label>Get Parent Visit</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_An_Error_Get_Visit</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsChild</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Visit_Details.ParentId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Visit_Details</name>
        <label>Get Visit Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Visit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_An_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Visit</name>
        <label>Update Visit</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>SuccessMessage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_An_Error4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Visit_Details.ParentId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Visit_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <screens>
        <name>SuccessMessage</name>
        <label>SuccessMessage</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>VisitCloseMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Visit Completed Successfully!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Visit_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_An_Error</name>
        <label>Log An Error</label>
        <locationX>1496</locationX>
        <locationY>242</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Error Sending Visit Close Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Visit - After Close - Notify User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Visit Details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_An_Error1</name>
        <label>Log An Error</label>
        <locationX>968</locationX>
        <locationY>458</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Error Sending Visit Close Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Visit - After Close - Notify User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Owner Details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_An_Error4</name>
        <label>Log An Error</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Error Updating Visit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Visit - After Close - Notify User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Update Visit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_An_Error_Chatter_Post</name>
        <label>Log An Error</label>
        <locationX>704</locationX>
        <locationY>566</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Error Sending Visit Close Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Visit - After Close - Notify User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Owner Details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Get_Parent_Visit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Get_Parent_Visit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_An_Error_Get_Visit</name>
        <label>Log An Error</label>
        <locationX>1232</locationX>
        <locationY>350</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Error Sending Visit Close Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Get Parent Visit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Get Visit Details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>Get_Parent_Visit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordInfo</name>
            <value>
                <elementReference>Get_Parent_Visit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>NotificationToOwnerOnCompletion</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear @[{!Get_Owner_Details.Id}],
Kindly note that the customer visit has been completed by @[{!$User.Id}].

Visit Details:
Account: {!Get_Visit_Details.Account.Name}
Subject: {!Get_Visit_Details.Subject}
Owner: {!Get_Owner_Details.Name}

Best regards,
Your CRM Support Team

The mySalesForce system automatically generated this message.</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhoIdName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
