SynProdGITV1/force-app/main/default/flows/Visit_Outcome_Display.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Get Visit Details</description>
        <name>Get_Visit_Details</name>
        <label>Get Visit Details</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <actionName>Syn_RetrieveVisitDetails</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_If_Visit_Outcome_Exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_an_Error1</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>visitIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Syn_RetrieveVisitDetails</nameSegment>
        <outputParameters>
            <assignToReference>VisitId</assignToReference>
            <name>VisitId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VisitOutcomeId</assignToReference>
            <name>VisitOutcomeId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Check_If_Visit_Outcome_Exist</name>
        <label>Check If Visit Outcome Exist ?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Not Exist</defaultConnectorLabel>
        <rules>
            <name>If_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VisitOutcomeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Outcome_Record</targetReference>
            </connector>
            <label>If Exist</label>
        </rules>
    </decisions>
    <description>Displays the visit outcome on the visit screen.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_valueChanged</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Outcome_Record.Outcome__c} &lt;&gt; {!Display.value}</expression>
    </formulas>
    <interviewLabel>Visit Outcome Display {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visit Outcome Display</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Outcome_Record</name>
        <label>Create Outcome Record</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Event_With_Outcome_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_An_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Call_Content_Minutes__c</field>
            <value>
                <elementReference>Call_Content_Minutes.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome__c</field>
            <value>
                <elementReference>output2.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_call_Preparation__c</field>
            <value>
                <elementReference>Pre_Call_Preparation.value</elementReference>
            </value>
        </inputAssignments>
        <object>Visit_Outcome__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Outcome_Record</name>
        <label>Get Outcome Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit_Outcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VisitOutcomeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit_Outcome__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event_With_Outcome_Id</name>
        <label>Update Event With Outcome Id</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <faultConnector>
            <targetReference>Log_An_Error_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VisitId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Visit_Outcome__c</field>
            <value>
                <elementReference>Create_Outcome_Record</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Outcome</name>
        <label>Update Outcome</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <faultConnector>
            <targetReference>Log_An_Error_3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VisitOutcomeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Content_Minutes__c</field>
            <value>
                <elementReference>Call_Content_Minutes_Edit.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome__c</field>
            <value>
                <elementReference>Display.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_call_Preparation__c</field>
            <value>
                <elementReference>Pre_Call_Preparation_Edit.value</elementReference>
            </value>
        </inputAssignments>
        <object>Visit_Outcome__c</object>
    </recordUpdates>
    <screens>
        <name>Create_Outcome</name>
        <label>Create Outcome</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Outcome_Record</targetReference>
        </connector>
        <fields>
            <name>Pre_Call_Preparation</name>
            <extensionName>c:inputRichTextFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableAdvancedTools</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pre-call Preparation / Agenda</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>output2</name>
            <extensionName>c:inputRichTextFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableAdvancedTools</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Visit Content / Minutes</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Call_Content_Minutes</name>
            <extensionName>c:inputRichTextFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Follow-up Actions</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;Please enter your visit outcome here and then click save.&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Outcome</name>
        <label>Edit Outcome</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Outcome</targetReference>
        </connector>
        <fields>
            <name>Pre_Call_Preparation_Edit</name>
            <extensionName>c:inputRichTextFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pre-call Preparation /Agenda</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Outcome_Record.Pre_call_Preparation__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display</name>
            <extensionName>c:inputRichTextFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>autoReplaceMap</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableAdvancedTools</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Outcome_Record.Outcome__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Visit Content / Minutes</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Call_Content_Minutes_Edit</name>
            <extensionName>c:inputRichTextFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Follow-up Actions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Outcome_Record.Call_Content_Minutes__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;If you are changing the visit outcome, please don&apos;t forget to click on the save button.&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Visit_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_An_Error</name>
        <label>Log An Error</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Error Creating Outcome Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Create Outcome Record Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Create Outcome Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_an_Error1</name>
        <label>Log an Error</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <flowName>Subflow_Create_Log</flowName>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Visit OutCome Display</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <elementReference>Get_Visit_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <stringValue>Error Occurred while getting the visit details from an invocable method</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_An_Error_1</name>
        <label>Log An Error</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Error Creating Outcome Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Create Outcome Record Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Create Outcome Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_An_Error_3</name>
        <label>Log An Error</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <flowName>Subflow_Screen_Log_Error</flowName>
        <inputAssignments>
            <name>VAR_DisplayMessage</name>
            <value>
                <stringValue>Error Creating Outcome Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowName</name>
            <value>
                <stringValue>Create Outcome Record Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_FlowNode</name>
            <value>
                <stringValue>Update Outcome</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_LogLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_StackTrace</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_SystemErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>f_saveclicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisitOutcomeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
